// Links
#{$ws2-content-styles-container-lite} :not(.btn) > a:not(.btn),
#{$ws2-content-styles-container-lite} .ui-widget-content :not(.btn) > a:not(.btn) {
  border-bottom: 1px solid $ws2-maroon;
  text-decoration: none;
  color: $ws2-maroon;
  &:focus,
  &:hover {
    color: $link-hover-color;
    text-decoration: none;
    border-bottom: none;
  }
}

#header, #asu_footer {
  a {
    border-bottom: transparent;
  }
}
