/**** TAB NAVIGATION *****/

.tabnav {
    cursor: pointer;
    color: #8C1D40;
    margin-top: 18px;
}

.item-list > .tabnav, .item-list > .ui-tabs-nav {
    display: inline-block;
    border-radius: 0;
}

body .ui-tabs .ui-tabs-nav li.ui-state-hover {
    border-top: none;
}

.tabnav-right {
    float: right;
    padding-left: 10px;
}

.tabnav-left {
    float: left;
    padding-right: 10px;

}

ul.quicktabs-style-nostyle li:hover, ul.quicktabs-style-nostyle li.active, .ui-tabs .ui-tabs-nav li.ui-state-hover, body .ui-tabs .ui-tabs-nav li.ui-state-active, .ui-tabs .ui-tabs-nav li.ui-tabs-selected {
    border-top: none;
    border-bottom: 5px solid #8C1D40;

}

body #content div .ui-tabs .ui-tabs-nav li a {
    border: none;
    color: black;
}

.webspark-panels-tabs-region > .item-list > .ui-tabs-nav {
    width: 100%;
}
