#footer {
background-color: #1e1e1e;

}

.megafoot h1 {
margin-bottom: 16px;
font-size: 16px;

line-height: 1.2;
color: #fff;
}

.megafoot h2 {
margin-bottom: 16px;
font-size: 21px;
font-weight: normal;
color: #fff;
}

.megafoot address {
color: #fff;
margin-bottom: 0;
font-weight: 200;
font-style: normal;
line-height: 1.44;
}

.megafoot .phone-link {
color: #fff;
border-bottom: 0;
}

.megafoot .big-foot-nav > li > a {
color: #ccc;
text-decoration: none;
border-bottom: 1px dotted #ccc;
}
.megafoot .big-foot-nav > li > a:hover,
.megafoot .big-foot-nav > li > a:focus {
	color: #fff;
	border-bottom: 1px dotted #fff;
}
.megafoot ul > li, .megafoot ol > li {
position: relative;
display: block;
}

.megafoot ul, .megafoot ol {
margin: 0;
padding: 0;
list-style: none;
}

.megafoot .contact-link {
color: #a9a9a9;
border-bottom: 1px dotted #a9a9a9;
}

.megafoot ul:before, .megafoot ul:after, .megafoot ol:before, .megafoot ol:after {
content: " ";
display: table;
}

.megafoot .btn {
	margin-bottom: 30px;
}

.megafoot ul:after, .megafoot ol:after {
clear: both;
}

.megafoot .social-media {
margin-bottom: 30px;
}

.megafoot .social-media > li > a {
margin-right: 10px;
font-size: 38px;
color: #a9a9a9;
border-bottom: 0;
}

.megafoot ul > li > a, .megafoot ol > li > a {
position: relative;
text-decoration: none;
}

.megafoot .social-media > li {
float: left;
}




.megafoot .little-foot {
padding-top: 40px;
padding-bottom: 40px;
background-color: #e5e5e5;
width:100%;
}

.little-foot-nav > li > a {
margin-right: 30px;
font-size: 18px;
font-weight: 400;
color: #333;
border-bottom: 0;
float:left;
}
.little-foot-nav > li > a:hover,
.little-foot-nav > li > a:focus {
	color: #595959;
}
.collapse.in {
display: block;
}

.megafoot {
padding-top: 20px;

}

.megafoot .big-foot-nav > li {
margin-bottom: 12px;
}

.megafoot-border {
	border-bottom: 1px solid #383d3e;
}

.big-foot-head .caret {
	float: right;
	margin-right: 30px;
}


@media (max-width: 991px) {
.megafoot h2 {
cursor: pointer;
}

}
