/**
 * Custom styles for the admin subtheme Webspark Seven
 */
/* Prevent full html format textarea from floating over right sidebar in Burr flipped */
#edit-body .form-textarea-wrapper textarea {
  clear: both;
}
/* Make add content link a more prominent button */
.page-admin-content ul.action-links {
 padding-left: 0;
}
.page-admin-content ul.action-links a {
  background-color: #a30046;
  background-image: none;
  border: 1px solid transparent;
  border-radius: 4px;
  display: block;
  padding: 6px 19px;
  font-size: 20px;
  line-height: 1.33;
  color: white;
}
.page-admin-content ul.action-links a:hover {
  background-color: #d23153;
  text-decoration: none;
}
