/** ----------------------------------------------
Carousel + Flex Slider CSS
-------------------------------------------------- */

/* White space customization */
.row.uto-carousel-wrapper {
    padding-top: 0.5em;
    padding-bottom: 0.5em;
}
.row.uto-carousel-wrapper .col-md-12 {
    padding: 0 0 1em 0;
}
.row.uto-carousel-wrapper .col-md-12 ul.slides li > .col-sm-6.carousel-slide-asset {
    padding-left: 0;
    padding-right: 0.5em;
}
.row.uto-carousel-wrapper .col-md-12 ul.slides li > .col-sm-6.carousel-slide-text {
    padding-left: 1em;
    padding-right: 0;
}

/** Flex Resets */
.slides,
.flex-control-nav,
.flex-direction-nav {
    margin: 0;
    padding: 0;
    list-style: none;
}
.flex-direction-nav {
    margin-bottom: 1em;
}

.pane-bundle-uto-carousel .flex-pauseplay span {
    text-transform: capitalize;
}

/** Flex Base */
.pane-bundle-uto-carousel .no-js .uto-flexslider .slides > li:first-child {
    display: block;
}

/*
 * Flex Direction Nav
 */
.pane-bundle-uto-carousel .flex-direction-nav {
    *height: 0;
    overflow: auto;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}
.pane-bundle-uto-carousel .flex-direction-nav li {
    display: inline;
}
.pane-bundle-uto-carousel .flex-direction-nav li:not(.btn) > a:not(.btn) {
    display: inline-block;
    padding: 5px 14px;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 4px;
    text-decoration: none;
    width: auto;
    z-index: 10;
    overflow: visible;
    cursor: pointer;
    -webkit-transition: all 500ms ease-in-out;
    -o-transition: all 500ms ease-in-out;
    transition: all 500ms ease-in-out;
    height: auto;
    margin: 0;
    position: relative;
    opacity: 100;
    border-bottom: 1px solid #ddd;
}
.pane-bundle-uto-carousel .flex-direction-nav .flex-next {
  right: 0px;
  text-align: inherit;
}
.pane-bundle-uto-carousel .flex-direction-nav a.flex-next:before {
   content: '';
}
.pane-bundle-uto-carousel .flex-direction-nav .flex-prev {
  left: 0px;
}
.pane-bundle-uto-carousel .flex-direction-nav a:before {
  font-family: inherit;
  font-size: inherit;
  display: inline-block;
  content: '';
}
.pane-bundle-uto-carousel .flex-direction-nav a.flex-next:before {
  content: '';
}
.pane-bundle-uto-carousel .flex-direction-nav li:not(.btn) > a:not(.btn):hover,
.pane-bundle-uto-carousel .flex-direction-nav li:not(.btn) > a:not(.btn):focus {
    text-decoration: none;
    background-color: #eee;
    border: 1px solid #ddd;
}
.pane-bundle-uto-carousel .flex-direction-nav a.flex-prev {
    float: left;
}
.pane-bundle-uto-carousel .flex-direction-nav a.flex-next {
    float: right;
}
.pane-bundle-uto-carousel .flex-direction-nav a.flex-prev:before {
    display: inline-block;
    margin-right: 10px;
    font-family: 'FontAwesome';
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    content: '\f104';
}
.pane-bundle-uto-carousel .flex-direction-nav a.flex-next:after {
    display: inline-block;
    margin-left: 10px;
    font-family: 'FontAwesome';
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    content: '\f105';
}
.pane-bundle-uto-carousel .flex-direction-nav .flex-disabled {
    color: #777;
}

/** Flex Pause/Play */
.pane-bundle-uto-carousel .flex-pauseplay a {
    display: block;
    width: 20px;
    height: 20px;
    position: absolute;
    bottom: 5px;
    left: 10px;
    opacity: 0.8;
    z-index: 10;
    overflow: hidden;
    cursor: pointer;
    color: #000;
}
.pane-bundle-uto-carousel .flex-pauseplay a:before {
    font-family: "uto-flexslider-icon";
    font-size: 20px;
    display: inline-block;
    content: '\f004';
}
.pane-bundle-uto-carousel .flex-pauseplay a:hover {
    opacity: 1;
}
.pane-bundle-uto-carousel .flex-pauseplay a .flex-play:before {
    content: '\f003';
}

/** Flex Nav */
.pane-bundle-uto-carousel .flex-control-nav {
    position: absolute;
    display: none;
    /* hide paging on mobile */
    left: 130px;
    right: 130px;
    text-align: center;
}
.pane-bundle-uto-carousel .flex-control-nav li {
    margin: 6px;
    display: inline-block;
    zoom: 1;
    *display: inline;
}

/** Flex Paging */
.pane-bundle-uto-carousel .flex-control-paging li a {
    position: relative;
    width: 27px;
    height: 27px;
    display: block;
    background: #fff;
    cursor: pointer;
    text-indent: -9999px;
    border-radius: 50%;
    border: 1px solid #b0b0b0;
}
.pane-bundle-uto-carousel .flex-control-paging li a.flex-active:before {
    content: "";
    position: absolute;
    top: 3px;
    left: 3px;
    display: block;
    width: 19px;
    height: 19px;
    border-radius: 50%;
    background-color: #505050;
    cursor: pointer;
}
.pane-bundle-uto-carousel .flex-control-thumbs {
    margin: 5px 0 0;
    position: static;
    overflow: hidden;
}
.pane-bundle-uto-carousel .flex-control-thumbs li {
    width: 25%;
    float: left;
    margin: 0;
}
.pane-bundle-uto-carousel .flex-control-thumbs img {
    width: 100%;
    display: block;
    opacity: .7;
    cursor: pointer;
    -webkit-transition: all 1s ease-in-out;
    -o-transition: all 1s ease-in-out;
    transition: all 1s ease-in-out;
}
.pane-bundle-uto-carousel .flex-control-thumbs img:hover {
    opacity: 1;
}
.pane-bundle-uto-carousel .flex-control-thumbs .flex-active {
    opacity: 1;
    cursor: default;
}
.pane-bundle-uto-carousel .flex-viewport {
    max-height: 2000px;
    -webkit-transition: all 1s ease-in-out;
    -o-transition: all 1s ease-in-out;
    transition: all 1s ease-in-out;
}
.pane-bundle-uto-carousel .loading .flex-viewport {
    max-height: 300px;
}

.pane-bundle-uto-carousel .flexslider-ws .slides li img {
  margin-bottom: 24px;
}

/** MEDIA RULES
--------------------------------*/

@media (min-width: 768px) {
    .pane-content .flex-slider-wrapper > .container,
    .pane-content .flex-control-wrapper > .container {
        width: 750px;
    }
}

@media (min-width: 992px) {
    .pane-content .flex-slider-wrapper > .container,
    .pane-content .flex-control-wrapper > .container
    {
        width: 970px;
    }
}

/* Flex Responsive */
@media screen and (min-width: 992px) {
    .pane-bundle-uto-carousel .flex-control-nav {
        display: block;
        /* show the paging */
    }
}

@media (min-width: 1200px) {
    .pane-content .flex-slider-wrapper > .container,
    .pane-content .flex-control-wrapper > .container
    {
        width: 1170px;
    }
}

@media (max-width: 767px) {
    .row.uto-carousel-wrapper ul.slides li > div h4 {
        margin-bottom: 0.5em;
    }
    .row.uto-carousel-wrapper .col-md-12 ul.slides li > .col-sm-6.carousel-slide-asset {
        padding-right: 0;
    }
    .row.uto-carousel-wrapper .col-md-12 ul.slides li > .col-sm-6.carousel-slide-text {
        padding-left: 0;
    }
}

