/** main width settings */
#page-page .section > .container .row-full .pane-bundle-asu-spotlight .pane-content { max-width: 100%; padding-left: 0; padding-right: 0; }
#page-page .section > .container .row-full .pane-bundle-asu-spotlight .pane-content ol.flex-control-nav > li:before, #page-page .section > .container .row-full .pane-bundle-asu-spotlight .pane-content ul.flex-direction-nav > li:before { content: inherit; }
#page-page .section > .container .row-full .pane-bundle-asu-spotlight .pane-content .flex-viewport > ul.slides { font-weight: inherit; vertical-align: inherit; }
#page-page .section > .container .row-full .pane-bundle-asu-spotlight .pane-content .flex-viewport > ul.slides > li::before { padding: inherit; margin: inherit; content: none; font-size: inherit; }
#page-page .section > .container .row-full .pane-bundle-asu-spotlight > h1.pane-title, #page-page .section > .container .row-full .pane-bundle-asu-spotlight > h2.pane-title { margin: 0 auto; max-width: 1170px !important; }

.slidecontainer { position: relative !important; }
.slidecontainer p { margin: 0 0 1.5em 0; padding: 0; color: #fff; font-size: 1.33em; line-height: 1.33em; font-weight: 900; text-shadow: 0 0 5px rgba(0, 0, 0, 0.5); }
.slidecontainer h1, .slidecontainer h2 { color: #fff; font-size: 3.75rem; font-weight: 900; line-height: 1; margin: 0; padding: 0.625rem 0; text-shadow: 0 0 5px rgba(0, 0, 0, 0.5); }
.slidecontainer h1 > a, .slidecontainer h2 > a { border-bottom: none; color: #fff; }

.blurbcontainer { display: block; position: absolute; top: 0; bottom: 0; left: 0; right: 0; margin: auto; height: auto; padding: 0.5em; width: 100%; /* Fix for IE9+; Capped below at 1170px */ max-width: 1170px; }
.blurbcontainer .btn { display: inline; margin-right: 1.25em; }
.blurbcontainer .btn:last-child { margin-right: 0; }

.flexslider .flex-direction-nav a { line-height: 2.5em; border: none; }

.slidecontainer .blurbcontainer > .blurbshell { position: absolute; }

.blurbcontainer > .blurbshell.top-left { top: 0.5em; left: 0.5em; }
.blurbcontainer > .blurbshell.top-center { top: 0.5em; left: 50%; transform: translate(-50%, 0%); }
.blurbcontainer > .blurbshell.top-right { top: 0.5em; right: 0.5em; }
.blurbcontainer > .blurbshell.mid-left { left: 0.5em; top: 50%; transform: translate(0%, -50%); }
.blurbcontainer > .blurbshell.mid-center { top: 50%; left: 50%; margin-right: -50%; transform: translate(-50%, -50%); }
.blurbcontainer > .blurbshell.mid-right { top: 50%; right: 0.5em; transform: translate(0%, -50%); }
.blurbcontainer > .blurbshell.bottom-left { bottom: 1.5em; left: 0.5em; }
.blurbcontainer > .blurbshell.bottom-center { bottom: 1.5em; left: 50%; margin-right: -50%; transform: translate(-50%, 0%); }
.blurbcontainer > .blurbshell.bottom-right { bottom: 1.5em; right: 0.5em; }
.blurbcontainer > .blurbshell.full-width { max-width: 100%; }
.blurbcontainer > .blurbshell.two-thirds { max-width: 66%; }
.blurbcontainer > .blurbshell.half-width { max-width: 50%; }
.blurbcontainer > .blurbshell.narrow-third { max-width: 34%; }

@media (max-width: 992px) { .slidecontainer h1, .slidecontainer h2 { font-size: 2.5rem; }
  .slidecontainer p { font-size: 1.125em; line-height: 1.125em; } }
@media (max-width: 768px) { .slidecontainer h1, .slidecontainer h2 { font-size: 2.5rem; }
  .slidecontainer p { overflow: hidden; white-space: nowrap; text-overflow: ellipsis; }
  .blurbcontainer .btn { font-size: 0.8125em; }
  .blurbcontainer > .blurbshell.top-left, .blurbcontainer > .blurbshell.top-center, .blurbcontainer > .blurbshell.top-right { top: 0.3em; } }
@media (max-width: 600px) { body .flexslider:hover .flex-next { opacity: 0.7; right: 10px; top: 120px; }
  body .flexslider:hover .flex-prev { opacity: 0.7; left: 10px; top: 120px; }
  .slidecontainer h1, .slidecontainer h2 { font-size: 1.875rem; }
  .slidecontainer .blurbcontainer > .blurbshell { max-width: 80%; } }
@media (max-width: 450px) { .slidecontainer .blurbcontainer > .blurbshell { max-width: 100%; }
  .slidecontainer h1, .slidecontainer h2 { font-size: 1.25rem; }
  .blurbcontainer .btn { font-size: 0.75em; } }
