/* =BUTTONS --- WS2.0 DONE
-------------------------------------------------------------- */
@import "variables";

@mixin buttons-style-base($color, $background) {
  color: $color;
  background-color: $background;
}

#tabs { // shrink height of View/Edit/Devel buttons!!
  .nav.nav-pills > li > a {
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
  }
}

// Hide TB Megamenu button
#tb-megamenu-main-menu > button.btn-navbar.tb-megamenu-button {
  display: none;
}

// DEFAULTS
.btn,
.pane-menu-tree .menu-block-wrapper ul.menu li a.btn-pane-menu-tree {   /* Button CSS for menu links added */
  -moz-user-select: none;
  background-image: none;
  border: 1px solid transparent;
  border-radius: $border-radius-circle;
  cursor: pointer;
  display: inline-block;
  font-size: 1em;
  font-weight: bold;
  line-height: 1em;
  margin-bottom: 0;
  max-width: $btn-max-width;
  min-width: $btn-min-width; // default (not -med)
  padding: $padding-base-vertical/2 $padding-base-horizontal/2;
  text-align: center;
  vertical-align: middle;
  white-space: nowrap;
  &.active,
  &:focus,
  &:active,
  &:active:focus,
  &.active:focus {
    background-image: none;
    outline: 0 none;
  }
  &:hover, &:focus {
    border: 1px solid transparent;
    text-decoration: none;
    transform: scale($btn-scale);
  }
  &.disabled, &[disabled], fieldset[disabled] .btn {
    box-shadow: none;
    cursor: not-allowed;
    opacity: $btn-disabled-opacity;
    pointer-events: none;
  }
}

// Primary button (WS2.0 - Maroon) - // Default button class added)
//////////////////////////////////
.btn-primary,
.btn-default,
.pane-menu-tree .menu-block-wrapper ul.menu li a.btn-pane-menu-tree.btn-primary,
.pane-menu-tree .menu-block-wrapper ul.menu li a.btn-pane-menu-tree.btn-default {
  @include buttons-style-base(#ffffff, $ws2-maroon);
  &:hover, &:focus, &:active {
    transform: scale($btn-scale);
  }
  &:hover, &:focus, &:active, &.active {
    color: $ws2-gray-lightest;
  }
  &:active, &.active {
    background-image: none;
  }
  &.disabled, &.disabled:hover, &.disabled:focus, &.disabled:active, &.disabled.active,
  &[disabled], &[disabled]:hover, &[disabled]:focus, &[disabled]:active, &.active[disabled] {
    opacity: $btn-disabled-opacity;
  }
  .badge {
    color: #fff;
  }
}
.open > .btn-primary.dropdown-toggle,
.open > .btn-default.dropdown-toggle {
  @include buttons-style-base($ws2-gray-lightest, $ws2-maroon);
  background-image: none;
}
fieldset[disabled] .btn-primary,
fieldset[disabled] .btn-default {
  opacity: $btn-disabled-opacity;
  &:hover, &:focus, &:active, &.active {
    opacity: $btn-disabled-opacity;
  }
}

// Secondary  (WS2.0 - Gray) button (WS1.0 Blue buttons will use this look - added that class)
//////////////////////////////////

.btn-secondary,
.btn-blue,
.pane-menu-tree .menu-block-wrapper ul.menu li a.btn-pane-menu-tree.btn-secondary,
.pane-menu-tree .menu-block-wrapper ul.menu li a.btn-pane-menu-tree.btn-blue {
  @include buttons-style-base($ws2-gray-darkest, $ws2-gray);
  &:hover, &:focus, &:active {
    transform: scale($btn-scale);
  }
  &:active, &.active {
    background-image: none;
  }
  &.disabled, &.disabled:hover, &.disabled:focus, &.disabled:active, &.disabled.active,
  &[disabled], &[disabled]:hover, &[disabled]:focus, &[disabled]:active, &.active[disabled] {
    opacity: $btn-disabled-opacity;
  }
  .badge {
    color: $ws2-gray-darkest;
  }
}
.open > .btn-secondary.dropdown-toggle,
.open > .btn-blue.dropdown-toggle {
  @include buttons-style-base($ws2-gray-darkest, $ws2-gray);
  background-image: none;
}
fieldset[disabled] .btn-secondary,
fieldset[disabled] .btn-blue {
  opacity: $btn-disabled-opacity;
  &:hover, &:focus, &:active, &.active {
    opacity: $btn-disabled-opacity;
  }
}

// Gold (WS2.0 - Gold) button
//////////////////////////////////

.btn-gold,
.pane-menu-tree .menu-block-wrapper ul.menu li a.btn-pane-menu-tree.btn-gold {
  @include buttons-style-base($ws2-gray-darkest, $ws2-gold);
  &:hover, &:focus, &:active {
    transform: scale($btn-scale);
  }
  &:active, &.active {
    background-image: none;
  }
  &.disabled, &.disabled:hover, &.disabled:focus, &.disabled:active, &.disabled.active,
  &[disabled], &[disabled]:hover, &[disabled]:focus, &[disabled]:active, &.active[disabled] {
    opacity: $btn-disabled-opacity;
  }
  .badge {
    color: $ws2-gold;
  }
}
.open > .btn-gold.dropdown-toggle {
  @include buttons-style-base($ws2-gray-darkest, $ws2-gold);
  background-image: none;
}
fieldset[disabled] .btn-gold {
  opacity: $btn-disabled-opacity;
  &:hover, &:focus, &:active, &.active {
    opacity: $btn-disabled-opacity;
  }
}

// Black button (WS2.0 - Black)
//////////////////////////////////
.btn-black,
.pane-menu-tree .menu-block-wrapper ul.menu li a.btn-pane-menu-tree.btn-black {
  @include buttons-style-base($ws2-gray-lightest, $ws2-gray-darkest);
  &:hover, &:focus, &:active {
    transform: scale($btn-scale);
  }
  &:active, &.active {
    background-image: none;
  }
  &.disabled, &.disabled:hover, &.disabled:focus, &.disabled:active, &.disabled.active,
  &[disabled], &[disabled]:hover, &[disabled]:focus, &[disabled]:active, &.active[disabled] {
    opacity: $btn-disabled-opacity;
  }
  .badge {
    color: $ws2-gray-lightest;
  }
}
.open > .btn-black.dropdown-toggle {
  @include buttons-style-base($ws2-gray-lightest, $ws2-gray-darkest);
  background-image: none;
}
fieldset[disabled] .btn-black {
  opacity: $btn-disabled-opacity;
  &:hover, &:focus, &:active, &.active {
    opacity: $btn-disabled-opacity;
  }
}

/* NOT ASU Web standards 2.0 colors - Bootstrap and/or alert color classes */

// Success button (WS2.0 - Green)
//////////////////////////////////
.btn-success {
  background-color: $ws2-green;
  color: #fff;
}
.btn-success:hover, .btn-success:focus, .btn-success:active, .btn-success.active, .open > .btn-success.dropdown-toggle {
  transform: scale($btn-scale);
}
.btn-success:active, .btn-success.active, .open > .btn-success.dropdown-toggle {
  background-image: none;
}
.btn-success.disabled, .btn-success.disabled:hover, .btn-success.disabled:focus, .btn-success.disabled:active, .btn-success.disabled.active, .btn-success[disabled], .btn-success[disabled]:hover, .btn-success[disabled]:focus, .btn-success[disabled]:active, .btn-success.active[disabled], fieldset[disabled] .btn-success, fieldset[disabled] .btn-success:hover, fieldset[disabled] .btn-success:focus, fieldset[disabled] .btn-success:active, fieldset[disabled] .btn-success.active {
  opacity: $btn-disabled-opacity;
}
.btn-success .badge {
  background-color: #fff;
  color: $ws2-green;
}

// Info button (WS2.0 - Blue)
//////////////////////////////////
.btn-info {
  background-color: $ws2-blue;
  border-color: $ws2-blue;
  color: #fff;
}
.btn-info:hover, .btn-info:focus, .btn-info:active, .btn-info.active, .open > .btn-info.dropdown-toggle {
  transform: scale($btn-scale);
}

.btn-info:active, .btn-info.active, .open > .btn-info.dropdown-toggle {
  background-image: none;
}

.btn-info.disabled, .btn-info.disabled:hover, .btn-info.disabled:focus, .btn-info.disabled:active, .btn-info.disabled.active, .btn-info[disabled], .btn-info[disabled]:hover, .btn-info[disabled]:focus, .btn-info[disabled]:active, .btn-info.active[disabled], fieldset[disabled] .btn-info, fieldset[disabled] .btn-info:hover, fieldset[disabled] .btn-info:focus, fieldset[disabled] .btn-info:active, fieldset[disabled] .btn-info.active {
  opacity: $btn-disabled-opacity;
}
.btn-info .badge {
  background-color: #fff;
  color: $ws2-blue;
}

// Warning button (WS2.0 - Gold)
//////////////////////////////////
.btn-warning {
  background-color: $ws2-orange;
  border-color: $ws2-orange;
  color: $ws2-gray-darkest;
}
.btn-warning:hover, .btn-warning:focus, .btn-warning:active, .btn-warning.active, .open > .btn-warning.dropdown-toggle {
  transform: scale($btn-scale);
}
.btn-warning:active, .btn-warning.active, .open > .btn-warning.dropdown-toggle {
  background-image: none;
}
.btn-warning.disabled, .btn-warning.disabled:hover, .btn-warning.disabled:focus, .btn-warning.disabled:active, .btn-warning.disabled.active, .btn-warning[disabled], .btn-warning[disabled]:hover, .btn-warning[disabled]:focus, .btn-warning[disabled]:active, .btn-warning.active[disabled], fieldset[disabled] .btn-warning, fieldset[disabled] .btn-warning:hover, fieldset[disabled] .btn-warning:focus, fieldset[disabled] .btn-warning:active, fieldset[disabled] .btn-warning.active {
  opacity: $btn-disabled-opacity;
}
.btn-warning .badge {
  background-color: $ws2-gray-darkest;
  color: $ws2-gold;
}

// Secondary button (WS2.0 - Maroon)
//////////////////////////////////
.btn-danger {
  background-color: #ec5937;
  border-color: #ad2e10;
  color: #fff;
}
.btn-danger:hover, .btn-danger:focus, .btn-danger:active, .btn-danger.active, .open > .btn-danger.dropdown-toggle {
  transform: scale($btn-scale);
}
.btn-danger:active, .btn-danger.active, .open > .btn-danger.dropdown-toggle {
  background-image: none;
}
.btn-danger.disabled, .btn-danger.disabled:hover, .btn-danger.disabled:focus, .btn-danger.disabled:active, .btn-danger.disabled.active, .btn-danger[disabled], .btn-danger[disabled]:hover, .btn-danger[disabled]:focus, .btn-danger[disabled]:active, .btn-danger.active[disabled], fieldset[disabled] .btn-danger, fieldset[disabled] .btn-danger:hover, fieldset[disabled] .btn-danger:focus, fieldset[disabled] .btn-danger:active, fieldset[disabled] .btn-danger.active {
  opacity: $btn-disabled-opacity;
}
.btn-danger .badge {
  background-color: #fff;
  color: #ec5937;
}

// "Link" button (WS2.0 - Maroon)
//////////////////////////////////
.btn-link {
  border-radius: 0;
  color: $ws2-maroon;
  cursor: pointer;
  font-weight: normal;
}
.btn-link, .btn-link:active, .btn-link[disabled], fieldset[disabled] .btn-link {
  background-color: transparent;
  box-shadow: none;
}
.btn-link, .btn-link:hover, .btn-link:focus, .btn-link:active {
  border-color: transparent;
}
.btn-link:hover, .btn-link:focus {
  background-color: transparent;
  color: $link-hover-color;
  text-decoration: underline;
}
.btn-link[disabled]:hover, .btn-link[disabled]:focus, fieldset[disabled] .btn-link:hover, fieldset[disabled] .btn-link:focus {
  opacity: $btn-disabled-opacity;
}

// Alternative buttons - Sizes, etc.
///////////////////////////////////

// Large == WS2.0 default as Large
.btn-lg, .btn-group-lg > .btn {
  border-radius: $border-radius-circle;
  font-size: 1em;
  padding: 1em 1.5em;
  min-width: $btn-min-width-lg;
}
// Sm == WS2.0 Medium
.btn-sm, .btn-group-sm > .btn {
  border-radius: $border-radius-circle;
  font-size: 0.875em;
  padding: $padding-small-vertical $padding-base-horizontal;
  min-width: $btn-min-width-sm;
}
// xs == WS2.0 Small
.btn-xs, .btn-group-xs > .btn,
.btn-tag {
  border-radius: $border-radius-circle;
  font-size: 0.75em;
  padding: $padding-xs-vertical ($padding-xs-horizontal*3);
  min-width: $btn-min-width-sm;
}
// WS2.0 Tag button (small)
.btn-tag {
  background-color: $ws2-gray-lighter;
  border-color: $ws2-gray-lighter;
  font-weight: normal;
}

// Buttons in a block element
.btn-block {
  display: block;
  width: 100%;
}
.btn-block + .btn-block {
  margin-top: 15px;
}

.button.browse {
  background: -moz-linear-gradient(center bottom , #e9eaec 0%, #fafafa 100%) repeat scroll 0 0 #fafafa;
  border: 1px solid $ws2-gray-light;
  border-radius: 3px;
  box-shadow: 0 3px 3px 0 $ws2-gray-light;
  color: $ws2-gray-dark;
  cursor: pointer;
  font: bold 12px/32px "Open Sans","Lucida Sans","Lucida Grande",verdana sans-serif;
  height: 33px;
  margin: 0 18px 0 0;
  outline: medium none;
  padding: 8px 13px;
  text-decoration: none;
}
.button.browse:hover {
  background: -moz-linear-gradient(center bottom , #c5c5c5 0%, #fafafa 100%) repeat scroll 0 0 #e6e6e6;
}

/* Buttons placed in the LH (secondary) menu */
//////////////////////////////////////////////////////////
.pane-menu-tree .menu-block-wrapper nav[aria-label="Secondary"] {
  ul.menu {
    li:not(.btn-container) + li.btn-container {
      border-top: 1px solid $ws2-gray-light;
    }
    li.btn-container + li:not(.btn-container) {
      margin-top: 0.9375em;
    }
  }
  & > ul.menu {
    & > li.btn-container.first > a {
      margin-top: 0;
    }
    li.btn-container ul.menu {
      margin-top: 0.9375em;
    }
    ul.menu li.btn-container {
      margin-left: 1.375em;
      margin-bottom: 0.9375em;
      & + li:not(.btn-container) {
        margin-left: 1.375em;
        & > a {
          margin-left: 0;
          padding-left: 1.375em;
        }
      }
    }
  }
}
