/**
 * Easy Breadcrumbs (main breadcrumbs for site)
 */
.easy-breadcrumb {
  background-color: transparent;
  margin: 2em 0;
  padding: 0;
  color: $ws2-gray-darker;
  font-size: 0.875em;
}

.easy-breadcrumb .easy-breadcrumb_segment-separator {
  padding: 0 0.3125rem; // 5px
}

.easy-breadcrumb a {
  border-bottom: 0 none;
}
