@import "variables";

.btn,
.pane-menu-tree .menu-block-wrapper ul.menu li a.btn-pane-menu-tree {   /* Button CSS for menu links added */
  -moz-user-select: none;
  background-image: none;
  border: 1px solid transparent;
  border-radius: $border-radius-circle;
  cursor: pointer;
  display: inline-block;
  font-size: 1em;
  font-weight: normal;
  line-height: 1em;
  margin-bottom: 0;
  padding: $padding-base-vertical $padding-base-horizontal;
  text-align: center;
  vertical-align: middle;
  white-space: nowrap;
}
.btn:focus, .btn:active:focus, .btn.active:focus {
  outline: 0 none;
}
.btn:hover, .btn:focus {
  border: 1px solid transparent;
  color: $asu-gray-darker;
  text-decoration: none;
  transform: scale($btn-scale);
}
.btn:active, .btn.active {
  background-image: none;
  outline: 0 none;
}
.btn.disabled, .btn[disabled], fieldset[disabled] .btn {
  box-shadow: none;
  cursor: not-allowed;
  opacity: $btn-disabled-opacity;
  pointer-events: none;
}
.btn-primary,
.pane-menu-tree .menu-block-wrapper ul.menu li a.btn-pane-menu-tree.btn-primary {
  background-color: $asu-maroon;
  color: #fff;
}
.btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active,
.open > .btn-primary.dropdown-toggle,
.pane-menu-tree .menu-block-wrapper ul.menu li a.btn-pane-menu-tree.btn-primary:hover,
.pane-menu-tree .menu-block-wrapper ul.menu li a.btn-pane-menu-tree.btn-primary:focus,
.pane-menu-tree .menu-block-wrapper ul.menu li a.btn-pane-menu-tree.btn-primary:active,
.pane-menu-tree .menu-block-wrapper ul.menu li a.btn-pane-menu-tree.btn-primary.active {
  transform: scale($btn-scale);
}
.btn-primary:active, .btn-primary.active, .open > .btn-primary.dropdown-toggle {
  background-image: none;
}
.btn-primary.disabled, .btn-primary.disabled:hover, .btn-primary.disabled:focus, .btn-primary.disabled:active, .btn-primary.disabled.active, .btn-primary[disabled], .btn-primary[disabled]:hover, .btn-primary[disabled]:focus, .btn-primary[disabled]:active, .btn-primary.active[disabled], fieldset[disabled] .btn-primary, fieldset[disabled] .btn-primary:hover, fieldset[disabled] .btn-primary:focus, fieldset[disabled] .btn-primary:active, fieldset[disabled] .btn-primary.active {
  opacity: $btn-disabled-opacity;
}
.btn-primary .badge {
  color: #fff;
}
.btn-secondary,
.pane-menu-tree .menu-block-wrapper ul.menu li a.btn-pane-menu-tree.btn-secondary {
  background-color: $asu-gray;
  color: $asu-gray-darkest;
}
.btn-secondary:hover, .btn-secondary:focus, .btn-secondary:active, .btn-secondary.active,
.open > .btn-secondary.dropdown-toggle,
.pane-menu-tree .menu-block-wrapper ul.menu li a.btn-pane-menu-tree.btn-secondary:hover,
.pane-menu-tree .menu-block-wrapper ul.menu li a.btn-pane-menu-tree.btn-secondary:focus,
.pane-menu-tree .menu-block-wrapper ul.menu li a.btn-pane-menu-tree.btn-secondary:active,
.pane-menu-tree .menu-block-wrapper ul.menu li a.btn-pane-menu-tree.btn-secondary.active {
  transform: scale($btn-scale);
}
.btn-secondary:active, .btn-secondary.active, .open > .btn-secondary.dropdown-toggle {
  background-image: none;
}
.btn-secondary.disabled, .btn-secondary.disabled:hover, .btn-secondary.disabled:focus, .btn-secondary.disabled:active, .btn-secondary.disabled.active, .btn-secondary[disabled], .btn-secondary[disabled]:hover, .btn-secondary[disabled]:focus, .btn-secondary[disabled]:active, .btn-secondary.active[disabled], fieldset[disabled] .btn-secondary, fieldset[disabled] .btn-secondary:hover, fieldset[disabled] .btn-secondary:focus, fieldset[disabled] .btn-secondary:active, fieldset[disabled] .btn-secondary.active {
  opacity: $btn-disabled-opacity;
}
.btn-secondary .badge {
  color: $asu-gray-darkest;
}
.btn-gold,
.pane-menu-tree .menu-block-wrapper ul.menu li a.btn-pane-menu-tree.btn-gold {
  background-color: $asu-gold;
  color: $asu-gray-darkest;
}
.btn-gold:hover, .btn-gold:focus, .btn-gold:active, .btn-gold.active, .open > .btn-gold.dropdown-toggle,
.pane-menu-tree .menu-block-wrapper ul.menu li a.btn-pane-menu-tree.btn-gold:hover,
.pane-menu-tree .menu-block-wrapper ul.menu li a.btn-pane-menu-tree.btn-gold:focus,
.pane-menu-tree .menu-block-wrapper ul.menu li a.btn-pane-menu-tree.btn-gold:active,
.pane-menu-tree .menu-block-wrapper ul.menu li a.btn-pane-menu-tree.btn-gold.active {
  transform: scale($btn-scale);
}
.btn-gold:active, .btn-gold.active, .open > .btn-gold.dropdown-toggle {
  background-image: none;
}
.btn-gold.disabled, .btn-gold.disabled:hover, .btn-gold.disabled:focus, .btn-gold.disabled:active,
.btn-gold.disabled.active, .btn-gold[disabled], .btn-gold[disabled]:hover, .btn-gold[disabled]:focus,
.btn-gold[disabled]:active, .btn-gold.active[disabled], fieldset[disabled] .btn-gold, fieldset[disabled]
.btn-gold:hover, fieldset[disabled] .btn-gold:focus, fieldset[disabled] .btn-gold:active, fieldset[disabled]
.btn-gold.active {
  background-color: $asu-gold;
}
.btn-gold .badge {
  background-color: $asu-gray-darkest;
  color: $asu-gold;
}
.btn-blue {
  background-color: $asu-gray;
  color: $asu-gray-darkest;
}
.btn-blue:hover, .btn-blue:focus, .btn-blue:active, .btn-blue.active, .open > .btn-blue.dropdown-toggle {
  transform: scale($btn-scale);
}
.btn-blue:active, .btn-blue.active, .open > .btn-blue.dropdown-toggle {
  background-image: none;
}
.btn-blue.disabled, .btn-blue.disabled:hover, .btn-blue.disabled:focus, .btn-blue.disabled:active, .btn-blue.disabled.active, .btn-blue[disabled], .btn-blue[disabled]:hover, .btn-blue[disabled]:focus, .btn-blue[disabled]:active, .btn-blue.active[disabled], fieldset[disabled] .btn-blue, fieldset[disabled] .btn-blue:hover, fieldset[disabled] .btn-blue:focus, fieldset[disabled] .btn-blue:active, fieldset[disabled] .btn-blue.active {
  opacity: $btn-disabled-opacity;
}
.btn-blue .badge {
  color: $asu-gray-darkest;
}
.btn-default {
  background-color: $asu-gray;
  color: $asu-gray-darkest;
  border-bottom: 1px solid $asu-gray !important; /* override innovation-main.css line 107 */
}
.btn-default:hover, .btn-default:focus, .btn-default:active, .btn-default.active, .open > .btn-default.dropdown-toggle {
  transform: scale($btn-scale);
  border: 1px solid $asu-gray !important; /* override innovation-main.css line 107 */
}
.btn-default:active, .btn-default.active, .open > .btn-default.dropdown-toggle {
  background-image: none;
}
.btn-default.disabled, .btn-default.disabled:hover, .btn-default.disabled:focus, .btn-default.disabled:active, .btn-default.disabled.active, .btn-default[disabled], .btn-default[disabled]:hover, .btn-default[disabled]:focus, .btn-default[disabled]:active, .btn-default.active[disabled], fieldset[disabled] .btn-default, fieldset[disabled] .btn-default:hover, fieldset[disabled] .btn-default:focus, fieldset[disabled] .btn-default:active, fieldset[disabled] .btn-default.active {
  opacity: $btn-disabled-opacity;
}
.btn-default .badge {
  background-color: $asu-gray-darker;
  color: whitesmoke;
}
.btn-success {
  background-color: $asu-green;
  color: #fff;
}
.btn-success:hover, .btn-success:focus, .btn-success:active, .btn-success.active, .open > .btn-success.dropdown-toggle {
  transform: scale($btn-scale);
}
.btn-success:active, .btn-success.active, .open > .btn-success.dropdown-toggle {
  background-image: none;
}
.btn-success.disabled, .btn-success.disabled:hover, .btn-success.disabled:focus, .btn-success.disabled:active, .btn-success.disabled.active, .btn-success[disabled], .btn-success[disabled]:hover, .btn-success[disabled]:focus, .btn-success[disabled]:active, .btn-success.active[disabled], fieldset[disabled] .btn-success, fieldset[disabled] .btn-success:hover, fieldset[disabled] .btn-success:focus, fieldset[disabled] .btn-success:active, fieldset[disabled] .btn-success.active {
  opacity: $btn-disabled-opacity;
}
.btn-success .badge {
  background-color: #fff;
  color: $asu-green;
}
.btn-info {
  background-color: $asu-blue;
  border-color: $asu-blue;
  color: #fff;
}
.btn-info:hover, .btn-info:focus, .btn-info:active, .btn-info.active, .open > .btn-info.dropdown-toggle {
  transform: scale($btn-scale);
}
.btn-info:active, .btn-info.active, .open > .btn-info.dropdown-toggle {
  background-image: none;
}
.btn-info.disabled, .btn-info.disabled:hover, .btn-info.disabled:focus, .btn-info.disabled:active, .btn-info.disabled.active, .btn-info[disabled], .btn-info[disabled]:hover, .btn-info[disabled]:focus, .btn-info[disabled]:active, .btn-info.active[disabled], fieldset[disabled] .btn-info, fieldset[disabled] .btn-info:hover, fieldset[disabled] .btn-info:focus, fieldset[disabled] .btn-info:active, fieldset[disabled] .btn-info.active {
  opacity: $btn-disabled-opacity;
}
.btn-info .badge {
  background-color: #fff;
  color: $asu-blue;
}
.btn-warning {
  background-color: $asu-gold;
  border-color: #72870f;
  color: $asu-gray-darkest;
}
.btn-warning:hover, .btn-warning:focus, .btn-warning:active, .btn-warning.active, .open > .btn-warning.dropdown-toggle {
  background-color: #98b514;
  border-color: #435009;
  color: $asu-gray-darkest;
}
.btn-warning:active, .btn-warning.active, .open > .btn-warning.dropdown-toggle {
  background-image: none;
}
.btn-warning.disabled, .btn-warning.disabled:hover, .btn-warning.disabled:focus, .btn-warning.disabled:active, .btn-warning.disabled.active, .btn-warning[disabled], .btn-warning[disabled]:hover, .btn-warning[disabled]:focus, .btn-warning[disabled]:active, .btn-warning.active[disabled], fieldset[disabled] .btn-warning, fieldset[disabled] .btn-warning:hover, fieldset[disabled] .btn-warning:focus, fieldset[disabled] .btn-warning:active, fieldset[disabled] .btn-warning.active {
  background-color: $asu-gold;
  border-color: #72870f;
}
.btn-warning .badge {
  background-color: $asu-gray-darkest;
  color: $asu-gold;
}
.btn-danger {
  background-color: #ec5937;
  border-color: #ad2e10;
  color: #fff;
}
.btn-danger:hover, .btn-danger:focus, .btn-danger:active, .btn-danger.active, .open > .btn-danger.dropdown-toggle {
  background-color: #db3a15;
  border-color: #751f0b;
  color: #fff;
}
.btn-danger:active, .btn-danger.active, .open > .btn-danger.dropdown-toggle {
  background-image: none;
}
.btn-danger.disabled, .btn-danger.disabled:hover, .btn-danger.disabled:focus, .btn-danger.disabled:active, .btn-danger.disabled.active, .btn-danger[disabled], .btn-danger[disabled]:hover, .btn-danger[disabled]:focus, .btn-danger[disabled]:active, .btn-danger.active[disabled], fieldset[disabled] .btn-danger, fieldset[disabled] .btn-danger:hover, fieldset[disabled] .btn-danger:focus, fieldset[disabled] .btn-danger:active, fieldset[disabled] .btn-danger.active {
  background-color: #ec5937;
  border-color: #ad2e10;
}
.btn-danger .badge {
  background-color: #fff;
  color: #ec5937;
}
.btn-link {
  border-radius: 0;
  color: $asu-maroon;
  cursor: pointer;
  font-weight: normal;
}
.btn-link, .btn-link:active, .btn-link[disabled], fieldset[disabled] .btn-link {
  background-color: transparent;
  box-shadow: none;
}
.btn-link, .btn-link:hover, .btn-link:focus, .btn-link:active {
  border-color: transparent;
}
.btn-link:hover, .btn-link:focus {
  background-color: transparent;
  color: #d23153;
  text-decoration: underline;
}
.btn-link[disabled]:hover, .btn-link[disabled]:focus, fieldset[disabled] .btn-link:hover, fieldset[disabled] .btn-link:focus {
  color: #777777;
  text-decoration: none;
}
.btn-lg, .btn-group-lg > .btn {
  border-radius: 4px;
  font-size: 20px;
  line-height: 1.33;
  padding: 12px 24px;
}
.btn-sm, .btn-group-sm > .btn {
  border-radius: 4px;
  font-size: 14px;
  line-height: 1.5;
  padding: 5px 12px;
}
.btn-xs, .btn-group-xs > .btn {
  border-radius: 4px;
  font-size: 14px;
  line-height: 1.5;
  padding: 1px 5px;
}
.btn-block {
  display: block;
  width: 100%;
}
.btn-block + .btn-block {
  margin-top: 15px;
}

.button.browse {
  background: -moz-linear-gradient(center bottom , #e9eaec 0%, #fafafa 100%) repeat scroll 0 0 #fafafa;
  border: 1px solid #ccc;
  border-radius: 3px;
  box-shadow: 0 3px 3px 0 #d2d2d2;
  color: #666;
  cursor: pointer;
  font: bold 12px/32px "Open Sans","Lucida Sans","Lucida Grande",verdana sans-serif;
  height: 33px;
  margin: 0 18px 0 0;
  outline: medium none;
  padding: 8px 13px;
  text-decoration: none;
}
.button.browse:hover {
  background: -moz-linear-gradient(center bottom , #c5c5c5 0%, #fafafa 100%) repeat scroll 0 0 #e6e6e6;
}

/* More for LH menu buttons */
.pane-menu-tree .menu-block-wrapper nav[aria-label="Secondary"] > ul.menu > li.btn-container.first > a {
  margin-top: 0;
}
.pane-menu-tree .menu-block-wrapper nav[aria-label="Secondary"] ul.menu li.btn-container + li:not(.btn-container) {
  margin-top: 0.9375em;
}
.pane-menu-tree .menu-block-wrapper nav[aria-label="Secondary"] ul.menu li:not(.btn-container) + li.btn-container {
  border-top: 1px solid #d7d7d7;
}
.pane-menu-tree .menu-block-wrapper nav[aria-label="Secondary"] > ul.menu ul.menu li.btn-container {
  margin-left: 1.375em;
  margin-bottom: 0.9375em;
}
.pane-menu-tree .menu-block-wrapper nav[aria-label="Secondary"] > ul.menu li.btn-container ul.menu {
  margin-top: 0.9375em;
}
.pane-menu-tree .menu-block-wrapper nav[aria-label="Secondary"] > ul.menu ul.menu li.btn-container + li:not(.btn-container) {
  margin-left: 1.375em;
}
.pane-menu-tree .menu-block-wrapper nav[aria-label="Secondary"] > ul.menu ul.menu li.btn-container + li:not(.btn-container) > a {
  margin-left: 0;
  padding-left: 1.375em;
}
