/* Global mixin library for multiple or all elements */

// Transitions for hover/focus
@mixin ws2-element-transition-global() {
  -webkit-transition: all 0.5s cubic-bezier(.19, 1, .19, 1) 0s;
  transition: all 0.5s cubic-bezier(.19, 1, .19, 1) 0s;
}
// Transitions for hover/focus
@mixin ws2-element-transition-button() {
  -webkit-transition: 0.1s ease-out;
  transition: 0.1s ease-out;
}

// Accessibility borders on focus
@mixin a11y-strong-focus($color: $input-border-focus) {
  outline: 2px solid $color;
  //@include box-shadow(0px 0px 5px $a11y-strong-focus-color);
  outline-offset: 0.25rem;
}

// Buttons
@mixin ws2-button-styling($type: 0.5rem) {
  display: inline-block;
  margin-top: $type;
  margin-bottom: 0;
  border: none;
  & > a {
    padding: 0;
    font-weight: bold !important;
    &:hover {
      text-decoration: none !important;
      border-bottom: none !important;
      color: inherit !important;
    }
  }
  &.btn-primary > a {
    background-color: $ws2-maroon !important;
    color: $ws2-gray-lightest !important;
  }
  &.btn-black > a {
    background-color: $ws2-gray-darkest !important;
    color: $ws2-gray-lightest !important;
  }
  &.btn-secondary > a {
    background-color: $ws2-gray-light !important;
    color: $ws2-gray-darkest !important;
  }
  &.btn-gold > a {
    background-color: $asu-gold !important;
    color: $ws2-gray-darkest !important;
  }
}

// Close (X) buttons for alerts, banners, etc.
@mixin ws2-close-button() {
  &.close {
    background-color: #fff;
    color: $text-color;
    font-size: 1.25em;
    font-weight: bold;
    opacity: 0.8;
    border: 1px solid $ws2-gray-light !important;
    padding: 0.25rem 0.5rem 0.25rem 0.58rem;
    margin: 0 0 $padding-base-vertical $padding-base-horizontal;
    border-radius: 1rem;
    height: 2rem;
    width: 2rem;
    &:hover {
      opacity: 1.0;
      color: $text-color;
      border-bottom-color: $ws2-gray-light;
      cursor: pointer;
    }
    & + p:empty {
      margin-top: -1rem;
      padding-top: 0;
      background-color: red !important;
    }
  }
}

//// 100% wide vs. 1170px
//@mixin container-width($which: 'centered', $margin: 'complete') {
//  @if $which == 'full' {
//    width: 100%;
//    padding-left: 0;
//    padding-right: 0;
//  } @else {
//    max-width: 1170px;
//    @if $margin == 'x-axis' {
//      margin-left: auto;
//      margin-right: auto;
//    } @else {
//      margin: 0 auto;
//    }
//  }
//}
