@charset "UTF-8";
/**************************************************************************
 * ASU iSearch Module
 * Department Tree Display
 *
 * @author : Colton Testamarck (colt@asu.edu)
 * @author : Sebastian Nievas (snievas@asu.edu)
 *************************************************************************/
ul.jqtree-tree .jqtree-element {
    padding: 5px;
}

body .jqtree-tree .jqtree-title {
    margin-left: 7px;
}

ul.jqtree-tree li.jqtree-selected > .jqtree-element > span.jqtree-title, ul.jqtree-tree li.jqtree-selected > .jqtree-element > .jqtree-folder-icon {
    color: #fff;
}

ul.jqtree-tree li.jqtree-selected > .jqtree-element, ul.jqtree-tree li.jqtree-selected > .jqtree-element a, ul.jqtree-tree li.jqtree-selected > .jqtree-element:hover {
    background: none;
    color: #fff;
    background-color: #a30046;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}

.jqtree-folder-icon {
    color: #a30046;
}

/**************************************************************************
 * Department Block Styling
 *************************************************************************/
#block-asu-directory-asu-directory-dept-hrc a:hover {
    text-decoration: none;
}

ul.jqtree-tree {
    margin-left: 18px;
}

ul.jqtree-tree a {
    cursor: pointer;
}

ul.jqtree-tree li.jqtree-selected > div, ul.jqtree-tree li.jqtree-selected > div:hover {
    background: none;
}

ul.jqtree-tree div {
    cursor: auto;
}

.jqtree_common.jqtree-title {
    cursor: pointer;
}

#asu_directory_hrc_buttons i {
    /*display: block;*/
    color: darkgray;
    /*font-size: .5em;*/
}

.asu_directory_dept_button:hover {
    cursor: pointer;
    color: black;
}

.asu_directory_dept_button a:hover {
    text-decoration: none;
}

.asu_directory_dept_button a {
    color: #960331;
}

.asu_directory_button_row {
    background-color: #eee;
    border-bottom: solid #ddd 2px;
    color: #960331;
    padding: .3em;
}

.asu_directory_dept_button {
    margin-right: .2em;
    border-radius: 5px;
    border: solid darkgray 1px;
    padding: 0 .2em 0 .2em;
}

/********
Isearch Compatibility
******/
#asu-dept-mgr-hierarchy .asu-directory-tree-hierarchy {
    border: none;
}

#asu-isearch-dept-picker-trigger {
    margin: 5px 0;
}

#asu-isearch-dept-picker-list {
    margin: 0;
    padding: 0;
    list-style: none;
}

#asu-isearch-dept-picker-list li {
    background: #ddd;
    border-radius: 5px;
    margin-bottom: 5px;
    padding: 5px 10px;
}

#asu-isearch-dept-picker-list li h4 {
    font-size: 1em;
    font-style: italic;
    margin: 10px 0;
}

#asu-isearch-dept-picker-list li span.fragment:before {
    content: " » ";
}

#asu-isearch-dept-picker-list li span.fragment.first:before {
    content: "";
}

#asu-isearch-dept-picker-list li span.tag {
    border-radius: 4px;
    margin: 0 5px;
    padding: 2px 5px;
}

#asu-isearch-dept-picker-list li span.tag.subdepts {
    background-color: #8C1D40;
    color: #fff;
}

#asu-isearch-dept-picker-list li span.tag.remove {
    cursor: pointer;
}

.asu-dept-picker {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    display: none;
}

.asu-dept-picker .standalone li.jqtree_common {
    display: none;
}

.asu-dept-picker .standalone li.jqtree_common.visible {
    display: block;
}

.asu-dept-picker.dialog-open {
    display: block;
    z-index: 2000;
}

.asu-dept-picker .dialog-title {
    background: #ddd;
    font-size: 14px;
    font-weight: bold;
    height: 50px;
    line-height: 30px;
    padding: 10px;
    box-sizing: border-box;
}

.asu-dept-picker .close-dialog {
    float: right;
    cursor: pointer;
    background: #ccc;
    padding: 0px 10px;
    border-radius: 20px;
}

.asu-dept-picker .tree-wrapper {
    height: 400px;
    overflow: scroll;
    box-sizing: border-box;
}

.asu-dept-picker .actions {
    background: #eee;
    height: 50px;
    padding: 10px;
    line-height: 20px;
    box-sizing: border-box;
    text-align: right;
}

.asu-dept-picker .actions .form-type-checkbox {
    display: inline-block;
    margin: 0 10px 0 0;
    line-height: 1em;
}

.asu-dept-picker .actions .form-submit {
    margin: 0 5px;
}

body #modalContent .asu-dept-picker .actions .form-submit.btn {
    margin: 0 5px;
    padding: 3px 20px;
}

.asu-dept-picker .asu-directory-tree-hierarchy {
    background: #fff;
    background-clip: padding-box;
    border: 10px solid rgba(0, 0, 0, 0.6);
    border-radius: 5px;
    margin: auto;
    margin-top: -250px;
    min-width: 320px;
    position: fixed;
    top: 50%;
    left: 25%;
    width: 50%;
}

@media screen and (max-width: 1024px) {
    .asu-dept-picker .asu-directory-tree-hierarchy .actions {
        height: 125px;
    }

    .asu-dept-picker .asu-directory-tree-hierarchy .actions .form-submit {
        display: block;
        width: 100%;
    }

    body #modalContent .asu-dept-picker .asu-directory-tree-hierarchy .actions .form-submit.btn {
        margin-bottom: 5px;
    }
}

.field-type-asu-isearch-dept-picker .col-md-4 {
    width: 33.33333%;
}

.field-type-asu-isearch-dept-picker .col-md-8 {
    width: 66.66663%;
}
