
/********************************************************************************************************************
Profile Page CSS
 ********************************************************************************************************************/


div.krumo-element {
    color: #000;
}

div.krumo-preview {
    color: #000;
}

/* hide the 2col style on the change layout page */
.panels-choose-layout a[href*="isearch_profile_2col"] {
    display: none;
}

.isearch-profile-2col .section.profile-header {
    margin-bottom: 25px;
}

.isearch-profile-2col .ui-tabs .ui-tabs-nav li:last-of-type a {
    border-right: thin solid #d7d7d7;
}

/*** need this to make sure all tabs stay on same line **/
.isearch-profile-2col .ui-tabs {
    margin-right: -15px;
}

.isearch-profile-2col .ui-tabs .ui-tabs-nav > li > a {

    margin-right: 0;
    border-radius: 0;
    font-size: 18px;
    color: #a9a9a9;
    border: none;
    border-left: thin solid #a9a9a9;
    border-top: thin solid #a9a9a9;
    padding: 10px 30px;
    border-right: none;
}

.isearch-profile-2col .ui-tabs .ui-tabs-nav li.ui-state-active a:link,
.isearch-profile-2col .ui-tabs .ui-tabs-nav li.ui-state-active a:visited {
    color: #a30046;
}

.field-name-field-isearch-tch-courses table tbody tr td:first-child {
    width: 30%;
}

.isearch-profile-contact .contact-region {
    margin-bottom: 10px;
    font-weight: 400;
}

.isearch-profile-contact .contact-region .pane-entity-field {
    display: -moz-inline-stack;
    display: inline-block;
    vertical-align: top;
    zoom: 1;
    margin-top: 5px;
}

.isearch-profile-contact .social-region {
    margin-bottom: 10px;
}

.isearch-profile-contact .social-region .pane-entity-field {
    display: -moz-inline-stack;
    display: inline-block;
    vertical-align: top;
    zoom: 1;
    *display: inline;
    margin-right: 15px;
}

.isearch-profile-contact .social-region .pane-entity-field:last-of-type {
    margin-right: 0;
}

.isearch-profile-contact .social-region a {
    font-size: 20px;
    border-bottom: none;
}

.field-name-field-isearch-google-scholar a:before {
    content: '\f1a0';
    font-family: FontAwesome;
    margin-right: 5px;
}

/*** EXPERTISE AREAS **/
.pane-node-field-isearch-expertise-areas {
    border-top: 8px solid #a30046;
    margin-bottom: 24px;
    margin-top: 50px;
    padding: 30px;
    position: relative;
}

.pane-node-field-isearch-expertise-areas:before {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    display: block;
    width: 100%;
    height: 100%;
    content: "";
    border-right: 1px solid #e9e9e9;
    border-bottom: 1px solid #e9e9e9;
    border-left: 1px solid #e9e9e9;
}

.pane-node-field-isearch-expertise-areas .pane-title {
    font-size: 21px;
    font-weight: normal;
    margin: 0 0 24px;
}

.pane-node-field-isearch-expertise-areas .pane-content .field-name-field-isearch-expertise-areas .links {
    margin: 0;
    padding: 0;
}

.pane-node-field-isearch-expertise-areas .pane-content .field-name-field-isearch-expertise-areas .links li {
    list-style: none;
}

.pane-node-field-isearch-expertise-areas .pane-content .field-name-field-isearch-expertise-areas .links li a {
    position: relative;
    display: block;
    padding: 10px 5px;
    font-weight: normal;
    background-color: white;
    border-top: 1px solid #d7d7d7;
    font-size: 18px;
    border-bottom: none;
}

.pane-node-field-isearch-expertise-areas .pane-content .field-name-field-isearch-expertise-areas .links li a:hover {
    background-color: whitesmoke;
    font-weight: bold;
}

.pane-node-field-isearch-affiliations .quicktabs-style-isearch {
    border: none;
    padding: 0;
}

.pane-node-field-isearch-affiliations .quicktabs-style-isearch ul.quicktabs-tabs.quicktabs-style-isearch {
    border: none;
}

.pane-node-field-isearch-affiliations .quicktabs-style-isearch ul.quicktabs-tabs.quicktabs-style-isearch > li.active {
    border-bottom: 5px solid #a30046;
    border-top: none;
}

.pane-node-field-isearch-affiliations .quicktabs-style-isearch ul.quicktabs-tabs.quicktabs-style-isearch > li.active > a:link, .pane-node-field-isearch-affiliations .quicktabs-style-isearch ul.quicktabs-tabs.quicktabs-style-isearch > li.active > a:visited {
    color: #2a2a2a;
}

.pane-node-field-isearch-affiliations .quicktabs-style-isearch ul.quicktabs-tabs.quicktabs-style-isearch > li {
    border: none;
    height: auto;
    min-height: auto;
    padding: 10px 15px;
}

.pane-node-field-isearch-affiliations .quicktabs-style-isearch ul.quicktabs-tabs.quicktabs-style-isearch > li > a {
    border: none;
    font-size: 16px;
    padding: 0;
}

.pane-node-field-isearch-affiliations .quicktabs-style-isearch ul.quicktabs-tabs.quicktabs-style-isearch > li > a:link, .pane-node-field-isearch-affiliations .quicktabs-style-isearch ul.quicktabs-tabs.quicktabs-style-isearch > li > a:visited {
    color: #2a2a2a;
    font-weight: bold;
}

.pane-node-field-isearch-affiliations .quicktabs-style-isearch ul.quicktabs-tabs.quicktabs-style-isearch > li:last-of-type > a {
    border: none;
}

.pane-node-field-isearch-affiliations .quicktabs-style-isearch.quicktabs_main {
    border: none;
    border-top: thin solid #a9a9a9;
    padding: 5px 0 0 0;
}

.pane-node-field-isearch-affiliations .quicktabs-style-isearch .quicktabs-tabpage {
    margin-top: 0;
}

.pane-node-field-isearch-affiliations .quicktabs-style-isearch .quicktabs-tabpage .field-collection-item-field-isearch-affiliations .content {
    min-height: 50px;
}

.pane-node-field-isearch-affiliations .quicktabs-style-isearch .quicktabs-tabpage .field-collection-item-field-isearch-affiliations .content .field {
    display: -moz-inline-stack;
    display: inline-block;
    vertical-align: top;
    zoom: 1;
    *display: inline;
    padding: 0;
    margin-right: 10px;
}

.pane-node-field-isearch-affiliations .quicktabs-style-isearch .quicktabs-tabpage .field-collection-item-field-isearch-affiliations .content .field .field-label {
    font-weight: normal;
    margin: 0;
    padding: 0;
    font-size: 16px;
}

.pane-node-field-isearch-affiliations .quicktabs-style-isearch .quicktabs-tabpage .field-collection-item-field-isearch-affiliations .content .field .field-items {
    display: inline;
    font-weight: normal;
}

.pane-node-field-isearch-affiliations .quicktabs-style-isearch .quicktabs-tabpage .field-collection-item-field-isearch-affiliations .content .field .field-items .field-item {
    font-weight: normal;
}

.pane-node-field-isearch-affiliations .quicktabs-style-isearch .quicktabs-tabpage .field-collection-item-field-isearch-affiliations .content .field .field-items .field-item:after {
    content: ", ";
    color: #2a2a2a;
    display: inline;
    position: absolute;
}

.pane-node-field-isearch-affiliations .quicktabs-style-isearch .quicktabs-tabpage .field-collection-item-field-isearch-affiliations .content .field:last-of-type .field-items .field-item:after {
    content: "";
}

.isearch-directory-list .view-header {
    margin: 10px 0;
}

.isearch-directory-list .view-header .views-row {
    background: none;
    border-top: 0;
    font-weight: bold;
    padding: 0 20px;
}

.isearch-directory-list .view-header .views-row:first-of-type {
    border-top: 0;
}

.isearch-directory-list .view-header .views-row a {
    border-bottom: 0;
    color: #2a2a2a;
}

.isearch-directory-list .views-row {
    border-top: 1px solid #C7C7C7;
    padding: 20px;
}

.isearch-directory-list .views-row:first-of-type {
    border-top: 2px solid #B5B6B5;
}

.isearch-directory-list .views-row .user-photo {
    text-align: center;
    max-width: 120px;
    padding: 0;
}

.isearch-profile-photo {
    max-height: 180px;
    overflow: hidden;
}

.isearch-directory-list .views-row-odd {
    background: #FAFAFA;
}

.isearch-directory-list .item-list .pager {
    margin: 20px 0;
}




/*
.field-type-asu-directory .pagination .pager-current {
    background-color: #a90044;
    color: white;
    margin-left: -1px !important;
    margin-right: 0px !important;
    font-weight: normal !important;
    border: 1px solid #a90044;
}*/

.isearch-directory-list .pager li.first {
    margin-left: 0;
    border-bottom-left-radius: 4px;
    border-top-left-radius: 4px;
}

.isearch-directory-list .pager li.last {
    border-bottom-right-radius: 4px;
    border-top-right-radius: 4px;
}

.isearch-directory-list .item-list .pager li {
    background-image: none;
    display: inline;
    list-style-type: none;
    padding: 0;
}

.isearch-directory-list .form-item-field-isearch-affil-title-value select {
    min-width: 200px;
}

.isearch-a-z-index {
    text-align: center;
    margin: 10px 0;
}

.isearch-a-z-index li {
    display: inline;
}

.isearch-a-z-index li a {
    margin: 10px;
}

.isearch-expertise-people .view-content .views-row {
    display: inline;
}

.isearch-expertise-people .view-content .views-row:last-of-type:after {
    content: none;
}

.isearch-expertise-people .view-content .views-row:after {
    content: ",";
    margin-left: -2px;
}

.isearch-expertise-people .view-content .views-row p {
    display: inline;
}

.isearch-profile-content .ui-tabs .ui-tabs-panel {
    padding: 0;
    margin-top: 40px;
}

.isearch-profile-content .ui-tabs .ui-tabs-panel .panel-pane .pane-title {
    font-size: 18px;
    margin-bottom: 15px;
    margin-top: 0;
    font-weight: bold;
}

.isearch-profile-content .ui-tabs .ui-tabs-panel .pane-content .field {
    padding-bottom: 25px;
}

.isearch-profile-content .ui-tabs .ui-tabs-panel .pane-content .field-label {
    font-size: 18px;
    margin-bottom: 15px;
    font-weight: bold;
}

.view-isearch-affiliations .view-content .nav-tabs > li.active {
    border-bottom: 5px solid #a30046;
    border-top: none;
}

.view-isearch-affiliations .view-content .nav-tabs > li.active > a:link, .view-isearch-affiliations .view-content .nav-tabs > li.active > a:visited {
    color: #2a2a2a;
    border: none;
}

.isearch-profile-content .ui-tabs-nav li {
    margin-bottom: -1px;
}

body .isearch-profile-content .ui-tabs-nav li.ui-state-active {
    background-color: white;
}


.view-isearch-affiliations .view-content .nav-tabs > li {
    border: none;
    height: auto;
    min-height: auto;
    padding: 10px 15px;
}

.view-isearch-affiliations .view-content .nav-tabs > li > a {
    border: none;
    font-size: 16px;
    padding: 0;
}

.view-isearch-affiliations .view-content .nav-tabs > li > a:link, .view-isearch-affiliations .view-content .nav-tabs > li > a:visited {
    color: #2a2a2a;
    font-weight: bold;
}

.view-isearch-affiliations .view-content .nav-tabs > li:last-of-type > a {
    border: none;
}

.view-isearch-affiliations .view-content .nav-tabs > li.open a {
    background: none;
    border: none;
}

.view-isearch-affiliations .view-content .tab-content {
    margin-top: 15px;
    min-height: 50px;
}

.view-isearch-affiliations .view-content .tab-content .tab-pane .views-field {
    display: -moz-inline-stack;
    display: inline-block;
    vertical-align: top;
    zoom: 1;
    *display: inline;
    font-weight: normal;
    margin-right: 6px;
}

.view-isearch-affiliations .view-content .tab-content .tab-pane .views-field:last-of-type .field-content:after {
    content: "";
}

.view-isearch-affiliations .view-content .tab-content .tab-pane .views-field .field-content {
    display: -moz-inline-stack;
    display: inline-block;
    vertical-align: top;
    zoom: 1;
    *display: inline;
}

.view-isearch-affiliations .view-content .tab-content .tab-pane .views-field .field-content:after {
    content: ", ";
    display: inline;
    position: absolute;
}

@media (max-width: 600px) {
    .isearch-profile-contact .contact-region .pane-entity-field {
        display: block;
        text-align: center;
        margin-bottom: 15px;
    }

    .isearch-profile-contact .social-region {
        text-align: center;
        margin-bottom: 15px;
    }

    .isearch-profile-2col .ui-tabs-nav > li > a {
        font-size: 14px;
    }

    .isearch-profile-2col .ui-tabs .ui-tabs-nav li a {
        font-size: 14px;
        padding: 10px 8px;
    }
}

@media (max-width: 930px) {
    .pane-node-field-isearch-prof-picture {
        max-height: 250px;
        text-align: center;
        margin-bottom: 20px;
    }
}

@media (min-width: 992px) {

    .views-field-field-isearch-local-photo-url img {
        padding-left: 0;
        width: 100%;

    }

    .views-field-field-isearch-local-photo-url .field-content, #views-form-isearch-admin-admin-list img {
        max-height: 155px;
        overflow: hidden;
    }
}

#views-form-isearch-admin-admin-list img {
    width: auto;
    max-height: 155px;
    overflow: hidden;
}

/* Alpha bar new */

.asu-isearch-alpha-bar .col-md-12 {
    margin-bottom: 10px;
}

body .field-type-asu-directory .asu-isearch-alpha-bar.row {
    margin-top: 10px;
}

.alphabet {
    list-style-type: none;
    padding: 0;
    cursor: pointer;
    width: 100%;
    text-align: center;
}

.alphabet li {
    float: left;
    margin: 0;
    padding-top: 5px;
    padding-right: 0;
    padding-left: 0;
    padding-bottom: 25px;
    font-size: 16px;
    -moz-box-sizing: border-box;
    color: #a90044;
    display: inline-block;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    width: 3.70%;
    font-weight: 400;
}

.alphabet li:last-child {
    border-right: none;
}

.alphabet li:hover {
    color: white;
    background-color: #a90044;
}

.alphabet li.active-letter {
    color: white;
    background-color: #a90044;
}

.isearch-profile-content .pane-content {
    font-size: 14px;
    -webkit-font-smoothing: antialiased;
    font-weight: normal;
}

.isearch-profile-content {
    margin-bottom: 100px;
}

.pane-node-field-isearch-city {
    margin-left: 8px;
}


/*************************************************************************************************
Affiliation View CSS
 *************************************************************************************************/
.affiliations-region .panel {
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    border: none;
}

.affiliations-region .panel .panel-body {
    margin-top: -15px;
}

.view-id-isearch_affiliations h4.panel-title .accordion-toggle {
    font-family: Arial, Helvetica, "Nimbus Sans L", "Liberation Sans", FreeSans, sans-serif;
    font-size: 1.1em;
    font-weight: bold;
    color: #212121;
    text-decoration: none;
}

.view-id-isearch_affiliations .views-field-field-isearch-affil-title {
    font-weight: bold;
    font-size: .92em;
}

.affiliations-region .panel-default > .panel-heading {
    background-color: #FBFBFB;
}

.affiliations-region .panel-group .panel-heading + .panel-collapse .panel-body {
    border-top: 0;
}

.affiliations-region .view-isearch-affiliations .panel-heading h4 a {
    border-bottom: none;
}

.view-id-isearch_affiliations .views-field-field-isearch-affil-dept-name {
    font-weight: bold;
    font-size: .92em;
}

.view-id-isearch_affiliations .views-field-field-isearch-affil-campus,
.view-id-isearch_affiliations .views-field-field-isearch-affil-mailcode {
    margin-left: 5px;
}

.view-id-isearch_affiliations .views-field-field-isearch-affil-empl-type, .view-id-isearch_affiliations .views-field-field-isearch-affil-empl-type .field-content,
.view-id-isearch_affiliations .views-field-field-isearch-affil-campus, .view-id-isearch_affiliations .views-field-field-isearch-affil-campus .field-content,
.view-id-isearch_affiliations .views-field-field-isearch-affil-mailcode, .view-id-isearch_affiliations .views-field-field-isearch-affil-mailcode .field-content {
    display: inline;
    margin-right: -5px;
    font-size: .92em;
}

.view-id-isearch_affiliations .views-field-field-isearch-affil-empl-type::after,
.view-id-isearch_affiliations .views-field-field-isearch-affil-campus::after {
    content: ", ";
}

/***
Accordion
 */
.accordion-toggle:before {
    font-family: FontAwesome;
    top: 0;
    left: -5px;
    padding-right: 10px;
    content: "\25BE";
  border-bottom: 2px solid white;
}

.accordion-toggle.collapsed:before {
    content: "\25B8";
}

.view-id-isearch_affiliations .panel-body {
    padding-top: .6em;
    padding-left: 2.2em;
}

.affiliations-region .view-isearch-affiliations .panel-heading h4 {
    color: #a30056;
    font-weight: normal;
    text-decoration: none;
    font-size: .9em;
}

.view-id-isearch_affiliations .panel-heading {
    padding-left: .5em;
}

.view-id-isearch_affiliations .views-field-field-isearch-affil-dept-name {
    font-weight: bold;

}

/*******************************************************************************************************************
Profile List View CSS
 *******************************************************************************************************************/

.view-id-isearch_directory .views-field.user-name {
    font-weight: 400;
}

.view-id-isearch_directory .views-field.user-name .title {
    font-weight: bold;
}


