.affiliations-region .panel {
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    border: none;
}

.affiliations-region .panel .panel-body {
    margin-top: -15px;
}

.affiliations-region, .affiliations-region h4 {
    font-family: Verdana, Arial, sans-serif;
}

.affiliations-region .panel-default > .panel-heading {
    background-color: #FBFBFB;
}

.affiliations-region .panel-group .panel-heading + .panel-collapse .panel-body {
    border-top: 0;
}

.affiliations-region .view-isearch-affiliations .panel-heading h4 {
    color: #a30056;
    font-weight: normal;
    text-decoration: none;
}

.affiliations-region .view-isearch-affiliations .panel-heading h4 a {
    border-bottom: none;
}

.view-id-isearch_affiliations .views-field-field-isearch-affil-dept-name {
    font-weight: bold;
    font-size: .92em;
}

.view-id-isearch_affiliations .views-field-field-isearch-affil-campus,
.view-id-isearch_affiliations .views-field-field-isearch-affil-mailcode {
    margin-left: 5px;
}

.view-id-isearch_affiliations .views-field-field-isearch-affil-empl-type, .view-id-isearch_affiliations .views-field-field-isearch-affil-empl-type .field-content,
.view-id-isearch_affiliations .views-field-field-isearch-affil-campus, .view-id-isearch_affiliations .views-field-field-isearch-affil-campus .field-content,
.view-id-isearch_affiliations .views-field-field-isearch-affil-mailcode, .view-id-isearch_affiliations .views-field-field-isearch-affil-mailcode .field-content {
    display: inline;
    margin-right: -5px;
    font-size: .92em;
}

.view-id-isearch_affiliations .views-field-field-isearch-affil-empl-type::after,
.view-id-isearch_affiliations .views-field-field-isearch-affil-campus::after {
    content: ", ";
}
