.asu-news-full-block {
    min-height: 440px;
    .asu-block {
        &-left {
            margin-bottom: 20px;
            padding-left: 0;
            padding-right: 0;

            @include respond-to-min(large) {
                margin: 0;
            }


            img {
                margin: 0 auto;
                display: block;
                width: 365px;
                height: 365px;
                object-fit: cover;

                @include respond-to-max(xsmall) {
                    max-width: 100%;
                }
            }

            .featured {
                &.news-featured-teaser {
                    @include respond-to-min(medium) {
                        flex-direction: row;
                    }


                    .featured-left {
                        @include respond-to-min(medium) {
                            width: 365px;
                        }
                    }
                }

                @include respond-to-min(large) {
                    display: flex;
                    flex-direction: column;
                }


                &-left {
                    flex-shrink: 0;
                }

                &-right {
                    padding: 0;
                    position: relative;

                    @include respond-to-min(large) {
                        padding: 50px 15px 0;
                    }


                    .featured-saf {
                        background: $black-two;
                        color: white;
                        height: 45px;
                        display: flex;
                        align-items: center;
                        justify-content: center;

                        @include respond-to-min(large) {
                            align-items: center;
                            padding-left: 14px;
                            position: absolute;
                            left: 0;
                            top: 0;
                            width: 288px;
                            justify-content: flex-start;
                        }
                    }
                }
            }
        }

        &-right {
            @include respond-to-min(large) {
                display: flex;
                flex-direction: column;
                height: 367px;
            }


            article {
                flex: auto 0 0;
                display: flex;
                align-items: center;

                @include respond-to-min(large) {
                    margin: 0 auto 20px;
                }


                &:not(:last-child) {
                    border-bottom: 1px solid $white-two;
                    margin-bottom: 20px;
                    padding-top: 0;

                    @include respond-to-max(medium) {
                        padding-top: 20px;
                    }
                }

                h3 {
                    margin-top: 0;
                    line-height: 1.4;
                    @include fontSize(18px);
                    margin: 0;

                    a {
                        @extend %medium;

                        line-height: 1.4;
                        border: none;
                        color: $black-two;
                    }
                }

                img {
                    width: 163px;
                    height: 92px;
                    object-fit: cover;
                }

                .content {
                    flex-shrink: 0;

                    &:not(.front) & {
                        @include respond-to-max(large) {
                            margin-bottom: 20px;
                        }
                    }
                }
            }
        }
    }
}

span[property*="dc:date"] {
    @include fontSize(15px);
    font-weight: 500;
}

.asu-news-highlighted-block {
    @include respond-to-min(large) {
        display: flex;
        align-items: flex-start;
        flex-direction: column;
        flex-wrap: wrap;

        .front & {
            flex-direction: row;
        }
    }


    article {
        flex: auto 0 0;
        margin: 0;
        width: auto;

        @include respond-to-min(medium) {
            width: 100%;

            @at-root .front .asu-news-highlighted-block article {
                width: 358px;
            }
        }

        .front & {
            margin: 0 auto;

            img {
                @include respond-to-max(medium) {
                    display: block;
                    margin: 0 auto;
                }
            }

            .featured-saf {
                display: flex;
                height: 45px;
                color: white;
                justify-content: center;
                align-items: center;
                text-transform: capitalize;
                background: $black-two;
                position: relative;
                top: -45px;
                margin-bottom: -45px;
            }
        }

        &:nth-child(2) {
            @include respond-to-min(large) {
                margin: 0 29px 0 0;

                .front & {
                    margin: 0 29px;
                }
            }
        }

        h3 {
            @include fontSize(21px);

            a {
                color: $black-two;
                border: none;
            }
        }
    }
}

@at-root .page-asu-news-listing .pane-content .asu-news-highlighted-block article > .content {
    flex-shrink: 1;
    width: 100%;
}

@at-root .page-asu-news-listing .pane-content .asu-news-highlighted-block article {
    @include respond-to-min(large) {
        margin-bottom: 20px;
    }
}

.page-asu-news-listing {
    .section .pane-bundle-image {
        > h2.pane-title {
            @extend %bold;

            position: relative;
            color: white;
            @include fontSize(60px);
            &:hover {
                color: #8C1D40;
            }

            @include respond-to-min(large) {
                top: 80px;
            }


            @include respond-to-min(medium) {
                top: 80px;
            }
        }

        .pane-content {
            margin-top: -85px;
            max-width: 100%;
            padding-left: 0;
            padding-right: 0;
        }
    }

    .pane-asu-news-asu-news-listing {
        margin-top: 100px;
    }

    .pane-content {
        article {
            border-bottom: 1px solid $white-two;
            margin-top: 30px;

            @at-root .page-asu-news-listing .asu-news-highlighted-block article {
                border: none;
                margin-top: 0;
            }

            &:first-child {
                margin-top: 40px;
            }

            @include respond-to-max(small) {
                padding-bottom: 25px;
            }


            @include respond-to-min(medium) {
                display: flex;
                padding-bottom: 40px;
                margin-bottom: 40px;
                padding-top: 0;

                @at-root .page-asu-news-listing .pane-content .featured {
                    display: block;

                    h3 {
                        @include fontSize(36px);
                    }

                    > div {
                        display: flex;

                        .content {
                            flex-shrink: 0;
                            margin-right: 28px;
                        }
                    }
                }

                @at-root .page-asu-news-listing .pane-content .asu-news-highlighted-block article {
                    flex-wrap: wrap;
                    padding-bottom: 20px;
                    margin-bottom: 0;
                }
            }


            > .content {
                flex-shrink: 0;
                margin-right: 28px;
                padding-bottom: 30px;

                @include respond-to-max(small) {
                    margin-right: 0;
                }
            }

            img {
                width: 260px;
                height: 146px;
                object-fit: cover;

                @at-root .page-asu-news-listing .pane-content .featured img {
                    @include respond-to-min(medium) {
                        width: 552px;
                        height: 311px;
                        object-fit: cover;
                    }
                }

                @include respond-to-max(large) {
                    display: block;
                    margin: 0 auto 10px;
                }
            }

            h3 {
                margin-top: 0;
                margin-bottom: 10px;

                @at-root .page-asu-news-listing .pane-content .asu-news-highlighted-block article h3 {
                    margin-top: 10px;
                    margin-bottom: 4px;
                }

                a {
                    color: black;
                    border: none;
                }
            }
        }
    }
}

img.panopoly-image-full {
    @include respond-to-max(small) {
        object-fit: cover;
        min-height: 100px;
    }
}

.read-more-wrapper {
    a {
        font-weight: 400;
    }

    i {
        padding-left: 4px;
        color: #8C1D40;
        @include fontSize(10px);
    }
}

.node-type-asu-news {
    [id="page-title"] {
        font-weight: 900;
        @include fontSize(60px);
        margin-top: 80px;
    }
}

.node-asu-news {
    .author-bio {
        .field-item {
            @include fontSize(18px);
        }

        h5 {
            margin: 0 0 5px;
        }
    }

    [id="author-info"] {
        img {
            border-radius: 50%;
            width: 84px;
            height: 84px;
            object-fit: cover;

            @include respond-to-min(large) {
                margin-right: 24px;
            }
        }

        @include respond-to-min(large) {
            display: flex;
            align-items: center;
        }
    }

    .asu-news {
        &-date-wrapper {
            @include fontSize(15px);
            font-weight: 500;
            margin-top: 20px;
            display: inline-block;
        }

        &-sub-title {
            @include fontSize(23px);
            font-weight: 500;
            margin-bottom: 20px;
        }

        &-boilerplate {
            font-style: italic;
            font-weight: 400;
            color: $black-three;
            margin-bottom: 20px;
        }
    }

    [class*="affiliation"],
    [class*="phone"],
    [class*="email"] {
        display: inline;
        color: #828282;

        > div {
            display: inline;
        }

        .field-item {
            font-weight: 400;
            @include fontSize(13px);
            display: inline;
        }
    }

    [class*="email"] {
        color: #a30046;
        font-weight: 400;
    }
}

.pane-asu-news-block {
    .pane-title {
        display: flex;

        .asu-news-list-wrapper {
            margin-left: auto;

            a {
                @include fontSize(16px);
                font-weight: 500;
                border: none;
            }
        }
    }
}

