@import url(https://fonts.googleapis.com/css?family=Roboto:300,300i,400,500,700,900);
.asu-block-right article h3 a {
  font-family: 'Roboto', sans-serif;
  font-weight: 500; }

.page-news .section .pane-bundle-image > h2.pane-title {
  font-family: 'Roboto', sans-serif;
  font-weight: 700; }

.asu-news-full-block {
  min-height: 440px; }

.pane-asu-news-block {
  margin-top: 40px; }
  .pane-asu-news-block .pane-title {
    padding: 0 0 20px !important;
    border-bottom: 1px solid #d7d7d7; }
    .front .pane-asu-news-block .pane-title {
      clear: both; }
    @media (max-width: 768px) {
      .pane-asu-news-block .pane-title {
        padding-left: 15px !important;
        padding-right: 15px !important; } }
  .pane-asu-news-block .pane-content {
    padding-top: 35px; }

.asu-block-left {
  margin-bottom: 20px;
  padding-left: 0;
  padding-right: 0; }
  @media (min-width: 1200px) {
    .asu-block-left {
      margin: 0; } }
  @media (min-width: 1200px) {
    .asu-block-left .news-featured-teaser {
      display: -ms-flexbox;
      display: flex;
      -ms-flex-direction: row;
          flex-direction: row; } }
  .asu-block-left .news-featured-teaser .featured-left {
    -ms-flex-negative: 0;
        flex-shrink: 0; }
  .asu-block-left .news-featured-teaser .featured-right {
    padding: 0;
    position: relative; }
    .asu-block-left .news-featured-teaser .featured-right p {
      width: 100%;
      word-break: break-word; }
    @media (min-width: 1200px) {
      .asu-block-left .news-featured-teaser .featured-right {
        padding: 50px 15px 0; } }
    .asu-block-left .news-featured-teaser .featured-right a {
      border-color: transparent;
      color: #2a2a2a; }
      .asu-block-left .news-featured-teaser .featured-right a:hover {
        color: #8C1D40;
        border-color: #8C1D40; }
    .asu-block-left .news-featured-teaser .featured-right .featured-saf {
      background: #2a2a2a;
      color: white;
      height: 45px;
      display: -ms-flexbox;
      display: flex;
      -ms-flex-align: center;
          align-items: center;
      -ms-flex-pack: center;
          justify-content: center; }
      @media (min-width: 1200px) {
        .asu-block-left .news-featured-teaser .featured-right .featured-saf {
          -ms-flex-align: center;
              -ms-grid-row-align: center;
              align-items: center;
          padding-left: 14px;
          position: absolute;
          left: 0;
          top: 0;
          width: 288px;
          -ms-flex-pack: start;
              justify-content: flex-start; } }

@media (min-width: 1200px) {
  .asu-block-right {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
        flex-direction: column;
    height: 367px;
    -ms-flex-pack: center;
        justify-content: center; } }

.asu-block-right article {
  -ms-flex: auto 0 0;
      flex: auto 0 0;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
      align-items: center; }
  @media (min-width: 1200px) {
    .asu-block-right article {
      margin: 0 auto 20px; } }
  .asu-block-right article:last-child {
    margin-left: 0; }
  .asu-block-right article:not(:last-child) {
    border-bottom: 1px solid #d7d7d7;
    padding-bottom: 20px; }
    @media (max-width: 991px) {
      .asu-block-right article:not(:last-child) {
        padding-top: 20px; } }
  .asu-block-right article h3 {
    margin-top: 0;
    line-height: 1;
    font-size: 18px;
    font-size: 1.8rem;
    margin: 0; }
    .asu-block-right article h3 a {
      border-bottom: 1px dotted transparent !important;
      line-height: 1.4; }
      .asu-block-right article h3 a:hover {
        color: #a30046;
        border-color: #a30046 !important; }
  .asu-block-right article img.asu-news-thumbnail {
    width: 163px;
    height: 92px;
    object-fit: cover; }
    .front .asu-block-right article img.asu-news-thumbnail {
      width: 147px;
      height: 147px;
      object-fit: contain; }
  .asu-block-right article .content {
    -ms-flex-negative: 0;
        flex-shrink: 0;
    margin-right: 20px; }
    @media (max-width: 1200px) {
      .asu-block-right article .content:not(.front) .asu-block-right article .content {
        margin-bottom: 20px; } }

span[property*="dc:date"] {
  font-size: 15px;
  font-size: 1.5rem;
  font-weight: 500; }

@media (min-width: 1200px) {
  .asu-news-highlighted-block {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: start;
        align-items: flex-start;
    -ms-flex-direction: column;
        flex-direction: column;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap; }
    .front .asu-news-highlighted-block {
      -ms-flex-direction: row;
          flex-direction: row; } }

.asu-news-highlighted-block article {
  -ms-flex: auto 0 0;
      flex: auto 0 0;
  margin: 0;
  width: auto; }
  @media (min-width: 991px) {
    .asu-news-highlighted-block article {
      width: 100%; }
      .front .asu-news-highlighted-block article {
        width: 358px; } }
  .front .asu-news-highlighted-block article {
    margin: 0 auto; }
    @media (max-width: 991px) {
      .front .asu-news-highlighted-block article img {
        display: block;
        margin: 0 auto; } }
    .front .asu-news-highlighted-block article .featured-saf {
      display: -ms-flexbox;
      display: flex;
      height: 45px;
      color: white;
      -ms-flex-pack: center;
          justify-content: center;
      -ms-flex-align: center;
          align-items: center;
      text-transform: capitalize;
      background: #2a2a2a;
      position: relative;
      top: -45px;
      margin-bottom: -45px; }
  @media (min-width: 1200px) {
    .asu-news-highlighted-block article:nth-child(2) {
      margin: 0 29px 0 0; }
      .front .asu-news-highlighted-block article:nth-child(2) {
        margin: 0 29px; } }
  .asu-news-highlighted-block article h3 {
    font-size: 21px;
    font-size: 2.1rem; }
    .asu-news-highlighted-block article h3 a {
      color: #2a2a2a;
      border: none; }
      .asu-news-highlighted-block article h3 a:hover {
        color: #8C1D40;
        border-bottom: 1px dotted #8C1D40; }

.page-asu-news-listing .pane-content .asu-news-highlighted-block article > .content {
  -ms-flex-negative: 1;
      flex-shrink: 1;
  width: 100%; }

@media (min-width: 1200px) {
  .page-asu-news-listing .pane-content .asu-news-highlighted-block article {
    margin-bottom: 20px; } }

.page-news p {
  font-size: 16px;
  font-size: 1.6rem;
  width: 100%; }

.page-news .section .pane-bundle-image > h2.pane-title {
  position: relative;
  color: white;
  font-size: 60px;
  font-size: 6rem; }
  @media (min-width: 991px) {
    .page-news .section .pane-bundle-image > h2.pane-title {
      top: 25px; } }
  @media (min-width: 1200px) {
    .page-news .section .pane-bundle-image > h2.pane-title {
      top: 40px; } }
  @media (min-width: 1400px) {
    .page-news .section .pane-bundle-image > h2.pane-title {
      top: 80px; } }

.page-news .section .pane-bundle-image .pane-content {
  margin-top: -85px;
  max-width: 100%;
  padding-left: 0;
  padding-right: 0; }

.page-news .pane-asu-news-asu-news-listing {
  margin-top: 100px; }

.page-news .pane-content article {
  border-bottom: 1px solid #d7d7d7;
  margin-top: 30px; }
  .page-asu-news-listing .asu-news-highlighted-block article {
    border: none;
    margin-top: 0; }
  .page-news .pane-content article:first-child {
    margin-top: 40px; }
  .page-news .pane-content article.featured {
    display: block; }
    .page-news .pane-content article.featured > div {
      display: -ms-flexbox;
      display: flex; }
      .page-news .pane-content article.featured > div > div {
        -ms-flex: 1 0 0;
            flex: 1 0 0; }
      .page-news .pane-content article.featured > div .content {
        margin-right: 27px; }
        .page-news .pane-content article.featured > div .content > a {
          border: none; }
        .page-news .pane-content article.featured > div .content img {
          width: 552px;
          height: 311px;
          object-fit: contain; }
  @media (max-width: 768px) {
    .page-news .pane-content article {
      padding-bottom: 25px; } }
  @media (min-width: 991px) {
    .page-news .pane-content article {
      display: -ms-flexbox;
      display: flex;
      padding-bottom: 40px;
      margin-bottom: 40px;
      padding-top: 0; }
      .page-asu-news-listing .pane-content .featured {
        display: block; }
        .page-asu-news-listing .pane-content .featured h3 {
          font-size: 36px;
          font-size: 3.6rem; }
        .page-asu-news-listing .pane-content .featured > div {
          display: -ms-flexbox;
          display: flex; }
          .page-asu-news-listing .pane-content .featured > div .content {
            -ms-flex-negative: 0;
                flex-shrink: 0;
            margin-right: 28px; }
      .page-asu-news-listing .pane-content .asu-news-highlighted-block article {
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
        padding-bottom: 20px;
        margin-bottom: 0; } }
  .page-news .pane-content article > .content {
    margin-right: 28px;
    padding-bottom: 30px;
    -ms-flex-negative: 0;
        flex-shrink: 0; }
    @media (max-width: 768px) {
      .page-news .pane-content article > .content {
        margin-right: 0; } }
    .page-news .pane-content article > .content > a {
      border: none; }
    .page-asu-news-listing .asu-news-listing-wrapper article > .content {
      -ms-flex-negative: 1;
          flex-shrink: 1; }
  .page-news .pane-content article img {
    width: 260px;
    height: 146px;
    object-fit: cover; }
    @media (min-width: 991px) {
      .page-asu-news-listing .pane-content .featured img {
        width: 552px;
        height: 311px;
        object-fit: cover; } }
    @media (max-width: 1200px) {
      .page-news .pane-content article img {
        display: block;
        margin: 0 auto 10px; } }
  .page-news .pane-content article h3 {
    margin-top: 0;
    margin-bottom: 10px; }
    .page-asu-news-listing .pane-content .asu-news-highlighted-block article h3 {
      margin-top: 10px;
      margin-bottom: 4px; }
    .page-news .pane-content article h3 a {
      color: black;
      border: none; }
      .page-news .pane-content article.featured h3 a {
        font-size: 36px;
        font-size: 3.6rem; }
      .page-news .pane-content article h3 a:hover {
        color: #8C1D40;
        border-bottom: 1px dotted #8C1D40; }

@media (max-width: 768px) {
  img.panopoly-image-full {
    object-fit: cover;
    min-height: 100px; } }

.read-more-wrapper a {
  font-weight: 400; }

.read-more-wrapper i {
  padding-left: 4px;
  color: #8C1D40;
  font-size: 10px;
  font-size: 1rem; }

.node-type-asu-news p {
  font-size: 18px;
  font-size: 1.8rem; }

.node-type-asu-news [id="page-title"] {
  font-weight: 900;
  font-size: 60px;
  font-size: 6rem;
  margin-top: 80px;
  word-break: break-word; }

.node-asu-news .author-bio .field-item {
  font-size: 18px;
  font-size: 1.8rem; }

.node-asu-news .author-bio h5 {
  margin: 0 0 5px; }

.node-asu-news [id="author-info"] img {
  border-radius: 50%;
  width: 84px;
  height: 84px;
  object-fit: cover; }
  @media (min-width: 1200px) {
    .node-asu-news [id="author-info"] img {
      margin-right: 24px; } }

@media (min-width: 1200px) {
  .node-asu-news [id="author-info"] {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
        align-items: center; } }

.node-asu-news .asu-news-date-wrapper {
  font-weight: 500;
  font-size: 15px;
  font-size: 1.5rem;
  margin-top: 20px;
  display: inline-block; }

.node-asu-news .asu-news-sub-title {
  font-size: 23px;
  font-size: 2.3rem;
  font-weight: 500;
  margin-bottom: 20px; }

.node-asu-news .asu-news-boilerplate {
  font-style: italic;
  font-weight: 400;
  color: #353535;
  margin-bottom: 20px; }

.node-asu-news [class*="affiliation"],
.node-asu-news [class*="phone"],
.node-asu-news [class*="email"] {
  display: inline;
  color: #828282; }
  .node-asu-news [class*="affiliation"] > div,
  .node-asu-news [class*="phone"] > div,
  .node-asu-news [class*="email"] > div {
    display: inline; }
  .node-asu-news [class*="affiliation"] .field-item,
  .node-asu-news [class*="phone"] .field-item,
  .node-asu-news [class*="email"] .field-item {
    font-weight: 400;
    font-size: 13px;
    font-size: 1.3rem;
    display: inline; }

.node-asu-news [class*="email"] {
  color: #a30046;
  font-weight: 400; }

.node-asu-news .caption {
  position: relative; }
  @media (min-width: 768px) {
    .node-asu-news .caption.caption-left {
      margin: 0 50px 20px 0; } }
  @media (min-width: 768px) {
    .node-asu-news .caption.caption-left:after {
      content: "";
      background: #d7d7d7;
      width: 1px;
      height: 100%;
      position: absolute;
      right: -25px;
      top: 0; } }
  .node-asu-news .caption-inner {
    border: none;
    background: none;
    padding: 0; }
    @media (min-width: 768px) {
      .node-asu-news .caption-inner {
        width: 358px; } }
    .node-asu-news .caption-inner [class*="image-quote"] {
      font-size: 16px;
      font-size: 1.6rem; }
    @media (min-width: 768px) {
      .node-asu-news .caption-inner img {
        width: 358px;
        height: auto;
        object-fit: cover; } }

.front [id="page-footer"] {
  margin-top: 100px; }

.asu-news-load-more-btn {
  display: block;
  line-height: 52px;
  text-align: center;
  color: white;
  width: 346px;
  background: #a30046;
  font-size: 20px;
  font-size: 2rem;
  border-radius: 4px;
  margin: 100px auto; }
  .asu-news-load-more-btn:hover, .asu-news-load-more-btn:focus {
    color: white;
    background: #d23153; }
  @media (max-width: 568px) {
    .asu-news-load-more-btn {
      max-width: 100%; } }

.section-bottom hr {
  border: none; }

.asu-news-share [id="asu-social-share-gigya-share"] {
  border-bottom: 2px solid #d7d7d7;
  padding-bottom: 20px;
  margin-bottom: 15px; }
  .asu-news-share [id="asu-social-share-gigya-share"] .asu-social-share-title {
    display: none; }
  .asu-news-share [id="asu-social-share-gigya-share"] a {
    color: black;
    border: none;
    font-size: 22px;
    font-size: 2.2rem;
    padding-right: 26px; }

#selectionSharerPopover-inner {
  width: 135px; }
  #selectionSharerPopover-inner ul {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
        align-items: center;
    -ms-flex-pack: center;
        justify-content: center;
    margin: 0; }
    #selectionSharerPopover-inner ul li {
      -ms-flex: 1 0 0;
          flex: 1 0 0;
      display: -ms-flexbox;
      display: flex; }
      #selectionSharerPopover-inner ul li a {
        margin: 5px auto; }
        #selectionSharerPopover-inner ul li a:hover {
          color: #ffe397; }

.selectionSharer a.action.copy {
  text-indent: 0;
  font-size: 13px;
  font-size: 1.3rem;
  color: white;
  position: relative; }
  .selectionSharer a.action.copy:before {
    content: " | ";
    color: rgba(255, 255, 255, 0.4);
    position: absolute;
    left: -22px;
    top: 0; }

.page-news .pane-content article.news-list-page-compact-teaser > .content {
  -ms-flex-negative: 1;
      flex-shrink: 1; }

.front .news-medium-teaser img {
  width: 358px;
  height: 201px;
  object-fit: cover; }

/*# sourceMappingURL=asumod.css.map */
