.gig-share-bar-container td iframe {
  vertical-align: bottom;
}

.gigya-login {
  margin-bottom: 15px;
}
.gigya-raas-login {
  padding-right: 12px;
  margin-right: 12px;
  border-right: 1px solid;
}
.hidden {
  display: none;
}
