/**
 * @description - If Innovation is the admin theme, add these changes to clean up the UI
 */

/* -------- Admin-wide CSS selectors ---------- */

.page-admin h1#page-title {
  margin-bottom: 0.3333em;
}
.page-admin table a.tabledrag-handle {
  margin-left: inherit;
  border-bottom: none;
  margin: auto;
}

/* System Help block theming (if enabled) */
#block-system-help {
  padding: 1em;
  border: 1px solid #00A3E0;
  background-color: #e1f8ff;
  margin: 1em 0;
}
#block-system-help:first-child:before {
  content: "Drupal Help --";
  font-weight: bold;
}
#block-system-help .content:last-child {
  margin: 0;
}

/* Alerts with links in text */
.page-admin .alert-danger a,
.page-admin .alert-info a {
  color: #fff;
  border-bottom-color: #fff;
}

/* Form border */
.page-admin #top-content #action-links {
  margin-bottom: 1em;
}

.page-admin #block-system-main > .content > form[id] {
  margin: 0;
  padding: 1em;
  border: 1px solid #ddd;
  box-shadow: 4px 6px 3px #f7f7f7;
}

/* Fieldset theming */
.page-admin fieldset.fieldset-nested- {
  margin: 0.5em 0;
  padding: 1em;
  border: 1px solid #E0E0DC !important;
}
.page-admin fieldset.fieldset-nested-odd {
  background-color: #f7f7f3;
}
.page-admin fieldset.fieldset-nested-even {
  background-color: #edf9dd;
}
.page-admin #block-system-main fieldset legend {
  width: initial;
  margin-bottom: 0;
  font-weight: bold;
}

/* Category lists on main admin landing pages */
.page-admin .admin-list > dt,
#block-system-main .content > dl > dt {
  border: 1px solid #ddd;
  border-bottom: none;
  padding: 0.25em 0.25em 0 0.25em;

}
.page-admin .admin-list > dl > dt + dd,
#block-system-main .content > dl > dt + dd {
  border: 1px solid #ddd;
  border-top: none;
  margin-bottom: 0.5em;
  padding: 0 0.25em 0.25em 0.25em;
}
.page-admin .admin-list > dt:nth-of-type(2n),
#block-system-main .content > dl > dt:nth-of-type(2n) {
  background-color: #fff;
}
.page-admin .admin-list > dd:nth-of-type(2n),
#block-system-main .content > dl > dd:nth-of-type(2n) {
  background-color: #fff;
}
.page-admin .admin-list > dt:nth-of-type(2n+1),
#block-system-main .content > dl > dt:nth-of-type(2n+1) {
  background-color: #f9f9f9;
}
.page-admin .admin-list > dd:nth-of-type(2n+1),
#block-system-main .content > dl > dd:nth-of-type(2n+1) {
  background-color: #f9f9f9;
}

/* Tables */
/* striping added EXCEPT on Reports -> Status */
body:not(.page-admin-reports-status) table > tbody > tr:nth-child(2n+1) {
  background-color: #F5F5F5;
}
.page-admin #block-system-main table thead {
  background-color: #FFD45D;
}
/* Tables - Field settings */
.page-admin table[id] .form-item,
.page-admin table[id] .form-actions .btn,
.page-admin table[id] .form-submit {
  margin: 0.25em;
}

/* Main system block container for most admin pages */
.page-admin #block-system-main {
  margin-bottom: 1em;
}

/* Restore browser-native checkboxes, radio buttons */
.page-admin #block-system-main table tr .form-type-checkbox,
.page-admin #block-system-main table tr .form-type-radio {
  margin-top: 0.25em;
}
.page-admin #block-system-main table tr .form-type-checkbox > input[type="checkbox"],
.page-admin #block-system-main table tr .form-type-checkbox > input[type="radio"] {
  opacity: initial;
  padding: 0 0.5em;
}
.page-admin #block-system-main table tr .form-type-checkbox > label.element-invisible,
.page-admin #block-system-main .views-field-views-bulk-operations .form-type-checkbox > input.form-checkbox + label,
.page-admin #block-system-main table tr .form-type-checkbox > input.form-checkbox + label:before,
.page-admin #block-system-main table tr .form-type-checkbox > input.form-checkbox + label:after {
  display: none;
}

/* Filter button */
.page-admin #block-system-main .container-inline div, .container-inline label {
  display: inline-block;
}

/* Views exposed filters */
.page-admin .view-better-watchdog-ui-view .views-operator {
  margin-bottom: 1em;
}
.page-admin .view-better-watchdog-ui-view .views-exposed-widgets .description {
  font-size: 0.75em;
}
.page-admin .views-exposed-widget.views-submit-button {
  clear: both;
}
.page-admin .views-exposed-widget > .form-submit {
  margin: 1em 0 0 0;
}
/** layout of entire exposed form **/
/** CTools export forms added **/
.page-admin .view-filters > form,
.page-admin #ctools-export-ui-list-form {
  padding: 1em;
  border: 1px solid #ddd;
  background-color: #f7f7f7;
}
.page-admin .view-filters .form-control,
.page-admin #ctools-export-ui-list-form .form-control {
  padding: 0.25em;
}
.page-admin .views-exposed-form .views-exposed-widget {
  padding-top: 0;
}
/** CTools exports forms additional */
.page-admin #ctools-export-ui-list-form {
  margin-top: 1em;
}

/** ------------- Custom CSS selectors for individual sections --------- */

/* Blocks administration*/
#block-admin-display-form table .region-title {
  background-color: #e1f8c4;
}

/* Available updates */
.page-admin table.update .alert {
  color: initial;
}
.page-admin table.update .alert.alert-success {
  background-color: #e1f8c4;
}
.page-admin table.update .alert.alert-success {
  background-color: #e1f8c4;
}
.page-admin #module-filter-update-status-form .module-filter-inputs-wrapper .form-item-module-filter-name {
  margin-bottom: 1em;
}
.page-admin #module-filter-update-status-form #module-filter-show-wrapper .form-item {
  padding: 0 1.5em;
}
.page-admin .update tr.ok,
.page-admin .update-status.ok {
  background: #e1f8c4;
}

/* Configuration - Landing page */
.page-admin .admin-panel {
  padding: 0 1em;
  margin-bottom: 1em;
  border: 1px solid #E0E0DC !important;
}
.page-admin .admin-panel .body {
  padding: 0;
}
.page-admin.page-admin-config .admin > .clearfix {
  margin-left: 0;
  margin-right: 0;
  width: 48%;
}

/* URL aliases - column all gray due to bootstrap */
.page-admin #block-system-main .table > tbody > tr.active > td,
.page-admin #block-system-main .table > tbody > tr.active > th,
.page-admin #block-system-main .table > tbody > tr > td.active,
.page-admin #block-system-main .table > tbody > tr > th.active,
.page-admin #block-system-main .table > tfoot > tr.active > td,
.page-admin #block-system-main .table > tfoot > tr.active > th,
.page-admin #block-system-main .table > tfoot > tr > td.active,
.page-admin #block-system-main .table > tfoot > tr > th.active,
.page-admin #block-system-main .table > thead > tr.active > td,
.page-admin #block-system-main .table > thead > tr.active > th,
.page-admin #block-system-main .table > thead > tr > td.active, .table > thead > tr > th.active {
  background-color: initial;
}

/* Recent Log Entries */
.page-admin .better_watchdog_ui_watchdog-detail table > thead > tr > th,
.page-admin .better_watchdog_ui_watchdog-detail table > thead > tr > td,
.page-admin .better_watchdog_ui_watchdog-detail table > tbody > tr > th,
.page-admin .better_watchdog_ui_watchdog-detail table > tbody > tr > td,
.page-admin .better_watchdog_ui_watchdog-detail table > tfoot > tr > th,
.page-admin .better_watchdog_ui_watchdog-detail table > tfoot > tr > td {
  border: 1px solid #b7b7b7;
}
.page-admin .view-better-watchdog-ui-view table .form-type-checkbox {
  padding: 0 0.25em;
}

/* Module Filter + absolutely positioned ASU global footer don't jive together. */
.page-admin-modules footer#page-footer {
  display: none;
}

/* Views exposed forms - /admin/content */
.page-admin .vbo-views-form div.form-item + input.btn {
  margin-top: 0;
}
.page-admin div.form-item > .help-block {
  font-size: 0.8em;
  margin-top: 0;
}
.views-exposed-form .views-widget-filter-severity {
  max-width: 15%;
}