.btn {
    -moz-user-select: none;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
    cursor: pointer;
    display: inline-block;
    font-size: 16px;
    font-weight: normal;
    line-height: 1.44;
    margin-bottom: 0;
    padding: 6px 19px;
    text-align: center;
    vertical-align: middle;
    white-space: nowrap;
}
.btn:focus, .btn:active:focus, .btn.active:focus {
    outline: 0 none;
}
.btn:hover, .btn:focus {
    border: 1px solid transparent;
    color: #505050;
    text-decoration: none;
}
.btn:active, .btn.active {
    background-image: none;
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.125) inset;
    outline: 0 none;
}
.btn.disabled, .btn[disabled], fieldset[disabled] .btn {
    box-shadow: none;
    cursor: not-allowed;
    opacity: 0.65;
    pointer-events: none;
}
.btn-primary {
    background-color: #a30046;
    color: white;
}
.btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active, .open > .btn-primary.dropdown-toggle {
    background-color: #d23153;
    color: white;
}
.btn-primary:active, .btn-primary.active, .open > .btn-primary.dropdown-toggle {
    background-image: none;
}
.btn-primary.disabled, .btn-primary.disabled:hover, .btn-primary.disabled:focus, .btn-primary.disabled:active, .btn-primary.disabled.active, .btn-primary[disabled], .btn-primary[disabled]:hover, .btn-primary[disabled]:focus, .btn-primary[disabled]:active, .btn-primary.active[disabled], fieldset[disabled] .btn-primary, fieldset[disabled] .btn-primary:hover, fieldset[disabled] .btn-primary:focus, fieldset[disabled] .btn-primary:active, fieldset[disabled] .btn-primary.active {
    background-color: #a30046;
}
.btn-primary .badge {
    background-color: white;
    color: #a30046;
}
.btn-secondary {
    background-color: #dbdbdb;
    color: #2a2a2a;
}
.btn-secondary:hover, .btn-secondary:focus, .btn-secondary:active, .btn-secondary.active, .open > .btn-secondary.dropdown-toggle {
    background-color: #f2f2f2;
    color: #2a2a2a;
}
.btn-secondary:active, .btn-secondary.active, .open > .btn-secondary.dropdown-toggle {
    background-image: none;
}
.btn-secondary.disabled, .btn-secondary.disabled:hover, .btn-secondary.disabled:focus, .btn-secondary.disabled:active, .btn-secondary.disabled.active, .btn-secondary[disabled], .btn-secondary[disabled]:hover, .btn-secondary[disabled]:focus, .btn-secondary[disabled]:active, .btn-secondary.active[disabled], fieldset[disabled] .btn-secondary, fieldset[disabled] .btn-secondary:hover, fieldset[disabled] .btn-secondary:focus, fieldset[disabled] .btn-secondary:active, fieldset[disabled] .btn-secondary.active {
    background-color: #dbdbdb;
}
.btn-secondary .badge {
    background-color: #2a2a2a;
    color: #dbdbdb;
}
.btn-gold {
    background-color: #ffc425;
    color: #2a2a2a;
}
.btn-gold:hover, .btn-gold:focus, .btn-gold:active, .btn-gold.active, .open > .btn-gold.dropdown-toggle {
    background-color: #ffd053;
    color: #2a2a2a;
}
.btn-gold:active, .btn-gold.active, .open > .btn-gold.dropdown-toggle {
    background-image: none;
}
.btn-gold.disabled, .btn-gold.disabled:hover, .btn-gold.disabled:focus, .btn-gold.disabled:active, .btn-gold.disabled.active, .btn-gold[disabled], .btn-gold[disabled]:hover, .btn-gold[disabled]:focus, .btn-gold[disabled]:active, .btn-gold.active[disabled], fieldset[disabled] .btn-gold, fieldset[disabled] .btn-gold:hover, fieldset[disabled] .btn-gold:focus, fieldset[disabled] .btn-gold:active, fieldset[disabled] .btn-gold.active {
    background-color: #ffc425;
}
.btn-gold .badge {
    background-color: #2a2a2a;
    color: #ffc425;
}
.btn-blue {
    background-color: #009cdb;
    color: white;
}
.btn-blue:hover, .btn-blue:focus, .btn-blue:active, .btn-blue.active, .open > .btn-blue.dropdown-toggle {
    background-color: #0aa9fc;
    color: white;
}
.btn-blue:active, .btn-blue.active, .open > .btn-blue.dropdown-toggle {
    background-image: none;
}
.btn-blue.disabled, .btn-blue.disabled:hover, .btn-blue.disabled:focus, .btn-blue.disabled:active, .btn-blue.disabled.active, .btn-blue[disabled], .btn-blue[disabled]:hover, .btn-blue[disabled]:focus, .btn-blue[disabled]:active, .btn-blue.active[disabled], fieldset[disabled] .btn-blue, fieldset[disabled] .btn-blue:hover, fieldset[disabled] .btn-blue:focus, fieldset[disabled] .btn-blue:active, fieldset[disabled] .btn-blue.active {
    background-color: #009cdb;
}
.btn-blue .badge {
    background-color: white;
    color: #009cdb;
}
.btn-default {
    background-color: whitesmoke;
    border-color: #b0b0b0;
    color: #505050;
}
.btn-default:hover, .btn-default:focus, .btn-default:active, .btn-default.active, .open > .btn-default.dropdown-toggle {
    background-color: gainsboro;
    border-color: #919191;
    color: #505050;
}
.btn-default:active, .btn-default.active, .open > .btn-default.dropdown-toggle {
    background-image: none;
}
.btn-default.disabled, .btn-default.disabled:hover, .btn-default.disabled:focus, .btn-default.disabled:active, .btn-default.disabled.active, .btn-default[disabled], .btn-default[disabled]:hover, .btn-default[disabled]:focus, .btn-default[disabled]:active, .btn-default.active[disabled], fieldset[disabled] .btn-default, fieldset[disabled] .btn-default:hover, fieldset[disabled] .btn-default:focus, fieldset[disabled] .btn-default:active, fieldset[disabled] .btn-default.active {
    background-color: whitesmoke;
    border-color: #b0b0b0;
}
.btn-default .badge {
    background-color: #505050;
    color: whitesmoke;
}
.btn-success {
    background-color: #148e4b;
    border-color: #07351c;
    color: white;
}
.btn-success:hover, .btn-success:focus, .btn-success:active, .btn-success.active, .open > .btn-success.dropdown-toggle {
    background-color: #0e6133;
    border-color: black;
    color: white;
}
.btn-success:active, .btn-success.active, .open > .btn-success.dropdown-toggle {
    background-image: none;
}
.btn-success.disabled, .btn-success.disabled:hover, .btn-success.disabled:focus, .btn-success.disabled:active, .btn-success.disabled.active, .btn-success[disabled], .btn-success[disabled]:hover, .btn-success[disabled]:focus, .btn-success[disabled]:active, .btn-success.active[disabled], fieldset[disabled] .btn-success, fieldset[disabled] .btn-success:hover, fieldset[disabled] .btn-success:focus, fieldset[disabled] .btn-success:active, fieldset[disabled] .btn-success.active {
    background-color: #148e4b;
    border-color: #07351c;
}
.btn-success .badge {
    background-color: white;
    color: #148e4b;
}
.btn-info {
    background-color: #008ed6;
    border-color: #004a70;
    color: white;
}
.btn-info:hover, .btn-info:focus, .btn-info:active, .btn-info.active, .open > .btn-info.dropdown-toggle {
    background-color: #006ca3;
    border-color: #002233;
    color: white;
}
.btn-info:active, .btn-info.active, .open > .btn-info.dropdown-toggle {
    background-image: none;
}
.btn-info.disabled, .btn-info.disabled:hover, .btn-info.disabled:focus, .btn-info.disabled:active, .btn-info.disabled.active, .btn-info[disabled], .btn-info[disabled]:hover, .btn-info[disabled]:focus, .btn-info[disabled]:active, .btn-info.active[disabled], fieldset[disabled] .btn-info, fieldset[disabled] .btn-info:hover, fieldset[disabled] .btn-info:focus, fieldset[disabled] .btn-info:active, fieldset[disabled] .btn-info.active {
    background-color: #008ed6;
    border-color: #004a70;
}
.btn-info .badge {
    background-color: white;
    color: #008ed6;
}
.btn-warning {
    background-color: #bfe319;
    border-color: #72870f;
    color: #2a2a2a;
}
.btn-warning:hover, .btn-warning:focus, .btn-warning:active, .btn-warning.active, .open > .btn-warning.dropdown-toggle {
    background-color: #98b514;
    border-color: #435009;
    color: #2a2a2a;
}
.btn-warning:active, .btn-warning.active, .open > .btn-warning.dropdown-toggle {
    background-image: none;
}
.btn-warning.disabled, .btn-warning.disabled:hover, .btn-warning.disabled:focus, .btn-warning.disabled:active, .btn-warning.disabled.active, .btn-warning[disabled], .btn-warning[disabled]:hover, .btn-warning[disabled]:focus, .btn-warning[disabled]:active, .btn-warning.active[disabled], fieldset[disabled] .btn-warning, fieldset[disabled] .btn-warning:hover, fieldset[disabled] .btn-warning:focus, fieldset[disabled] .btn-warning:active, fieldset[disabled] .btn-warning.active {
    background-color: #bfe319;
    border-color: #72870f;
}
.btn-warning .badge {
    background-color: #2a2a2a;
    color: #bfe319;
}
.btn-danger {
    background-color: #ec5937;
    border-color: #ad2e10;
    color: white;
}
.btn-danger:hover, .btn-danger:focus, .btn-danger:active, .btn-danger.active, .open > .btn-danger.dropdown-toggle {
    background-color: #db3a15;
    border-color: #751f0b;
    color: white;
}
.btn-danger:active, .btn-danger.active, .open > .btn-danger.dropdown-toggle {
    background-image: none;
}
.btn-danger.disabled, .btn-danger.disabled:hover, .btn-danger.disabled:focus, .btn-danger.disabled:active, .btn-danger.disabled.active, .btn-danger[disabled], .btn-danger[disabled]:hover, .btn-danger[disabled]:focus, .btn-danger[disabled]:active, .btn-danger.active[disabled], fieldset[disabled] .btn-danger, fieldset[disabled] .btn-danger:hover, fieldset[disabled] .btn-danger:focus, fieldset[disabled] .btn-danger:active, fieldset[disabled] .btn-danger.active {
    background-color: #ec5937;
    border-color: #ad2e10;
}
.btn-danger .badge {
    background-color: white;
    color: #ec5937;
}
.btn-link {
    border-radius: 0;
    color: #a30046;
    cursor: pointer;
    font-weight: normal;
}
.btn-link, .btn-link:active, .btn-link[disabled], fieldset[disabled] .btn-link {
    background-color: transparent;
    box-shadow: none;
}
.btn-link, .btn-link:hover, .btn-link:focus, .btn-link:active {
    border-color: transparent;
}
.btn-link:hover, .btn-link:focus {
    background-color: transparent;
    color: #d23153;
    text-decoration: underline;
}
.btn-link[disabled]:hover, .btn-link[disabled]:focus, fieldset[disabled] .btn-link:hover, fieldset[disabled] .btn-link:focus {
    color: #777777;
    text-decoration: none;
}
.btn-lg, .btn-group-lg > .btn {
    border-radius: 4px;
    font-size: 20px;
    line-height: 1.33;
    padding: 12px 24px;
}
.btn-sm, .btn-group-sm > .btn {
    border-radius: 4px;
    font-size: 14px;
    line-height: 1.5;
    padding: 5px 12px;
}
.btn-xs, .btn-group-xs > .btn {
    border-radius: 4px;
    font-size: 14px;
    line-height: 1.5;
    padding: 1px 5px;
}
.btn-block {
    display: block;
    width: 100%;
}
.btn-block + .btn-block {
    margin-top: 15px;
}

.button.browse {
	background: -moz-linear-gradient(center bottom , #e9eaec 0%, #fafafa 100%) repeat scroll 0 0 #fafafa;
	border: 1px solid #ccc;
	border-radius: 3px;
	box-shadow: 0 3px 3px 0 #d2d2d2;
	color: #666;
	cursor: pointer;
	font: bold 12px/32px "Open Sans","Lucida Sans","Lucida Grande",verdana sans-serif;
	height: 33px;
	margin: 0 18px 0 0;
	outline: medium none;
	padding: 8px 13px;
	text-decoration: none;
}
.button.browse:hover {
	background: -moz-linear-gradient(center bottom , #c5c5c5 0%, #fafafa 100%) repeat scroll 0 0 #e6e6e6;
}
