.form-checkboxes .form-item,
.form-radios .form-item,
.form-type-radio,
.form-type-checkbox,
.radio,
.checkbox {
	position: relative;
	display: block;
	min-height: 24px;
	margin-top: -5;
	margin-bottom: 12px;
	padding-left: 0;
}
.form-control,
input[type="email"] {
	background-color: #fff;
	background-image: none;
	border: 1px solid #b0b0b0;
	border-radius: 4px;
	box-shadow: 1px 2px 9px rgba(213, 213, 213, 0.5) inset;
	color: #505050;
	display: block;
	font-size: 16px;
	font-weight: 200;
	height: 38px;
	line-height: 1.44;
	padding: 6px 12px;
	transition: border-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s;
	width: 100%;
}

label.option,
.form-type-radio label,
.form-type-checkbox label {
	max-width: 100%;
  padding-left: 0;
  margin-bottom: 12px;
  font-size: 16px;
  font-weight: 200;
  cursor: pointer;
}
.form-type-radio input[type="radio"],
.form-type-checkbox input[type="checkbox"] {
  position: absolute;
  float: none;
  display: none;
  margin-left: -20px;
	padding: 0;
}
.form-type-radio .outer-wrap,
.form-type-checkbox .outer-wrap {
	display: inline-block;
	background-color: #fff;
	border: 1px solid #b0b0b0;
	width: 28px;
	height: 28px;
	margin-right: 10px;
	text-align: center;
	vertical-align: middle;
	cursor: pointer;
}
.form-type-checkbox .outer-wrap {
  border-radius: 4px;
}
.form-type-radio .outer-wrap,
.form-type-radio .fa-circle {
  border-radius: 50%;
}
.form-type-radio .fa,
.form-type-checkbox .fa {
	display: inline-block !important;
}
.form-type-radio .fa-circle,
.form-type-checkbox .fa-check {
	position: absolute;
  font-size: 23px;
  color: white;
	z-index: 10;
}
.form-type-radio .fa-circle {
  top: 3px;
  left: 4px;
}
.form-type-checkbox .fa-check {
  top: 2px;
  left: 3px;
}
.form-type-radio input[type="radio"]:checked + .outer-wrap > .fa-circle,
.form-type-checkbox input[type="checkbox"]:checked + .outer-wrap > .fa-check {
  color: #505050;
}

.form-type-radio input[type="radio"][disabled] + .outer-wrap,
.form-type-radio input[type="radio"][disabled] + .outer-wrap > .fa-circle,
.form-type-radio input[type="radio"].disabled + .outer-wrap,
.form-type-radio input[type="radio"].disabled + .outer-wrap > .fa-circle {
  cursor: not-allowed;
  opacity: .5;
}
.form-type-checkbox input[type="checkbox"][disabled] + .outer-wrap,
.form-type-checkbox input[type="checkbox"][disabled] + .outer-wrap > .fa-check,
.form-type-checkbox input[type="checkbox"].disabled + .outer-wrap,
.form-type-checkbox input[type="checkbox"].disabled + .outer-wrap > .fa-check {
  cursor: not-allowed;
  opacity: .5;
}

/* =Removing styling from non-Admin forms
-------------------------------------------------------------- */
#modalContent .form-type-radio .outer-wrap,
#modalContent .form-type-checkbox .outer-wrap,
#modalContent .form-type-radio .fa,
#modalContent .form-type-checkbox .fa,
#modalContent .form-type-radio .fa-circle,
#modalContent .form-type-checkbox .fa-check {
	display: none;
}
#modalContent .form-tablefield input.form-submit {
    background-color: #a30046 !important;
}
#modalContent .form-type-item label {
	float: none;
}
/* Remove fontawesome radios and checkboxes from IPE modal */
#modalContent .form-type-radio input[type="radio"],
#modalContent .form-type-checkbox input[type="checkbox"] {
  display: inline-block;
  position: static;
}
#modalContent .radio input[type="radio"],
#modalContent .radio-inline input[type="radio"],
#modalContent .checkbox input[type="checkbox"],
#modalContent .checkbox-inline input[type="checkbox"] {
    float: none;
    margin: 0 5px 0 0;
}
#modalContent .form-checkboxes .form-item,
#modalContent .form-radios .form-item {
	position: status;
	min-height: auto;
	margin-top: 0;
	margin-bottom: 6px;
	padding-left: 0;
}
#modalContent label.option,
#modalContent .form-type-radio label,
#modalContent .form-type-checkbox label {
	max-width: auto;
  padding-left: 0;
  margin-bottom: 12px;
  font-size: 12px;
  font-weight: 200;
  cursor: pointer;
}
