/*
 * Custom Web standard styles
 */

/* =BOOTSTRAP, PANOPOLY & WEBSPARK OVERRIDES
-------------------------------------------------------------- */
#asu_footer ul {
  max-width: 1170px;
  margin: 0 auto;
  padding-left: 0;
}

body #page .region-content {
  padding: 0;
}

#main-wrapper {
  margin-bottom: 0;
  margin-top: 0;
}

#tabs {
  margin-bottom: 0;
}

div.error {
  background-repeat: no-repeat;
}

div.error label {
  padding-left: 2em;
}

/* =GLOBALS
-------------------------------------------------------------- */
body {
  min-width: 320px;
}

p {
  margin: 1em 0;
}

.pane-node-body {
  margin-top: 2.85em;
  margin-bottom: 3em;
}

.page-teaser {
  margin-top: 3em;
  margin-bottom: 3em;
}

div.pane-system-main-menu,
div.pane-menu-tree {
  margin-top: 3em;
}

#skip_to_content {
    position: absolute;
    left: -9999px;
}

#skip_to_content:focus{
  position:relative;
  left: 0;
}


/* =LINKS & BUTTONS
-------------------------------------------------------------- */
body {
  font-family: "Roboto", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 200;
  font-size: 16px;
  line-height: 1.44;
  color: #2a2a2a;
  background-color: white;
}

a,
.ui-widget-content a {
  border-bottom: 1px dotted #8C1D40;
  text-decoration: none;
  color: #8C1D40;
  transition: all 0.25s ease-in-out 0s;
}

a:hover,
a:focus,
.ui-widget-content a:hover,
.ui-widget-content a:focus {
  color: #d23153;
  text-decoration: none;
  border-bottom: 1px dotted #d23153;
}

a:focus,
.ui-widget-content a:focus {
  outline: thin dotted;
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px;
}

#header a,
#asu_footer a {
  border-bottom: none;
}

button, .button, .btn, a.btn, .btn a {
  transition: all 0.25s ease-in-out 0s;
  word-wrap: break-word;
}

a.btn.btn-lg, .btn.btn-lg {
  margin-top: 24px;
}

a.btn, .btn {
  margin-top: 15px;
}

a.btn:hover, .btn a:hover,
a.btn:focus, .btn a:focus {
  border-bottom: none;
}

a.btn-secondary,
.btn-secondary a,
a.btn-gold,
.btn-gold a {
  color: #2a2a2a;
  border-bottom: none;
}

a.btn-blue,
.btn-blue a,
a.btn-primary,
.btn-primary a {
  color: #fff;
  border-bottom: none;
}

/* =TYPOGRAPHY
-------------------------------------------------------------- */
h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
  margin-bottom: 24px;
  color: #000;
  font-family: "Roboto", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: normal;
  line-height: 1.44;
}

h1, .h1 {
  margin-bottom: 48px;
  font-size: 48px;
  line-height: 1.2;
}

h1.page-title {
  border-bottom: 1px solid #eee;
  margin-bottom: 0;
  padding-bottom: 12px;
}

h2, .h2 {
  font-size: 36px;
}

h3, .h3 {
  font-size: 24px;
}

.explore-programs h3 {
  font-size: 26px;
}

h4, .h4 {
  font-size: 21px;
}

h5, .h5 {
  font-size: 16px;
  font-weight: bold;
}

h6, .h6 {
  font-size: 16px;
  font-style: italic;
}

/* WYSIWYG style -- Lead Paragraph -- WEBSPARK-684 */
.lead-paragraph {
  font-family: inherit;
  font-size: 1.5em;
  font-weight: 200;
  line-height: 1.4;
}

/* =HEADER
-------------------------------------------------------------- */
.header__sitename {
  color: #2a2a2a;
  font-family: "Roboto","Helvetica Neue",Helvetica,Arial,sans-serif;
  font-weight: bold;
  font-size: 24px;
  line-height: 1;
  letter-spacing: -0.5px;
  margin-top: 0;
  margin-bottom: 0;
  padding: 0 0 12px 12px;
  white-space: nowrap;
  overflow: hidden;
}

.header__sitename a {
  color: #2a2a2a;
}

#asu_hdr #asu_universal_nav_new .icn {
  box-sizing: content-box;
}

@media (max-width: 930px) {
  #header .container {
    width: 100%;
  }

  #header > .container .row {
    margin-left: 0px;
    margin-right: 0px;
  }

  #header > .container .row .col-md-12 {
    padding-left: 0px;
    padding-right: 0px;
  }

  #header .container-fluid > .row > .col-md-12 {
    width: 100%;
  }

  .header__sitename {
    font-size: 15px;
    padding: 12px 15px;
    color: #FFF;
    background: #505558;
    font-weight: 600;
    line-height: 12px;
  }

  .header__sitename a {
    color: #FFF
  }
}

/* =STICKY NAV BAR
-------------------------------------------------------------- */
#ASUNavMenu.affix {
  position: fixed;
  top: 0;
  width: 100%;
}

/* =IMAGES
-------------------------------------------------------------- */

/* Added from Panopoly Images CSS file (removed in Panopoly 1.21) */
img {
  max-width: 100%;
  height: auto;
  vertical-align: bottom;
}

/* wysiwyg image spacing */
img.media-element.pull-right {
  margin-left: 20px;
}

img.media-element.pull-left {
  margin-right: 20px;
}

.img-circle,
p.img-circle img {
  border-radius: 50%;
}

.img-rounded,
p.img-rounded img {
  border-radius: 4px;
}

.img-thumbnail,
p.img-thumbnail img {
  background-color: white;
  border: 1px solid #dddddd;
  border-radius: 4px;
  display: inline-block;
  height: auto;
  line-height: 1.44;
  max-width: 100%;
  padding: 4px;
  transition: all 0.2s ease-in-out 0s;
}

/* =TABLES
-------------------------------------------------------------- */
/* Default table styles */
table {
  background-color: white;
  margin-bottom: 24px;
  max-width: 100%;
  width: 100%;
}

table > thead > tr > th,
table > thead > tr > td,
table > tbody > tr > th,
table > tbody > tr > td,
table > tfoot > tr > th,
table > tfoot > tr > td {
  border-top: 1px solid #b7b7b7;
  line-height: 1.44;
  padding: 8px;
  vertical-align: top;
}

table > thead > tr > th,
table > thead > tr > td {
  border-bottom: 2px solid #b7b7b7;
  vertical-align: bottom;
  font-weight: bold;
}
table > tbody > tr:nth-child(2n+1) {
	background-color: #F5F5F5;
}

table > caption + thead > tr:first-child > th,
table > caption + thead > tr:first-child > td,
table > colgroup + thead > tr:first-child > th,
table > colgroup + thead > tr:first-child > td,
table > thead:first-child > tr:first-child > th,
table > thead:first-child > tr:first-child > td {
  border-top: 0 none;
}

table > tbody + tbody {
  border-top: 2px solid #b7b7b7;
}

/* WYSIWYG Bordered table */
table.bordered {
	border-bottom: 1px solid #b7b7b7;
	border-left: 1px solid #b7b7b7;
}
table.bordered > thead > tr > th,
table.bordered > thead > tr > td,
table.bordered > tbody > tr > th,
table.bordered > tbody > tr > td,
table.bordered > tfoot > tr > th,
table.bordered > tfoot > tr > td {
  border-right: 1px solid #b7b7b7;
}
table.bordered > tbody > tr:nth-child(2n+1) {
	background-color: #fff;
}
table.bordered > caption + thead > tr:first-child > th,
table.bordered > caption + thead > tr:first-child > td,
table.bordered > colgroup + thead > tr:first-child > th,
table.bordered > colgroup + thead > tr:first-child > td,
table.bordered > thead:first-child > tr:first-child > th,
table.bordered > thead:first-child > tr:first-child > td {
  border-top: 1px solid #b7b7b7;
}


/* =CONTENT CALLOUTS
-------------------------------------------------------------- */
.node-content-callout {
  padding: 80px 0;
}

.node-content-callout .col-md-12 .content-wrapper {
  max-width: 800px;
  margin-right: auto;
  margin-left: auto;
  text-align: center;
}

.node-content-callout h2 {
  margin-bottom: 34px;
  font-size: 48px;
}

.node-content-callout .btn {
  margin-top: 18px;
}

.node-content-callout .col-md-6 img,
.node-content-callout .col-md-6 .embedded-video {
  margin-top: 22px;
}

@media (max-width: 768px) {
  .node-content-callout h2 {
    font-size: 38px;
  }
}

/* =PANELS
-------------------------------------------------------------- */
.panel {
  background-color: #fbfbfb;
  border: 1px solid #d7d7d7;
}

.js-darkgraybg .panel,
.js-lightgraybg .panel {
  background-color: #fff;
}

/* =VIDEO
-------------------------------------------------------------- */
/* Generic video */
.embedded-video,
.media-youtube-video,
.media-vimeo-video {
  position: relative;
  padding-bottom: 56.25%;
  padding-top: 0;
  height: 0;
  overflow: hidden;
}

.embedded-video iframe,
.embedded-video object,
.embedded-video embed,
.media-youtube-video iframe,
.media-youtube-video object,
.media-youtube-video embed,
.media-vimeo-video iframe,
.media-vimeo-video object,
.media-vimeo-video embed {
  position: absolute !important;
  margin-top: 0 !important;
  margin-bottom: 0 !important;
  top: 0;
  left: 0;
  width: 100% !important;
  height: 100% !important;
}

/* =BREADCRUMBS
-------------------------------------------------------------- */
.easy-breadcrumb {
  background-color: transparent;
  margin: 2em 0;
  padding: 0;
  color: #828282;
  font-size: 14px;
}

.easy-breadcrumb .easy-breadcrumb_segment-separator {
  padding: 0 5px;
}

.easy-breadcrumb a {
  border-bottom: 0 none;
}

/* =FLEXSLIDER SLIDESHOWS
-------------------------------------------------------------- */

.flexslider {
  border: none;
  border-radius: 0;
  box-shadow: none;
  margin: 0 0 44px;
}

/* =ACCORDIONS
-------------------------------------------------------------- */
.ui-accordion {
  margin: 48px 0;
  color: #2a2a2a;
  font-family: "Roboto", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 16px;
  font-weight: 200;
  line-height: 1.44;
}

.ui-accordion .ui-accordion-header {
  margin-top: 0;
}

h4.ui-accordion-header {
  padding: 10px 20px;
  text-transform: uppercase;
  font-size: 16px;
}

h4.ui-accordion-header.ui-corner-all,
h4.ui-accordion-header.ui-corner-top {
  border-top-right-radius: 0;
  border-top-left-radius: 0;
}

h4.ui-accordion-header.ui-state-default {
  background-color: #fff;
  border-top: 1px solid #e6e6e6;
  border-right: 1px solid #e6e6e6;
  border-bottom: 1px solid #fff;
  border-left: 1px solid #e6e6e6;
  color: #909090;
}

h4.ui-accordion-header.ui-state-hover {
  color: #111;
}

h4.ui-accordion-header.ui-state-active {
  border-top: 1px solid #e6e6e6;
  border-right: 1px solid #e6e6e6;
  border-bottom: 3px solid #111;
  border-left: 1px solid #e6e6e6;
  color: #111;
}

h4.ui-accordion-header.ui-state-default:last-of-type {
  border-top: 1px solid #e6e6e6;
  border-right: 1px solid #e6e6e6;
  border-bottom: 1px solid #e6e6e6;
  border-left: 1px solid #e6e6e6;
}

.ui-accordion .ui-accordion-content {
  top: 0;
  border-top: 1px solid #e6e6e6;
  border-right: 1px solid #e6e6e6;
  border-bottom: 0 none;
  border-left: 1px solid #e6e6e6;
  margin-bottom: 0;
  margin-top: 0;
  padding: 20px;
}

.ui-accordion .ui-accordion-content:last-of-type {
  border-bottom: 1px solid #e6e6e6;
}

.ui-accordion .accordion-content {
  color: #2a2a2a;
  font-family: "Roboto", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 16px;
  font-weight: 200;
  line-height: 1.44;
}

.ui-accordion .ui-accordion-header .ui-icon {
  left: auto;
  right: 0.5em;
}

.ui-accordion .ui-state-active .ui-icon,
.ui-accordion .ui-state-default .ui-icon,
.ui-accordion .ui-accordion .ui-state-active .ui-icon {
  background-image: url("../images/accordion-arrows.png");
}

.ui-accordion .ui-icon-triangle-1-e {
  background-position: 0 0;
}

.ui-accordion .ui-state-hover .ui-icon-triangle-1-e,
.ui-accordion .ui-icon-triangle-1-s {
  background-position: 0 -13px;
}

.ui-accordion .ui-icon {
  height: 13px;
  width: 13px;
}
/* =ALERTS
-------------------------------------------------------------- */

.alert {
  margin-top: 30px;
  padding: 20px;
}

.alert a.close {
  font-size: 22px;
  opacity: 1;
  color: #fff;
}

.alert a.close:hover {
  color: #000;
}

.alert-success {
  background-color: #148e4b;
  border-color: #0b4b28;
}

.alert-info {
  background-color: #008ed6;
  border-color: #005b8a;
}

.alert-danger {
  background-color: #ec5937;
  border-color: #c43413;
}

.alert-warning {
  background-color: #bfe319;
  border-color: #859e11;
}

.alert-warning *,
.alert-warning a.close {
  color: #000;
}

.alert-success,
.alert-info,
.alert-danger,
.alert-warning a.close:hover {
  color: #fff;
  margin: 1em 0;
}

.alert > ul > li > [class^=krumo],
.alert > [class^=krumo] {
  all: initial;
}

/* =ADMIN UI
-------------------------------------------------------------- */

/* Node edit */

#top-content #tabs .nav-pills {
  padding-top: 1em;
}

#top-content #tabs .nav-pills li a {
  background-color: #f6f6f6;
}

#top-content #tabs .nav-pills li a:hover {
  background-color: #e9e9e9;
  color: #000;
}

#top-content #tabs .nav-pills > li.active > a,
#top-content #tabs .nav-pills > li.active > a:hover,
#top-content #tabs .nav-pills > li.active > a:focus {
  background-color: #8C1D40;
}

/* IPE */
#panels-ipe-control-container a {
  border-bottom: none;
}

/* Ctools Modals */
.ctools-modal-content .btn {
  margin-top: 3px;
  padding: 4px 10px;
  font-size: 11px;
}

#modalContent .form-submit.btn {
  margin-bottom: 1em;
  padding: 6px 20px;
  font-size: 18px;
}

.ctools-modal-content #edit-settings-spacing {
  -webkit-column-count: 3;
  -moz-column-count: 3;
  column-count: 3;
  -webkit-column-width: 15em;
  -moz-column-width: 15em;
  column-width: 15em;
}

.panels-section-column-categories .panels-categories-box {
  margin-bottom: 0.5em;
}

h2.widget-list {
  font-size: 14px;
  line-height: 1.4;
  margin: 0 0 0 10px;
}

.panels-section-column .content-type-button {
  top: 3px;
  line-height: 1.35em;
}

ul.help-text {
  background-color: #f6f6f6;
  padding: 0.5em 1em;
}

ul.help-text li {
  list-style: none;
  padding: 2px 0;
  line-height: 1.25;
}

ul.help-text li.help-title {
  font-size: 14px;
  font-weight: bold;
}

/* =MEDIA QUERIES
-------------------------------------------------------------- */

@media (max-width: 992px) {

  .row .col-sm-6:nth-child(3),
  .row .col-sm-6:nth-child(5),
  .row .col-sm-6:nth-child(7) {
    clear: both;
  }

}

@media (max-width: 793px) {

  .container-fluid .row {
    margin-left: 0;
    margin-right: 0;
  }

  .panel-pane.js-lightgraybg,
  .panel-pane.js-darkgraybg,
  .panel-pane.pane-bundle-hero,
  .panel-pane.pane-bundle-banner {
    padding-right: 15px;
    padding-left: 15px;
  }

}

@media (max-width: 480px) {

  table {
    margin: 24px 0 50px 0;
  }

  table.tablefield {
    display: block;
  }

  img.media-element.pull-right {
    float: none !important;
    margin-left: 0;
  }

  img.media-element.pull-left {
    float: none !important;
    margin-right: 0;
  }

}

/* =100% width fix for Bootstrap limitation
----------------------------------------------------- */

#header .container {
  padding-left: 0px;
  padding-right: 0px;
}

#header > .container .row .col-md-12 {
  padding-right: 0;
  padding-left: 0;
}

.section > .container,
#footer > .container,
#page-footer > .container {
  width: 100%;
  padding-left: 0px;
  padding-right: 0px;
}

.section > .container .row,
#footer > .container .row,
#page-footer > .container .row {
  max-width: 1170px;
  margin: 0 auto;
}

.section > .container .row-full,
#footer > .container .row-full,
#page-footer > .container .row-full {
  width: 100% !important;
  max-width: none;
}

.section > .container .row-full .col-md-12,
#footer > .container .row-full .col-md-12,
#page-footer > .container .row-full .col-md-12 {
  padding-left: 0;
  padding-right: 0;
}

.section > .container .row-full [class^="pane-"],
#footer > .container .row-full .content,
#page-footer > .container .row-full .content {
  max-width: 1170px;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
}

.section > .container .row-full .maxpayne [class^="pane-"],
#footer > .container .row-full .maxpayne [class^="pane-"],
#page-footer > .container .row-full .maxpayne [class^="pane-"] {
  width: 100% !important;
  padding-left: 0;
  padding-right: 0;
  margin-left: 0;
  margin-right: 0;
  max-width: none !important;
}

.row {
  padding: 0px;
  margin: 0px;
}

#page-footer {
  background-color: #1E1E1E;
}
#page-footer #block-asu-brand-asu-brand-footer {
  background-color: #E5E5E5;
}

/* Token browsing modal */

.ui-widget-content.ui-dialog.token-browser-container {
  background-color: #fff;
  padding: 0.5em;
  border: 1px solid #ddd;
}
.ui-widget-content.ui-dialog.token-browser-container,
.token-browser-container .ui-dialog-titlebar {
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  border-radius: 0px;
}
.token-browser-container .ui-dialog-titlebar {
  background-color: #eaeaec;
}
.token-browser-container .ui-dialog-title {
  color: #333;
  padding-left: 1em;
}
.token-browser-container table.treeTable > tbody > tr > td:not(first-child) {
  padding-top: 0.25em;
  padding-bottom: 0.25em;
}
