/**************************************************************************
 * ASU Directory Module
 * Department Tree Display
 *
 * @author : Colton Testamarck (colt@asu.edu)
 *************************************************************************/

.asu-directory-tree-hierarchy {
    border: 1px solid #B8B8B8;
    border-top: 8px solid #8C1D40;
    margin: 1px 0px 200px 0px;
    overflow: auto;
    padding: 30px;
    position: relative;
}

ul.jqtree-tree .jqtree-element {
    padding: 5px;
}

body .jqtree-tree .jqtree-title {
    margin-left: 7px;
}

ul.jqtree-tree li.jqtree-selected > .jqtree-element > span.jqtree-title, ul.jqtree-tree li.jqtree-selected > .jqtree-element > .jqtree-folder-icon {
    color: #fff;
}

ul.jqtree-tree li.jqtree-selected > .jqtree-element, ul.jqtree-tree li.jqtree-selected > .jqtree-element a, ul.jqtree-tree li.jqtree-selected > .jqtree-element:hover {
    background: none;
    color: #fff;
    background-color: #8C1D40;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}

.jqtree-folder-icon {
    color: #8C1D40;
}

/**************************************************************************
 * Department Block Styling
 *************************************************************************/
#block-asu-directory-asu-directory-dept-hrc a:hover {
    text-decoration: none;
}

ul.jqtree-tree a {
    cursor: pointer;
}

ul.jqtree-tree li.jqtree-selected > div, ul.jqtree-tree li.jqtree-selected > div:hover {
    background: none;
}

ul.jqtree-tree div {
    cursor: auto;
}

.jqtree_common.jqtree-title {
    cursor: pointer;
}

#asu_directory_hrc_buttons i {
    /*display: block;*/
    color: darkgray;
    /*font-size: .5em;*/
}

.asu_directory_dept_button:hover {
    cursor: pointer;
    color: black;
}

.asu_directory_dept_button a:hover {
    text-decoration: none;
}

.asu_directory_dept_button a {
    color: #960331;
}

.asu_directory_button_row {
    background-color: #eee;
    border-bottom: solid #ddd 2px;
    color: #960331;
    padding: .3em;
}

.asu_directory_dept_button {
    margin-right: .2em;
    border-radius: 5px;
    border: solid darkgray 1px;
    padding: 0 .2em 0 .2em;
}

/********
Isearch Compatibility
******/

#asu-dept-mgr-hierarchy .asu-directory-tree-hierarchy {
    border: none;
}
