/*********************************************
 * CSS for RFI FORMS
 *********************************************/

/** Multiblock overrides */
.block-multiblock {
  margin-right: auto;
  margin-left: auto;
  padding-left: 1em;
  padding-right: 1em;
  .form-wrapper {
    margin-top: 1em;
    border-bottom: 1px solid grey;
  }
}

/** ASU RFI Form elements **/
// Form-specific styling
form[id^="asu-rfi-"] {
  div.fieldset-wrapper {
    overflow: visible !important;
  }
  fieldset {
    legend {
      margin-bottom: inherit;
      font-size: 1.3em;
      font-weight: 600;
    }
    &:not(:first-of-type) legend {
      margin-top: 1em;
    }
  }
  input[type="text"] {
    width: 230px;
  }
  .uneditable-input {
    width: 240px;
  }
  select {
    width: 230px !important;
  }
  .chosen-container {
    width: 230px !important;
    &.error {
      background: none !important;
    }
  }
  .chosen-search input[type="text"] {
    max-width: 230px !important;
  }
  .form-type-checkbox {
    padding-left: 0;
    label {
      margin-left: 2em;
    }
    input[type="checkbox"] {
      float: right;
    }
  }
  .form-type-radios {
    .form-radios {
      margin-left: 1.25em;
      .form-type-radio {
        margin-top: 0.5em;
        margin-bottom: 0.5em;
      }
    }
    &.form-item-location {
      & > #edit-location {
        overflow: auto;
        .radio {
          margin-top: 0;
        }
      }
    }
  }
  // Single field styling
  #edit-req-helper {
    font-style: italic;
    font-size: 0.9em;
    p {
      margin: 0;
    }
  }
  .form-item-birthdate label {
    display: none !important;
  }
  .form-item-mobile-check .fa-check {
    position: relative !important;
  }
}

// Form-specifc styling
#rfi_second_form {
  margin-top: 1.25em;
  // Single field styling
  .form-item-military.form-group {
    border-bottom: 1px solid grey;
  }
  .form-item-citizenship {
    border-bottom: 1px solid grey;
  }
}
// Form-specifc styling
#asu-rfi-long-form-data {
  label {
    font-weight: normal;
    font-size: smaller;
  }
  .fieldset-wrapper {
    padding-left: 60px;
    margin-bottom: 30px;
    padding-bottom: 25px;
  }
  .form-wrapper {
    margin-top: 15px;
    border-bottom: 1px solid grey;
  }
  // Single field styling
  .form-item-citizenship {
    padding-left: 0 !important;
  }
}

// MISC
#edit-dob-field {
  margin-bottom: -17px;
  .modal-body {
    padding: 2.1875rem;
  }
}
#edit-location .form-type-radio.form-item-location.form-item.radio {
  display: inline;
  margin-right: 2em;
  float: left;
}
.rfi-button {
  background: #a30046 !important;
  color: #ffffff !important;
  margin-bottom: 1.25em !important;
  margin-left: 1.375em !important;
}

/* GDPR disclaimer */
div[id^="edit-gdpr-message"] {
  border: 1px solid #ccc;
  border-radius: 0.25rem;
  padding: 1em;
  background-color: #f7f7f7;
  margin-top: 2em;
  .gdpr-list {
    list-style: none;
    counter-reset: item;
    margin-left: -2.5em;
    & > li {
      counter-increment: item;
      margin-bottom: 5px;
      padding-left: 2em;
      text-indent: -2em;
      &:before {
        text-indent: 0;
        margin-right: 10px;
        content: counter(item);
        background: #5C6670;
        border-radius: 25%;
        color: #FFF;
        width: 1.2em;
        text-align: center;
        display: inline-block;
        font-weight: bold;
      }
    }
    .gdpr-link {
      font-weight: bold;
      text-decoration: underline;
      border-bottom: none;
    }
  }
}
.college div[id^="edit-gdpr-message"] {
  .gdpr-list {
    margin-left: 0;
    & > li {
      padding-left: 0;
      text-indent: 0;
    }
  }
}

/** MEDIA RULES **/
@media screen and (min-width: 320px) {
  form[id^="asu-rfi-"] textarea {
    width: 100%;
  }
}
@media screen and (min-width: 769px) {
  form[id^="asu-rfi-"] textarea {
    max-width: 75%;
  }
}
@media screen and (min-width: 992px) {
  form[id^="asu-rfi-"] textarea {
    max-width: 600px;
  }
}
