/** @description - If Innovation is the admin theme, add these changes to clean up the admin UI WS2.0 SKIPPED (awaiting testing) */
/* Bootstrap variables list (defaults copied from bootstrap-sass version 3.1.0.2): Override Bootstrap variables below. */
/*== Colors --- WS2 DONE
-----------------------------------------------------*/
/* MISCELLANEOUS
------------------------------------------------ */
/* Global mixin library for multiple or all elements */
/* -------- Admin-wide CSS selectors ---------- */
#block-system-help { padding: 1em; border: 1px solid #00a3e0; background-color: #d6f0fa; margin: 1em 0; }
#block-system-help:first-child:before { content: "Drupal Help --"; font-weight: bold; }
#block-system-help .content:last-child { margin: 0; }

.help-block { color: inherit; opacity: 0.8; }

.pia { /** Alerts with links in text */ /** All admin area forms */ /** wrap admin forms that are panelized and the <form> tag is rendered outside the node TPL (/node/add, etc.) */ /** Fieldset theming */ /** Category lists on main admin landing pages */ /** Tables */ /*** striping added EXCEPT on Reports -> Status */ /*** Form elements for field settings */ /** Main system block container for most /admin based pages */ /** Restore browser-native checkboxes, radio buttons */ /** Filter button */ /** Views exposed filters */ /** layout of entire exposed form **/ /** CTools export forms added **/ /** CTools exports forms additional */ /** ------------- Custom CSS selectors for individual sections --------- */ /** Blocks administration */ /** Available updates */ /* Configuration - Landing page */ /** URL aliases - column all gray due to bootstrap */ /** Recent Log Entries */ }
.pia h1#page-title { margin-bottom: 0.3333em; }
.pia table a.tabledrag-handle { margin-left: inherit; border-bottom: none; margin: auto; }
.pia .alert-danger a, .pia .alert-info a { color: #fff; border-bottom-color: #fff; }
.pia #top-content #action-links { margin-bottom: 1em; }
.pia #block-system-main > .content > form[id] { margin: 0; padding: 1em; border: 1px solid #ddd; box-shadow: 4px 6px 3px #fafafa; }
.pia fieldset.fieldset-nested- { margin: 0.5em 0; padding: 1em; border: 1px solid #e0e0dc !important; }
.pia fieldset.fieldset-nested-odd { background-color: #fafafa; }
.pia fieldset.fieldset-nested-even { background-color: #edf9dd; }
.pia #block-system-main fieldset legend { width: initial; margin-bottom: 0; font-weight: bold; }
.pia .admin-list > dt, .pia #block-system-main .content > dl > dt { border: 1px solid #ddd; border-bottom: none; padding: 0.25em 0.25em 0 0.25em; }
.pia .admin-list > dl > dt + dd, .pia #block-system-main .content > dl > dt + dd { border: 1px solid #ddd; border-top: none; margin-bottom: 0.5em; padding: 0 0.25em 0.25em 0.25em; }
.pia .admin-list > dt:nth-of-type(2n), .pia #block-system-main .content > dl > dt:nth-of-type(2n), .pia .admin-list > dd:nth-of-type(2n), .pia #block-system-main .content > dl > dd:nth-of-type(2n) { background-color: #fff; }
.pia .admin-list > dt:nth-of-type(2n+1), .pia #block-system-main .content > dl > dt:nth-of-type(2n+1), .pia .admin-list > dd:nth-of-type(2n+1), .pia #block-system-main .content > dl > dd:nth-of-type(2n+1) { background-color: #fafafa; }
.pia body:not(.page-admin-reports-status) table > tbody > tr:nth-child(2n+1) { background-color: #fafafa; }
.pia #block-system-main table thead { background-color: #edf9dd; }
.pia table[id] .form-item, .pia table[id] .form-actions .btn, .pia table[id] .form-submit { margin: 0.25em; }
.pia #block-system-main { margin-bottom: 1em; }
.pia #block-system-main table tr .form-type-checkbox, .pia #block-system-main table tr .form-type-radio, .pia.page-admin-modules .module-filter-inputs-wrapper .form-type-checkbox { margin-top: 0.25em; }
.pia #block-system-main table tr .form-type-checkbox > input[type="checkbox"], .pia #block-system-main table tr .form-type-checkbox > input[type="radio"], .pia.page-admin-modules .module-filter-inputs-wrapper .form-type-checkbox > input[type="checkbox"] { opacity: initial; padding: 0 0.5em; }
.pia #block-system-main table tr .form-type-checkbox > label.element-invisible, .pia #block-system-main .views-field-views-bulk-operations .form-type-checkbox > input.form-checkbox + label, .pia #block-system-main table tr .form-type-checkbox > input.form-checkbox + label:before, .pia #block-system-main table tr .form-type-checkbox > input.form-checkbox + label:after, .pia.page-admin-modules .module-filter-inputs-wrapper .form-type-checkbox > input.form-checkbox + label:before, .pia.page-admin-modules .module-filter-inputs-wrapper .form-type-checkbox > input.form-checkbox + label:after { display: none; }
.pia #block-system-main .container-inline div, .pia .container-inline label { display: inline-block; }
.pia .view-better-watchdog-ui-view .views-operator { margin-bottom: 1em; }
.pia .view-better-watchdog-ui-view .views-exposed-widgets .description { font-size: 0.75em; }
.pia .views-exposed-widget.views-submit-button { clear: both; }
.pia .views-exposed-widget > .form-submit { margin: 1em 1em 0 0; }
.pia .views-exposed-form .views-submit-button, .pia .views-exposed-form .views-reset-button { padding-right: 0; }
.pia .view-filters > form, .pia #ctools-export-ui-list-form { padding: 1em; border: 1px solid #ddd; background-color: #fafafa; }
.pia .view-filters .form-control, .pia #ctools-export-ui-list-form .form-control { padding: 0.25em; }
.pia .views-exposed-form .views-exposed-widget { padding-top: 0; }
.pia #ctools-export-ui-list-form { margin-top: 1em; }
.pia #block-admin-display-form table .region-title { background-color: #e1f8c4; }
.pia table.update .alert { color: initial; }
.pia table.update .alert.alert-success { background-color: #e1f8c4; }
.pia #module-filter-update-status-form .module-filter-inputs-wrapper .form-item-module-filter-name { margin-bottom: 1em; }
.pia #module-filter-update-status-form #module-filter-show-wrapper .form-item { padding: 0 1.5em; }
.pia .update tr.ok, .pia .update-status.ok { background: #e1f8c4; }
.pia .admin-panel { padding: 0 1em; margin-bottom: 1em; border: 1px solid #e0e0dc !important; }
.pia .admin-panel .body { padding: 0; }
.pia.page-admin-config .admin > .clearfix { margin-left: 0; margin-right: 0; width: 48%; }
.pia #block-system-main .table > tbody > tr.active > td, .pia #block-system-main .table > tbody > tr.active > th, .pia #block-system-main .table > tbody > tr > td.active, .pia #block-system-main .table > tbody > tr > th.active, .pia #block-system-main .table > tfoot > tr.active > td, .pia #block-system-main .table > tfoot > tr.active > th, .pia #block-system-main .table > tfoot > tr > td.active, .pia #block-system-main .table > tfoot > tr > th.active, .pia #block-system-main .table > thead > tr.active > td, .pia #block-system-main .table > thead > tr.active > th, .pia #block-system-main .table > thead > tr > td.active, .pia #block-system-main .table > thead > tr > th.active { background-color: initial; }
.pia .better_watchdog_ui_watchdog-detail table > thead > tr > th, .pia .better_watchdog_ui_watchdog-detail table > thead > tr > td, .pia .better_watchdog_ui_watchdog-detail table > tbody > tr > th, .pia .better_watchdog_ui_watchdog-detail table > tbody > tr > td, .pia .better_watchdog_ui_watchdog-detail table > tfoot > tr > th, .pia .better_watchdog_ui_watchdog-detail table > tfoot > tr > td { border: 1px solid #bfbfbf; }
.pia .view-better-watchdog-ui-view table .form-type-checkbox { padding: 0 0.25em; }
.pia .vbo-views-form div.form-item + input.btn { margin-top: 1em; }
.pia div.form-item > .help-block { font-size: 0.8em; margin-top: 0; }

/** Module Filter + absolutely positioned ASU global footer don't jive together. */
html.js .pia.page-admin-modules footer#page-footer { display: none; }
html.js .pia.page-admin-modules .module-filter-inputs-wrapper .checkbox input[type="checkbox"], html.js .pia.page-admin-modules .module-filter-inputs-wrapper .checkbox-inline input[type="checkbox"] { float: initial; }
html.js .pia.page-admin-modules .module-filter-inputs-wrapper .module-filter-clear a { float: none; }

/** Views exposed forms - /admin/content */
.views-exposed-form .views-widget-filter-severity { max-width: 15%; }

/* Devel debugging ---------------------------------- */
.logged-in .alert > ul > li > [class^=krumo] { all: initial; }
.logged-in .alert .krumo-root .krumo-element:not(a) { color: #78be20; }

/* Token browsing modal ----------------------------- */
.ui-widget-content.ui-dialog.token-browser-container { background-color: #fff; padding: 0.5em; border: 1px solid #ddd; -webkit-border-radius: 0; -moz-border-radius: 0; border-radius: 0; }

.token-browser-container .ui-dialog-titlebar { background-color: #eaeaec; -webkit-border-radius: 0; -moz-border-radius: 0; border-radius: 0; }
.token-browser-container .ui-dialog-title { color: #333; padding-left: 1em; }
.token-browser-container table.treeTable > tbody > tr > td:not(first-child) { padding-top: 0.25em; padding-bottom: 0.25em; }

#top-content #tabs .nav-pills { padding: 0.5rem; background-color: #e8e8e8; /* dropdown items from nav pills */ }
#top-content #tabs .nav-pills li { padding-right: 0.5rem; }
#top-content #tabs .nav-pills li a { -webkit-transition: 0.1s ease-out; transition: 0.1s ease-out; background-color: #fafafa; }
#top-content #tabs .nav-pills li a:hover { transform: scale(1.1); }
#top-content #tabs .nav-pills li a.active:hover { color: #fafafa; }
#top-content #tabs .nav-pills > li.active > a, #top-content #tabs .nav-pills > li.active > a:hover, #top-content #tabs .nav-pills > li.active > a:focus { background-color: #8c1d40; }
#top-content #tabs .nav-pills li.dropdown > ul.dropdown-menu a { background-color: transparent; border-bottom: transparent; }
#top-content #tabs .nav-pills li.dropdown > ul.dropdown-menu a:hover { background-color: #e8e8e8; color: #000; }

/* IPE */
#panels-ipe-control-container a { border-bottom: transparent; }

.panels-ipe-editing .panels-ipe-portlet-wrapper, .panels-ipe-editing .panels-ipe-placeholder { max-width: 1170px; margin-left: auto; margin-right: auto; }

/* Ctools Modals */
.ctools-modal-content .btn { margin-top: 0.25em; padding: 4px 0.625em; font-size: 0.6925em; }
.ctools-modal-content #edit-settings-spacing { -webkit-column-count: 3; -moz-column-count: 3; column-count: 3; -webkit-column-width: 15em; -moz-column-width: 15em; column-width: 15em; }

.panels-section-column-categories .panels-categories-box { margin-bottom: 0.5em; }

h2.widget-list { font-size: 0.9em; line-height: 1.4; margin: 0 0 0 0.625em; }

/* Main body of columns with content */
#modalContent { /* LH side categories */ }
#modalContent .form-submit.btn { margin-bottom: 1em; padding: 6px 20px; font-size: 1.125em; }
#modalContent .panels-section-column-categories .content-type-button { top: 0.5em; line-height: 1.1em; font-size: 0.75em; }
#modalContent .panels-section-column-categories .content-type-button div, #modalContent .panels-section-column-categories .content-type-button span { left: 3em; position: absolute; top: 0.25em; width: 80%; }
#modalContent .panels-section-column-categories .content-type-button > a:hover > img, #modalContent .panels-section-column-categories .content-type-button > a > img:hover { border: 2px solid #fff; }
#modalContent .panels-section-columns > .panels-section-column .content-type-button { font: normal 0.9rem/1.5em Arial, Helvetica, "Nimbus Sans L", "Liberation Sans", FreeSans, sans-serif; top: 0; }
#modalContent .panels-section-columns > .panels-section-column .content-type-button div, #modalContent .panels-section-columns > .panels-section-column .content-type-button span { position: relative; top: 0; left: 0; }

#modal-content .form-tablefield input.form-submit.btn, #modalContent .form-tablefield input.form-submit.btn { background-color: #8c1d40 !important; }

ul.help-text { background-color: #fafafa; padding: 0.5em 1em; }
ul.help-text li { list-style: none; padding: 0.125em 0; line-height: 1.25; }
ul.help-text li.help-title { font-size: 0.875em; font-weight: bold; }
