/* =MEDIA QUERIES -- IN PROGRESS Contains print and screen rules
-------------------------------------------------------------- */
/* Bootstrap variables list (defaults copied from bootstrap-sass version 3.1.0.2): Override Bootstrap variables below. */
/*== Colors --- WS2 DONE
-----------------------------------------------------*/
/* MISCELLANEOUS
------------------------------------------------ */
/* Default alternate desktop size: >= 992px */
@media (min-width: 992px) { header[class^=css-] { border-bottom: none; }
  header[class^=css-] > .universal-nav { display: block; }
  header[class^=css-] > .navbar-component { display: none; }
  #ASUNavMenu { display: inherit; } }
/* Default alternate desktop size: <= 992px */
@media (max-width: 1199px) { .container { width: 100% !important; } }
/* Default "Mobile size" <= 991px */
@media (max-width: 991px) { div.region-content ul.ui-tabs-nav { overflow-x: scroll; display: flex; border-radius: 0; overflow-y: hidden; flex-wrap: nowrap; }
  .container { width: 100%; max-width: 992px; }
  #ASUNavMenu { display: none !important; }
  header#header { height: 0.25rem; }
  h1, .h1 { margin-bottom: 3rem; font-size: 48px; }
  h1.page-title { margin-bottom: 0; padding-bottom: 0.75rem; }
  h2, .h2 { font-size: 34px; }
  .row .col-sm-6:nth-child(3), .row .col-sm-6:nth-child(5), .row .col-sm-6:nth-child(7) { clear: both; }
  #header a { color: #191919; }
  #header .container { width: 100%; }
  #header > .container .row { margin-left: 0; margin-right: 0; }
  #header > .container .row .col-md-12 { padding-left: 0; padding-right: 0; }
  #header .container-fluid > .row > .col-md-12 { width: 100%; }
  .header__sitename { font-size: 15px; padding: 12px 15px; color: #fff; background: #484848; font-weight: 600; line-height: 12px; }
  .header__sitename a { color: #fff; }
  #asu_hdr_title_gen { white-space: normal; }
  .item-list.item-list-pager, .pagination, .pager { font-size: 1em; }
  .item-list.item-list-pager li, .item-list.item-list-pager > li, .pagination li, .pagination > li, .pager li, .pager > li { font-size: 1em; } }
/** Smaller tablet size */
@media (max-width: 793px) { .container-fluid .row { margin-left: 0; margin-right: 0; }
  .panel-pane.js-lightgraybg, .panel-pane.js-darkgraybg, .panel-pane.pane-bundle-hero, .panel-pane.pane-bundle-banner { padding-right: 15px; padding-left: 15px; } }
@media (max-width: 931px) { #innovation-footer .footer-menu ul li { padding-bottom: 0.5em; }
  .node-content-callout h2 { font-size: 38px; } }
@media (max-width: 480px) { table { margin: 24px 0 50px 0; }
  table.tablefield { display: block; }
  img.media-element.pull-right { float: none !important; margin-left: 0; }
  img.media-element.pull-left { float: none !important; margin-right: 0; } }
@media print { .megafoot > .row div:not(.megafoot-border) { display: none; }
  .megafoot ul.social-media li a { font-size: 1em; }
  .ui-tabs-nav { display: none; }
  .ui-tabs .ui-tabs-hide { display: block !important; }
  #innovation-footer { position: revert; }
  #top-content #tabs .nav.nav-pills, .region-closure, #innovation-bar, #ASUNavMenu.sticky-menu { display: none !important; }
  #page .container, #innovation-footer .footer-menu ul, #innovation-bar .innovation-top { width: 100%; }
  aside.right-sidebar, aside.left-sidebar { width: 25% !important; } }
