/** Navigation */
/* Bootstrap variables list (defaults copied from bootstrap-sass version 3.1.0.2): Override Bootstrap variables below. */
/*== Colors --- WS2 DONE
-----------------------------------------------------*/
/* MISCELLANEOUS
------------------------------------------------ */
/* Global mixin library for multiple or all elements */
/* Main Menu styling (partial) ---------------------------------------------- */
.navmenu { border-bottom: 1px solid #e8e8e8; }
.navmenu .container { padding-left: 0; padding-right: 0; }

.nav > li > a { display: inline-block; }

.navbar-nav > li:focus > a, .navbar-nav > .active:focus > a, .navbar-nav > li > a:focus, .nav .open > a:focus, .navbar-nav > .active > a:focus .navbar-nav .dropdown-menu > li > a:focus { outline: 2px solid #191919; outline-offset: 0.25rem; }

/* Navigation breadcrumbs ----------------------------------- */
.breadcrumb { padding: 0; margin-top: 1.5em; margin-bottom: 3em; list-style: none; font-size: 0.875em; background-color: transparent; }
.breadcrumb > li { display: inline-block; }
.breadcrumb > li + li:before { content: "/\00a0"; padding: 0 0.3125em; color: #747474; }
.breadcrumb > li > a { border-bottom: 0; }
.breadcrumb > .active { color: #747474; }

.easy-breadcrumb { background-color: transparent; margin: 2em 0; padding: 0; color: #484848; font-size: 0.875em; }
.easy-breadcrumb a { border-bottom: 0 none; }
.easy-breadcrumb .easy-breadcrumb_segment-separator { padding: 0 0.3125rem; }

/* Nav pills --------------------------------------------- */
.nav-pills > li { float: left; }
.nav-pills > li > a { border: 0 none; border-radius: 32px; min-width: 5rem; text-align: center; font-weight: bold; letter-spacing: -0.25px; }
.nav-pills > li > li + li { margin-left: 0.125em; }
.nav-pills > li.active > a, .nav-pills > li.active > a:hover, .nav-pills > li.active > a:focus { color: #fff; background-color: #8c1d40; }
.nav-pills > li.active > a:focus { outline: 2px solid #191919; outline-offset: 0.25rem; }

/* Tabs, QuickTabs, pagers, pagination, sidebar (secondary menu) -------------------------------------------------------------- */
.ui-widget, .ui-widget-header, .ui-widget-content { font-family: inherit; }

ul.quicktabs-style-nostyle { font-size: 24px; }

.ui-tabs-panel, .ui-tabs-panel p { font-size: 1rem; }

.ui-widget-header { background: none; min-height: auto; padding: 0; color: #191919; font-size: 1.125rem; font-weight: 200; line-height: 24px; }

.ui-tabs .ui-tabs-nav { border-bottom: 1px solid #d0d0d0 !important; padding: 16px 0 0 0; display: flex; flex-wrap: wrap; }
.ui-tabs .ui-tabs-nav li { border-top: 0.3125em solid transparent; margin: 0; padding: 0; position: relative; top: 0; }
.ui-tabs .ui-tabs-nav li.ui-corner-top { border-top-right-radius: 0; border-top-left-radius: 0; }
.ui-tabs .ui-tabs-nav li.ui-state-default { background: none; background-color: transparent; color: #191919; }
.ui-tabs .ui-tabs-nav li.ui-state-hover, .ui-tabs .ui-tabs-nav li.ui-state-active, .ui-tabs .ui-tabs-nav li.ui-tabs-selected { border-top: 0.3125em solid #8c1d40; background: none; background-color: transparent; margin-bottom: -1px; padding-bottom: 0; }
.ui-tabs .ui-tabs-nav li.ui-state-default { margin-bottom: -1px; }
.ui-tabs .ui-tabs-nav li.ui-state-default a, .ui-tabs .ui-tabs-nav li.ui-state-default a:link, .ui-tabs .ui-tabs-nav li.ui-state-default a:visited { color: #191919; transition: 0.5s cubic-bezier(0.19, 1, 0.19, 1); }
.ui-tabs .ui-tabs-nav li a { display: block; position: relative; border-color: #747474 #747474 transparent #747474; border-image: none; border-radius: 0; border-style: solid; border-width: 1px; padding: 0.625em 0.9375em; color: #747474; line-height: 24px; transition: 0.5s cubic-bezier(0.19, 1, 0.19, 1); }
.ui-tabs .ui-tabs-nav li.ui-state-hover a { border: 0.5em solid #8c1d40; }
.ui-tabs .ui-tabs-nav li.ui-state-active a { background-color: transparent; border-bottom-color: #fff; margin-left: 0.08em; }
.ui-tabs .ui-tabs-nav li.ui-state-focus a { border-top: 0.125em solid #191919; border-right: 0.125em solid #191919; border-bottom: 0.125em solid #191919; border-left: 0.125em solid #191919; }

ul.quicktabs-style-nostyle { border-bottom: 1px solid #d0d0d0 !important; margin-bottom: 0; padding: 16px 0 0 0; }
ul.quicktabs-style-nostyle li { background: none; background-color: transparent; border-top: 0.3125em solid transparent; color: #191919; display: inline-block; margin: 0 0 -1px 0; padding: 0; position: relative; top: 0; }
ul.quicktabs-style-nostyle li:hover a { border: 0.5em solid #8c1d40; }
ul.quicktabs-style-nostyle li:hover, ul.quicktabs-style-nostyle li.active { border-top: 0.3125em solid #8c1d40; background: none; background-color: transparent; margin-bottom: -1px; padding-bottom: 0; }
ul.quicktabs-style-nostyle li.active a, ul.quicktabs-style-nostyle li.active:hover a { background-color: transparent; border-bottom-color: #fff; margin-left: 0.08em; }
ul.quicktabs-style-nostyle li a { display: inline-block; position: relative; border-color: #747474 #747474 transparent #747474; border-image: none; border-radius: 0; border-style: solid; border-width: 1px; padding: 1em 1.5em; color: #191919; font-size: 1.125rem; font-weight: 400; line-height: 24px; text-decoration: none; transition: 0.5s cubic-bezier(0.19, 1, 0.19, 1); }

ul.quicktabs-tabs.quicktabs-style-asu-web-standards li a { color: #191919; }

/* fixes for stacked tabs */
#content .ui-tabs .ui-tabs-nav li { border: none; }
#content .ui-tabs .ui-tabs-nav li a { border: none; color: #191919; font-weight: bold; transition: all 0.5s cubic-bezier(0.19, 1, 0.19, 1) 0s; }
#content .ui-tabs .ui-tabs-nav li a:focus { outline: none; }
#content .ui-tabs .ui-tabs-nav li a:after { content: ''; position: absolute; display: block; height: 0.5rem; background-color: #8c1d40; width: 0; transition: all 0.5s cubic-bezier(0.19, 1, 0.19, 1) 0s; bottom: 0; left: -0.5rem; margin-left: 0.5rem; }
#content .ui-tabs .ui-tabs-nav li:hover a { color: #8c1d40; transition: all 0.5s cubic-bezier(0.19, 1, 0.19, 1) 0s; }
#content .ui-tabs .ui-tabs-nav li:hover a:after { width: 100%; transition: all 0.5s cubic-bezier(0.19, 1, 0.19, 1) 0s; }
#content .ui-tabs .ui-tabs-nav li:before { content: ''; }
#content .ui-tabs .ui-tabs-nav li.ui-state-active a { color: #8c1d40; }
#content .ui-tabs .ui-tabs-nav li.ui-state-active a:after { width: 100%; }
#content .ui-tabs .ui-tabs-nav li.ui-state-focus { margin-bottom: 0; }
#content .ui-tabs .ui-tabs-nav li.ui-state-focus a { border-top: none; }

.pagination { display: inline-block; padding-left: 0; margin: 1.5rem 0; border-radius: 0; }
.pagination > li { font-size: 1.25em; display: inline; }
.pagination > li > a, .pagination > li > span { position: relative; float: left; padding: 8px 8px; text-decoration: none; color: #8c1d40; background-color: #fff; border: 1px solid #8c1d40; margin-left: -1px; border-radius: 32px; }
.pagination > li:first-child > a, .pagination > li:first-child > span { margin-left: 0; }
.pagination > li > a:hover, .pagination > li > span:hover, .pagination > li > span:focus, .pagination > li .pagination > li > a:focus { color: #440E22; background-color: #fafafa; border-color: #ddd; }
.pagination > .active > a, .pagination > .active > span, .pagination > .active > span:hover, .pagination > .active > span:focus, .pagination .pagination > .active > a:hover, .pagination .pagination > .active > a:focus { z-index: 2; color: #fff; background-color: #8c1d40; border-color: #8c1d40; cursor: default; }
.pagination > .disabled > span, .pagination > .disabled > span:hover, .pagination > .disabled > span:focus, .pagination > .disabled > a, .pagination > .disabled > a:hover, .pagination > .disabled > a:focus { color: #747474; background-color: #fff; border-color: #ddd; cursor: not-allowed; }

.pagination-lg > li > a, .pagination-lg > li > span { padding: 8px 8px; font-size: 1.25em; border-radius: 32px; }

.pagination-sm > li { font-size: 1em; }
.pagination-sm > li > a, .pagination-sm > li > span { padding: 8px 8px; font-size: 1em; border-radius: 32px; }

.pager { padding-left: 0; margin: 1em 0; list-style: none; text-align: center; }
.pager:before, .pager:after { content: " "; display: table; }
.pager:after { clear: both; }
.pager li { font-size: 1.25em; display: inline; margin: 0 1em; }
.pager li > a, .pager li > span { display: inline-block; background-color: #fff; border-radius: 32px; border: 1px solid #fff; }
.pager li > a:hover, .pager li > a:focus { text-decoration: none; font-weight: bold; background-color: #e8e8e8 !important; color: #191919 !important; }
.pager .next > a, .pager .next > span { float: right; }
.pager .previous > a, .pager .previous > span { float: left; }
.pager .disabled > a, .pager .disabled > a:hover, .pager .disabled > a:focus, .pager .disabled > span { color: #747474; background-color: #fff; cursor: not-allowed; }

.item-list.item-list-pager { text-align: center; clear: both; }
.item-list.item-list-pager .pager { margin: 1em; display: inline-block; }
.item-list.item-list-pager .pager li { font-size: 1.25em; padding: 0; margin: 0 1em; float: left; }
.item-list.item-list-pager .pager li a { background-color: #fff; border-radius: 32px; border: 1px solid #fff !important; }
.item-list.item-list-pager .pager-ellipsis { display: none; }

.item-list.item-list-pager .pager .pager-current, #media-browser-tabset .item-list.item-list-pager .pager .pager-current { border: 1px solid #8c1d40; border-radius: 2rem; padding: 5px 14px; background-color: #8c1d40; color: #fff; min-width: 3.25rem; }

/* =SIDEBAR MENUS
-------------------------------------------------------------- */
div.region-content .pane-system-main-menu, div.region-content .pane-menu-tree { border-top: 8px solid #8c1d40; margin-bottom: 3em; padding: 2em 0; position: relative; z-index: 0; }
div.region-content .pane-system-main-menu h2, div.region-content .pane-menu-tree h2 { font-size: 1.3125em; }
div.region-content .pane-system-main-menu ul.menu, div.region-content .pane-menu-tree ul.menu { padding-left: 0; }
div.region-content .pane-system-main-menu ul.menu li, div.region-content .pane-menu-tree ul.menu li { list-style-type: none; margin: 0; padding: 0; }
div.region-content .pane-system-main-menu ul.menu li a, div.region-content .pane-menu-tree ul.menu li a { background-color: #fff; border-top: 1px solid #d0d0d0; border-bottom: none; display: block; padding: 0.625em 0.3125em; color: #8c1d40; font-weight: 200; text-decoration: none; font-size: 1.125em; }
div.region-content .pane-system-main-menu ul.menu li a:hover, div.region-content .pane-menu-tree ul.menu li a:hover { background-color: #fafafa; font-weight: normal; }
div.region-content .pane-system-main-menu ul.menu li li a, div.region-content .pane-menu-tree ul.menu li li a { padding-left: 1.375em; }
div.region-content .pane-system-main-menu ul.menu li li li a, div.region-content .pane-menu-tree ul.menu li li li a { padding-left: 2.75em; }
div.region-content .pane-system-main-menu ul.menu li ul li ul li a, div.region-content .pane-menu-tree ul.menu li ul li ul li a { margin: 0 1.5rem 0 3.5rem; }
div.region-content .pane-system-main-menu ul.menu li a.active, div.region-content .pane-system-main-menu ul.menu li.active a, div.region-content .pane-system-main-menu ul.menu li.active > a, div.region-content .pane-system-main-menu ul.menu li.active-trail > a, div.region-content .pane-menu-tree ul.menu li a.active, div.region-content .pane-menu-tree ul.menu li.active a, div.region-content .pane-menu-tree ul.menu li.active > a, div.region-content .pane-menu-tree ul.menu li.active-trail > a { font-weight: normal; }
div.region-content .pane-system-main-menu ul.menu li.expanded, div.region-content .pane-system-main-menu ul.menu li.collapsed, div.region-content .pane-system-main-menu ul.menu li.leaf, div.region-content .pane-menu-tree ul.menu li.expanded, div.region-content .pane-menu-tree ul.menu li.collapsed, div.region-content .pane-menu-tree ul.menu li.leaf { list-style-image: none; }
div.region-content .pane-system-main-menu ul.menu li.expanded span, div.region-content .pane-menu-tree ul.menu li.expanded span { margin-top: 1.4rem; }
div.region-content .pane-system-main-menu ul.menu li.expanded ul.menu li.expanded span, div.region-content .pane-menu-tree ul.menu li.expanded ul.menu li.expanded span { margin-top: 0; }
div.region-content .pane-system-main-menu ul.menu li.expanded ul.menu:after, div.region-content .pane-menu-tree ul.menu li.expanded ul.menu:after { padding-top: 0.4rem; }
div.region-content .pane-system-main-menu:before, div.region-content .pane-menu-tree:before { border: none; content: ""; display: block; height: 100%; left: 0; position: absolute; top: 0; width: 100%; z-index: -1; }
div.region-content .pane-system-main-menu .pane-system-main-menu ul.menu li a:focus, div.region-content .pane-system-main-menu .pane-menu-tree ul.menu li a:focus, div.region-content .pane-menu-tree .pane-system-main-menu ul.menu li a:focus, div.region-content .pane-menu-tree .pane-menu-tree ul.menu li a:focus { outline: 0.125em solid #191919; }

div.region-content .pane-menu-tree { margin-top: 0; border: none; }
div.region-content .pane-menu-tree ul li::before { content: none; }
div.region-content .pane-menu-tree ul.menu { margin-bottom: 0; }
div.region-content .pane-menu-tree ul.menu li { border-top: 1px solid #d0d0d0; }
div.region-content .pane-menu-tree ul.menu li a { background-color: #fff; border: none; display: block; margin: 0 1rem; padding: 1.4rem 0 1.3rem 0; color: #191919; font-weight: 400; text-decoration: none; font-size: 1rem; letter-spacing: -0.037rem; line-height: 1.5rem; position: relative; }
div.region-content .pane-menu-tree ul.menu li a.active { border-bottom: 8px solid #ffc627; padding-bottom: 0.8rem; }
div.region-content .pane-menu-tree ul.menu li a:hover { background-color: #fff; text-decoration: underline; }
div.region-content .pane-menu-tree ul.menu li.expanded a.active { padding: 1.4rem 0 0.8rem 0; margin-bottom: 0.8rem; }
div.region-content .pane-menu-tree ul.menu li.expanded ul li a.active { border-bottom: 8px solid #ffc627; padding: 0 0 0.5rem 0; margin-bottom: 0.5rem; font-weight: normal; }
div.region-content .pane-menu-tree ul.menu li.expanded ul li a::before { content: none; }
div.region-content .pane-menu-tree ul.menu li.last ul li.first.last.leaf a { border-top: none; border-bottom: none; font-size: 1rem; color: #2a2a2a; font-weight: normal; padding-top: 0.5rem; }
div.region-content .pane-menu-tree ul.menu li ul { border-top: none; }
div.region-content .pane-menu-tree ul.menu li ul li { border-top: 0; }
div.region-content .pane-menu-tree ul.menu li ul li a { background-color: #fff; border-top: none; border-bottom: none; display: block; padding-top: 0.5rem; padding-left: 0; color: #191919; font-weight: 400; text-decoration: none; font-size: 1rem; letter-spacing: -0.5px; margin: 0 2.5rem 0 2.5rem; padding-bottom: 0.5rem; }
div.region-content .pane-menu-tree ul.menu li ul li.first a { padding-top: 0; padding-bottom: 0.5rem; }
div.region-content .pane-menu-tree ul.menu li ul li.leaf a { border-top: none; border-bottom: none; font-size: 1rem; color: #2a2a2a; font-weight: normal; }
div.region-content .pane-menu-tree ul.menu li ul li.leaf.last a { border-top: none; }
div.region-content .pane-menu-tree ul.menu li ul li.leaf.first.last a { border-top: none; border-bottom: none; font-size: 1rem; color: #2a2a2a; font-weight: normal; border-top: none; }
div.region-content .pane-menu-tree ul.menu li ul li.last ul li.first.last.leaf a { border-top: none; border-bottom: none; font-size: 1rem; color: #2a2a2a; font-weight: normal; padding-top: 0.5rem; }
div.region-content .pane-menu-tree ul.menu li ul li.expanded ul li a::before { content: none; }
div.region-content .pane-menu-tree h2.pane-title { font-size: 1.5rem; font-weight: 700; line-height: 1.5rem; letter-spacing: -0.015em; color: #191919; padding: 0 1rem 1rem 1rem; margin: 0; display: block; text-decoration: none; }
div.region-content .pane-menu-tree .pane-content { border-width: 0 1px 1px 1px; border-style: solid; border-color: #d0d0d0; }

span.nolink { display: block; font-size: 1.1rem; letter-spacing: -.035em; font-weight: 700; text-align: left; line-height: calc(100% + 0.12em); opacity: 1; margin: 1rem 2.5rem 1rem 2.5rem; }

/* WEBSPARK-856 - Apply max width and custom margin/padding to LH menu in 100% wide regions */
.container .row-full .pane-menu-tree, .container .row-full .pane-system-main-menu { max-width: 1140px; margin: 2em auto 0 auto; padding: 2em 1em 1em 1em; }

/* =STICKY NAV BAR --------------------------------------------- */
#ASUNavMenu.affix { position: fixed; top: 0; width: 100%; }

.sticky-menu { position: sticky; position: -webkit-sticky; top: 0; }
