// WS2.0 - Images

/**
 Create circular mask of image
 @param (str) $diameter - Diameter of image "hole" in pixels

@mixin images-clip($diameter, $size) {
  .$size {
    clip-path: circle($diameter);
    // [converter] extracted a& to a.list-group-item-#{$state}
  }

  a.list-group-item-#{$state} {
    color: $color;

    .list-group-item-heading {
      color: inherit;
    }

    &:hover,
    &:focus {
      color: $color;
      background-color: darken($background, 5%);
    }
    &.active,
    &.active:hover,
    &.active:focus {
      color: #fff;
      background-color: $color;
      border-color: $color;
    }
  }
}
*/
