.asu-isearch-configuration {
  .tgl {
    display: none !important;
    // add default box-sizing for this scope
    &, &:after, &:before,
    & *, & *:after, & *:before,
    & + .tgl-btn {
      box-sizing: border-box;
      &::selection {
        background: none;
      }
    }
    + .tgl-btn {
      outline: 0;
      display: inline-block;
      margin-bottom: -.35em !important;
      margin-right: 5px;
      width: 2.4em;
      font-size: 16px !important;
      height: 1.2em;
      position: relative;
      cursor: pointer !important;
      float: none !important;
      padding-left: 1px !important;
      user-select: none;
      &:after, &:before {
        position: relative;
        display: block;
        content: "";
        width: 50%;
        height: 100%;
      }
      &:after {
        left: 0;
      }
      &:before {
        display: none;
      }
    }
    &:checked {
      + .tgl-btn {
        &:after {
          left: 50%;
        }
      }
    }
  }
  .tgl-light {
    + .tgl-btn {
      background: #8C1D40;
      border-radius: .2em;
      padding: 1px;
      transition: all .4s ease;
      &:after {
        border-radius: 12%;
        background: #fff;
        transition: all .2s ease;
      }
    }
    &:checked {
      + .tgl-btn {
        background: #78BE20;
      }
    }
  }
  .fake-label {
    display: inline-block;
    font-size: 1em;
    font-family: Helvetica, Sans-serif;
  }
  .tooltip-wrap {
    color: #666;
  }

  .tooltip {
    pointer-events: none;
  }
  .help-block {
    display: inline;
  }

  // .employee-types-group
  .employee-types-group {
    display: inline-block;
    width: 33%;
    vertical-align: top;

    legend {
      background: none !important;
      border: none !important;
    }

    .fieldset-wrapper {
      margin: 0 !important;
    }
  }
}