/**************************************************************************
 * ASU Directory Module
 * People Block CSS file
 *
 *
 * @author : Colton Testamarck (colt@asu.edu)
 *************************************************************************/

/*************************************************************************
*ASU Directory
*************************************************************************/
/*Node Form Specific*/

.page-node-edit.node-type-asu-directory {
    font-size: 12px;
}

#asu-directory-node-form #node-edit {
    width: 100%;
    font-size: 12px;
}

#asu-directory-node-form .form-item-path-alias {
    font-size: 15px;
}

body .asu_directory_custom_group {
    display: none;
}

#edit-field-asu-directory-items-und-0-tree-display {
    font-size: 12px;
}

#asu_directory_employee_type_select {
    margin-bottom: 20px;
}

#asu_directory_admin_toggles {
    margin-bottom: 20px;
}

.asu-directory-instructions {
    margin-top: 30px;
    margin-bottom: 10px;
}

.field-type-asu-directory {
    margin-top: 30px;
}

.field-type-asu-directory .form-control {
    width: 100%;
}

.field-type-asu-directory .dept-mgr-btn:hover {
    color: white;
}

body .field-type-asu-directory .active {
    background-color: #8C1D40;
    color: white;
}

body #page-wrapper div.field-type-asu-directory div.row > .dir-row-full {
    padding-left: 15px;
    padding-right: 15px;
}

.asu_directory_custom_group .input-group, .asu_directory_custom_group
.btn {
    margin-top: 10px;

}

body .asu_directory_custom_saved {
    background-color: #8C1D40;
    color: white;
}

body .asu_directory_custom_saved:hover {
    background-color: #8C1D40;
    color: white;
}

body .asu_directory_custom_saved:focus {
    background-color: #8C1D40;
    color: white;
}

/*Directory*/
.dir-ajax-solr-people > div:first-child {
    border-top: solid 2px #ccc;
}

#asu-dir-ajax-solr-selections {
    font-size: 16px;
    font-weight: 400;
    margin: 0px 0px 5px 1px;
    color: #a7a7a7;
    background-color: transparent;
    padding: 0;
}

.field-type-asu-directory .asu-dir-selection-crumb span {
    font-weight: 400;
    color: #a7a7a7;
    font-size: 16px;
    background-color: transparent;
    padding: 0;
}

body #page-wrapper .field-type-asu-directory .asu-dir-selections {
    margin-bottom: 15px;
}

/*Sorting Interface*/
#asu_directory_people_controls_top {
    margin-bottom: 10px;
}

/*Any hovered people buttons*/
.asu_directory_people_button:hover {
    cursor: pointer;
}

#asu_directory_people_controls_bottom {
    margin-top: 0px;
    display: inline-block;
    color: #8C1D40;
}

#asu_directory_people_this_pg_btn > span {
    background-color: #8C1D40;
    border-color: #8C1D40;
    color: #ffffff;
}

.asu_directory_people_row:nth-child(odd) {
    background-color: #fafafa;
}

/* PEOPLE LISTING DISPLAY */

.job-title {
    font-weight: bold;
}

.dir-ajax-solr-people .asu_directory_people_row {
    border-bottom: solid 2px #ccc;
    padding: .5em 0 .5em 0;
    min-height: 130px;
    width: auto;
}

.dir-ajax-solr-people .asu_directory_people_row .img-responsive {
    max-width: 100%;
    margin: auto;
    display: block;
}

.col-md-4.asu-dir-contact-col {
    padding-left: 0;
}

/** for the iSearch department tool **/

#people .asu_directory_people_row {
    border-bottom: solid 2px #ccc;
    padding: .5em 0 .5em 0;
    min-height: 130px;
    width: auto;
}

#people .asu_directory_people_row .img-responsive {
    max-width: 100%;
    margin: auto;
    display: block;
}

/*
.asu_directory_people_ellipses {
    cursor: pointer;
}*/

/* A row of the mock-table */
.dir-ajax-solr-people .asu_directory_people_row:hover {
    background-color: #eee;
    cursor: pointer;
}

/*Numerical button for current page*/
#asu_directory_people_this_pg_btn {
    font-weight: bold;
}

/* People search button */
body .asu_dir_people_search_btn {
    position: absolute;
    top: 0;
    right: 0;
    background: none;
    border: none;
    color: #2a2a2a;
    margin-right: 0;
    margin-top: 0 !important;
    padding-top: 3px;
    padding-right: 10px;
}

/* Contains the input and submit objects for people search */
.asu_directory_people_search_group {
    position: relative;
    padding-bottom: 20px;

}

/* People search input field */
#asu_directory_people_search_box {
    max-width: 300px;
    float: right;
    margin-right: 15px;
}

/*Icon in Active Button in Sort Interface*/
#asu_directory_people_controls_top .asu_directory_people_button.active i {
    visibility: visible;
}

.field-type-asu-directory a {
    color: #8C1D40;
    text-decoration: none;
    font-weight: normal;
    border-bottom: none;
}

.field-type-asu-directory .asu-dir-search {
    margin-right: -15px;
    margin-left: -15px;
    margin-bottom: 15px;

}

.asu_directory_breadcrumb {
    margin: 0 0 15px 1px;
    font-size: 16px;
    width: 100%;
    clear: both;

}

.dir_breadcrumb a {
    cursor: pointer;
}

/** Node Display **/

.node-asu-directory h2 {
    display: none;
}

.node-type-asu-directory #page-title {
    display: none;
}

.node-asu-directory .submitted {
    display: none;
}

.ppl_img {
    display: none;
}

.field-type-asu-directory .pagination .pager-current {
    background-color: #a90044;
    color: white;
    margin-left: -1px !important;
    margin-right: 0px !important;
    font-weight: normal !important;
    border: 1px solid #a90044;
}

.field-type-asu-directory .pagination > li > a, .field-type-asu-directory .pagination > li > span {
    padding: 6px 12px !important;
    margin-left: -1px !important;
}

.asu_directory_bottom_container .pager-disabled:hover {
    cursor: not-allowed;
}

.field-type-asu-directory .pager-disabled, .field-type-asu-directory #asu-dir-ajax-solr-pager .pager-disabled:hover {
    color: black;
}

/* ALPHA BAR - A-Z INDEX FILTER */

.asu-dir-alpha-bar .col-md-12 {
    margin-bottom: 10px;
}

body .field-type-asu-directory .asu-dir-alpha-bar.row {
    margin-top: 10px;
}

.alphabet {
    list-style-type: none;
    padding: 0;
    cursor: pointer;
    width: 100%;
    text-align: center;
}

.alphabet li {
    float: left;
    margin: 0;
    padding-top: 5px;
    padding-right: 0;
    padding-left: 0;
    padding-bottom: 25px;
    font-size: 16px;
    -moz-box-sizing: border-box;
    color: #a90044;
    display: inline-block;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    width: 3.70%;
    font-weight: 400;
}

.alphabet li:last-child {
    border-right: none;
}

.alphabet li:hover {
    color: white;
    background-color: #a90044;
}

.alphabet li.active-letter {
    color: white;
    background-color: #a90044;
}

select {
    display: block;
    width: 100%;
    height: 37px;
    font-size: 16px;
    font-weight: 200;
    line-height: 1.44;
    color: #505050;
    background: #fff;
    border: 1px solid #b0b0b0;
    border-radius: 4px;
    -webkit-box-shadow: inset 1px 2px 9px rgba(213, 213, 213, 0.5);
    box-shadow: inset 1px 2px 9px rgba(213, 213, 213, 0.5);
    -webkit-transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
    -o-transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
    transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;

}

/** ISearch-specific **/
#block-asu-dept-info-asu-dept-info-people {
    margin-bottom: 35px;
}

.asu_directory_bottom_container {
    text-align: center;
}

.block-asu-dept-info .dir-people-wrapper {
    margin-left: 0px;
    margin-right: 0px;
}

.row-profile-email {
    /* These are technically the same, but use both */
    overflow-wrap: break-word;
    word-wrap: break-word;

    -ms-word-break: break-all;
    word-break: break-word;
}

.isearch-address {
    display: inline-block;
}

/** Sort Items **/

.asu-dir-sort-item {
    cursor: pointer;
    font-weight: 400;
}

.asu-dir-expertise-title {
    font-weight: bold;
}

.asu-dir-expertise, .short-bio {
    text-align: left;
    margin: 4px 0 4px 0;
}

.dir-active-sort {
    color: #8C1D40;
    font-weight: bold;
}

.asu-dir-hidden {
    display: none;
}

/** Grid display Items **/

.asu-dir-grid-col {
    text-align: center;
}

.dir-ajax-solr-people .asu_directory_people_row .asu-dir-grid-col .row-profile-image img {
    max-width: 150px;
}

.field-type-asu-directory .dir-dropdowns {
    padding-left: 0;
    padding-right: 0;
}

.field-type-asu-directory .dir-search {
    padding-right: 0;
}

.field-type-asu-directory .dir-dropdowns .col-md-6 {
    padding-left: 0;
}

.dir-breadcrumb {
    margin-bottom: 10px;
}

.dir-search .asu-dir-sort-item {
    font-size: 12px;
}

.short-bio .short-title {
    font-weight: bold;

}

.short-bio {
    margin: 4px 0 4px 0;
}

.dir-search > div {
    font-size: 12px;
}

.section > .container .field-type-asu-directory > .row {
    margin-right: -15px;
    margin-left: -15px;
}

/****NODE-SPECIFIC ****/
body .dir-people-wrapper {
    margin-left: -15px;
    margin-right: -15px;
}

.node-asu-directory .field-type-asu-directory .asu-dir-search {
    padding-right: 15px;
    padding-left: 15px;
}

/*** RESPONSIVE ***/

@media (min-width: 992px) {

    .dir-ajax-solr-people .asu_directory_people_row .row-profile-image img {
        padding-left: 0;
        width: 100%;
    }

    .dir-ajax-solr-people .asu_directory_people_row .row-profile-image {
        max-height: 100px;
        overflow: hidden;
    }

    .dir-ajax-solr-people .asu_directory_people_row .asu-dir-grid-col .row-profile-image {
        max-height: 175px;
        height: 200px;
        overflow: hidden;
    }

    .col-md-12 > .dir-people-wrapper > .dir-ajax-solr-people .row-profile-image {
        max-height: 155px;
        overflow: hidden;
    }
}

@media (max-width: 991px) {

    .dir-ajax-solr-people .asu_directory_people_row .row-profile-image {
        max-height: 160px;
        width: 160px;
        overflow: hidden;
        margin: 0 auto;
    }

    .asu-directory-tree-hierarchy {
        margin-bottom: 20px;
    }

    .dir-ajax-solr-people .asu_directory_people_row img {
        width: 100%;
    }

    .asu_directory_people_row {
        text-align: center;
    }
}