/* =TB MEGA MENU WS2.0 (elpuente)
-------------------------------------------------------------- */
/** =TB MEGA MENU - BASE values, mixins, etc. for both V1 and WS2.0
 * Mixin parameter defaults are all Innovation. Pass in WS2.0 values.
------------------------------------------------------------------- */
/*
 * Bootstrap variables list (defaults copied from bootstrap-sass version 3.1.0.2):
 * Override Bootstrap variables below.
 */
/*== Colors --- WS2 DONE
-----------------------------------------------------*/
/* Global values */
/** Selectors
-------------------------------------------------------------- */
.ws2-global-header-logo {
  float: left;
  margin-right: 1.125rem;
}

.navmenu {
  position: relative;
  z-index: 200;
  margin-bottom: -1px;
}

.tb-megamenu {
  background-color: white;
  font-size: 1rem;
}
.tb-megamenu .ws2-global-header-logo {
  margin-top: 0.5rem;
}
.tb-megamenu .ws2-global-header-logo > a {
  border-bottom: none !important;
}
.tb-megamenu .ws2-global-header-title,
.tb-megamenu .subdomain-name {
  font-size: 2rem;
  margin-bottom: 0.5rem;
  font-weight: 700;
}
.tb-megamenu.tb-megamenu-main-menu .collapse {
  display: block;
}
.tb-megamenu .mega-inner, .tb-megamenu .span12.mega-col-nav .mega-inner {
  padding: 0;
}
.tb-megamenu .fa.fa-home.icon-white {
  margin-right: 0;
  display: block !important;
  font-size: 1rem;
  padding-top: 0.25rem;
  padding-bottom: 0.25rem;
}
.tb-megamenu li.tb-megamenu-item.mega a {
  border: none;
}
.tb-megamenu .nav > li > a {
  padding: 0.5rem 0.75rem;
  margin-right: 0.5rem;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  color: #191919;
}
.tb-megamenu .nav > li > a::after {
  content: '';
  position: relative;
  display: block;
  height: 0.5rem;
  background-color: #ffc627;
  width: 0;
  transition: 0.5s cubic-bezier(0.19, 1, 0.19, 1);
  bottom: -0.5rem;
  left: -0.5rem;
}
.tb-megamenu .nav > li > a:hover::after {
  width: calc(100% + 16px);
}
.tb-megamenu .nav li.active a::after {
  width: calc(100% + 16px);
}
.tb-megamenu .nav li.dropdown.open > .dropdown-toggle, .tb-megamenu .nav li.dropdown.open.active > .dropdown-toggle {
  background-color: #fff;
  background-image: none;
  color: #191919;
}
.tb-megamenu .nav > li > a:focus,
.tb-megamenu .nav > .active > a:focus {
  background-color: #fff;
  background-image: none;
  color: #191919;
}
.tb-megamenu .nav > li.dropdown.open.active > a:hover, .tb-megamenu .nav > li.dropdown.open.active > a:focus {
  background-color: #fff;
  background-image: none;
  color: #191919;
}
.tb-megamenu .nav > li > a:hover {
  background-color: #fff;
  background-image: none;
  color: #191919;
}
.tb-megamenu .nav > .active > a:hover {
  background-color: #fff;
  background-image: none;
  color: #191919;
}
.tb-megamenu .tb-megamenu-submenu.dropdown-menu.mega-dropdown-menu.nav-child,
.tb-megamenu .nav li.dropdown.active > .dropdown-toggle,
.tb-megamenu li.tb-megamenu-item.mega.active a {
  background-color: #fff;
  background-image: none;
  color: #191919;
  font-size: 16px;
  border: none;
}
.tb-megamenu li.tb-megamenu-item.mega a {
  border: none;
}
.tb-megamenu li.tb-megamenu-item.mega.active a {
  background-color: #fff;
  background-image: none;
  color: #191919;
  font-size: 16px;
}
.tb-megamenu li.tb-megamenu-item.mega.active .mega-dropdown-inner a {
  font-weight: normal;
}
.tb-megamenu li.tb-megamenu-item.mega.active .tb-megamenu-submenu li a {
  background-color: #fff;
  background-image: none;
  color: #191919;
  font-size: 16px;
  border: none;
}
.tb-megamenu li.tb-megamenu-item.mega.active .tb-megamenu-submenu li.active a {
  background-color: #fff;
  background-image: none;
  color: #191919;
  font-size: 16px;
  border: none;
}
.tb-megamenu li.tb-megamenu-item.mega .mega-dropdown-inner a {
  height: 100%;
}
.tb-megamenu li.tb-megamenu-item.mega .tb-megamenu-column-inner.mega-inner.clearfix {
  font-weight: normal;
}
.tb-megamenu .tb-megamenu-submenu,
.tb-megamenu .dropdown-menu.mega-dropdown-menu.nav-child {
  padding: 10px 0;
  border: solid 1px #000;
}
.tb-megamenu .tb-megamenu-column-inner.mega-inner.clearfix a,
.tb-megamenu ul.tb-megamenu-subnav.mega-nav a {
  display: block;
  clear: both;
  padding: 9px 10px 10px 25px !important;
  font-size: 16px;
  font-weight: normal;
  line-height: 1;
  background-color: #fff;
  background-image: none;
  color: #191919;
  border-bottom: 0;
}
.tb-megamenu .row-fluid + .row-fluid {
  border: none;
}
.tb-megamenu .tb-megamenu-column-inner h2 {
  display: block;
  clear: both;
  padding: 9px 10px 10px 25px;
  font-size: 16px;
  font-weight: bold;
  line-height: 1;
  background-color: #fff;
  background-image: none;
  color: #191919;
  border-bottom: 0;
  margin-bottom: 0;
  white-space: nowrap;
}
.tb-megamenu .tb-megamenu-column-inner .block-inner h2 {
  padding: 9px 10px 10px 10px !important;
}
.tb-megamenu .tb-megamenu-column-inner .block-inner h2,
.tb-megamenu .block-inner .menu.clearfix a {
  padding: 9px 10px 10px 10px !important;
}
.tb-megamenu .dropdown-menu li > a:hover, .tb-megamenu .dropdown-menu li > a:focus {
  background-color: #fff;
  background-image: none;
  color: #191919;
}
.tb-megamenu .tb-megamenu-item.level-2.mega.dropdown-submenu .nav-child {
  position: absolute;
  top: -5px;
}
.tb-megamenu .block-inner {
  padding: 0 15px;
}
.tb-megamenu .mega-nav > li:first-child > a,
.tb-megamenu .dropdown-menu .mega-nav > li:first-child > a {
  padding: 8px 15px;
}
.tb-megamenu .row-fluid .span1, .tb-megamenu .row-fluid .span2, .tb-megamenu .row-fluid .span3, .tb-megamenu .row-fluid .span4, .tb-megamenu .row-fluid .span5, .tb-megamenu .row-fluid .span6, .tb-megamenu .row-fluid .span7, .tb-megamenu .row-fluid .span8, .tb-megamenu .row-fluid .span9, .tb-megamenu .row-fluid .span10, .tb-megamenu .row-fluid .span11 {
  margin-left: 0;
}
.tb-megamenu .row-fluid .span1 {
  width: 8.33%;
}
.tb-megamenu .row-fluid .span2 {
  width: 16.6677%;
}
.tb-megamenu .row-fluid .span3 {
  width: 25%;
}
.tb-megamenu .row-fluid .span4 {
  width: 33.33%;
}
.tb-megamenu .row-fluid .span6 {
  width: 50%;
}
.tb-megamenu .row-fluid .mega-col-nav .adding-padding {
  border-right: solid 1px #414141;
  margin-bottom: -1000px;
  padding-bottom: 1000px;
}
.tb-megamenu .tb-megamenu-row.row-fluid.hide-extra-padding {
  overflow: hidden;
}
.tb-megamenu .tb-megamenu-row.row-fluid.hide-extra-padding .tb-megamenu-column:last-child .tb-megamenu-block.adding-padding {
  border-right: none;
}
.tb-megamenu .tb-megamenu-column.mega-col-nav:last-child {
  border-right: none;
}
.tb-megamenu .nav li.dropdown > .dropdown-toggle .fa-chevron-down {
  padding-left: 0.5rem;
  font-size: 0.75rem;
  vertical-align: 2px;
}
.tb-megamenu .tb-megamenu-submenu {
  border: none;
}
.tb-megamenu .tb-megamenu-nav {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.tb-megamenu .tb-megamenu-nav > li > .tb-megamenu-submenu > .mega-dropdown-inner > .tb-megamenu-row > .tb-megamenu-column:not(:first-child) {
  border-left: 1px solid #AFA593;
}
.tb-megamenu ul.tb-megamenu-subnav a {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.tb-megamenu ul.tb-megamenu-subnav > .dropdown-submenu .tb-megamenu-submenu.dropdown-menu.mega-dropdown-menu.nav-child {
  background-color: #353535;
  border-color: #2a2a2a;
}
.tb-megamenu ul.tb-megamenu-subnav > .dropdown-submenu .tb-megamenu-submenu.dropdown-menu.mega-dropdown-menu.nav-child a {
  border-color: #2a2a2a;
}
.tb-megamenu .mega-nav .mega-group > .mega-group-title,
.tb-megamenu .dropdown-menu .mega-nav .mega-group > .mega-group-title {
  text-transform: none;
  font-size: 1rem;
}
.tb-megamenu .nav > li > a:focus,
.tb-megamenu .nav > .active > a:focus {
  outline: 2px solid #00BAFF;
  -webkit-box-shadow: 0 0 5px #00BAFF;
  box-shadow: 0 0 5px #00BAFF;
}
.tb-megamenu .dropdown-menu li > a:focus,
.tb-megamenu .nav li.dropdown.active a:focus {
  outline: 2px solid #00BAFF;
  -webkit-box-shadow: 0 0 5px #00BAFF;
  box-shadow: 0 0 5px #00BAFF;
}
.tb-megamenu .dropdown-menu .mega-nav .mega-group > a.mega-group-title {
  font-weight: normal;
  color: #ffc627;
}
