@CHARSET "ISO-8859-1";
#content h2.cart-title {
	width: auto;
	float: left;
	clear: both;
	margin-bottom: 0 !important;
}
.two-carts-info {
	float: left;
	width: auto;
	margin-left: 3em;
	margin-top: 1px;
}
.cartform {
	clear: left;
}

div.asuf-notice {
	color: #444;
	float: left;
	font-size: 8pt;
	margin-bottom: 3em;
	width: 400px;
}

p.empty-cart {
	font-size: large;
	margin: 20px 0;
}

table.cart {
	border-collapse: collapse;
	clear: left;
}
table.cart tbody,
table.cart thead,
table.cart tr,
table.cart th,
table.cart td {
	margin: 0;
	padding: 5px;
	background-color: transparent;
	border: none;
}

table.cart thead th {
	border-bottom: 1px solid black;
	text-align: center;
}
table.cart tr.total td {
	border-top: 1px solid black;
}
table.cart td.price,
table.cart td.gift,
table.cart td.savings,
table.cart td.total {
	text-align: right;
}
table.cart td.savings-label,
table.cart td.total-label {
	text-align: right;
	font-weight: bold;
}

table.cart td.title {
	width: 250px;
}

table.cart td.member {
	color: green;
}
table.cart td.discount {
	color: green;
}
table.cart td.nonmember {
	color: red;
}
table.cart td.price input,
table.cart td.gift input {
	text-align: right;
}

table.admin-cart td.remove {
	text-align: center;
}

div#select_user {
	width: 100%;
	text-align: center;
	margin: 15px 0;
}

div.cancellation-policy {
	float: left;
	width: auto;
}
div.checkout-button {
	float: left;
	width: 200px;
	margin-left: 20px;
}