.isearch-directory-filters {
  .form-item {
    max-width: 250px;
    display: inline-block;
  }
  input.form-submit {
    margin-bottom: 15px;
  }
  .views-widget-filter-tid {
    display: none;
  }
  .chosen-container .chosen-drop {
    min-width: 235px;
  }
  .chosen-container-single {
    background-color: #fff;
    background-image: none;
    border: 1px solid #b0b0b0;
    border-radius: 4px;
    box-shadow: 1px 2px 9px rgba(213, 213, 213, 0.5) inset;
    padding: 6px 12px;

    .chosen-single {
      background: none;
      border: none;
      box-shadow: none;
      color: #505050;
      font-family: 'Open Sans', 'Lucida Grande', sans-serif;
      font-size: 16px;
      padding-left: 0;
    }
  }
}
