/* Bootstrap variables list (defaults copied from bootstrap-sass version 3.1.0.2): Override Bootstrap variables below. */
/*== Colors --- WS2 DONE
-----------------------------------------------------*/
/* MISCELLANEOUS
------------------------------------------------ */
/* Global mixin library for multiple or all elements */
#block-mega-footer-mega-footer { background-color: #1e1e1e; }

.megafoot-description { font-size: 1em; color: #fff; margin-bottom: 1em; }

.mega-dept-title { margin-bottom: 1em; line-height: 1.2; color: #fff; font-weight: normal; margin-top: 1.25em; }

.megafoot { padding-top: 1.25em; }
.megafoot .row { max-width: 1170px; margin: auto; }
.megafoot .space-bot-md { padding-bottom: 1.25em; }
.megafoot h2 { margin-bottom: 0.75em; font-size: 1.3125em; font-weight: normal; color: #fff; }
.megafoot #mega-footer-logo-wrapper a { border-bottom: none; }
.megafoot address { color: #fff; margin-bottom: 0; font-weight: 200; font-style: normal; line-height: 1.44; }
.megafoot .phone-link { color: #fff; border-bottom: 0; font-weight: normal; }
.megafoot .big-foot-nav > li { margin-bottom: 0.75em; }
.megafoot .big-foot-nav > li > a { color: #ccc; text-decoration: none; border-bottom: 1px dotted #ccc; }
.megafoot .big-foot-nav > li > a:hover, .megafoot .big-foot-nav > li > a:focus { color: #fff; border-bottom: 1px dotted #fff; }
.megafoot ul, .megafoot ol { margin: 0; padding: 0; list-style: none; }
.megafoot ul:before, .megafoot ul:after { content: " "; display: table; }
.megafoot ol:before, .megafoot ol:after { content: " "; display: table; }
.megafoot ul > li, .megafoot ol > li { position: relative; display: block; }
.megafoot ul:after, .megafoot ol:after { clear: both; }
.megafoot .contact-link, .megafoot .row a { color: #ccc; border-bottom: 1px dotted #ccc; }
.megafoot .contact-link:hover, .megafoot .row a:hover { color: #fff; border-bottom-color: #fff; }
.megafoot .btn { margin-bottom: 1.75em; }
.megafoot .dgtl-mkting-101 { margin-bottom: 1.75em; }
.megafoot .dgtl-mkting-101 > li { float: left; }
.megafoot .dgtl-mkting-101 > li > a { margin-right: 0.625em; font-size: 2.375em; color: #ccc; border-bottom: 0; line-height: 1rem; }
.megafoot .dgtl-mkting-101 > li > a svg { fill: #cccccc; width: 33px; }
.megafoot .dgtl-mkting-101 > li > a svg:hover { fill: #ffffff; }
.megafoot ul > li > a, .megafoot ol > li > a { position: relative; text-decoration: none; }
.megafoot .fa:hover { color: #fff; }
.megafoot .little-foot { padding-top: 2.5em; padding-bottom: 2.5em; background-color: #e5e5e5; width: 100%; }
.megafoot #mega-footer-org-logo { max-width: 330px; /* 33% of 992px */ margin-top: 1em; /* based on 17px margin-top of menu col <h2>s */ }

.little-foot-nav > li > a { margin-right: 1.75em; font-size: 1em; font-weight: 400; color: #333; border-bottom: 0; float: left; }
.little-foot-nav > li > a:hover, .little-foot-nav > li > a:focus { color: #595959; }

.collapse.in { display: block; }

.big-foot-head .caret { float: right; margin-right: 1.75em; margin-top: 0.9375em; display: none; }

#block-mega-footer-mega-footer .content, #block-asu-brand-asu-brand-footer .content { padding: 0 !important; }

.big-foot-nav > li > a:focus, .little-foot-nav > li > a:focus { outline: 2px solid #d0d0d0; outline-offset: 0.25rem; }

.megafoot a:focus, .megafoot .ui-widget-content a:focus, .megafoot input:focus, .megafoot a.btn:focus, .megafoot .btn a:focus, .megafoot #skip_to_content:focus, .megafoot #top-content #tabs .nav-pills > li.active > a:focus, .megafoot h4.ui-accordion-header.ui-state-hover, .megafoot h4.ui-accordion-header:focus { outline: 2px solid #d0d0d0; outline-offset: 0.25rem; }

/** Media rules
---------------------------------------------------- */
@media (max-width: 991px) { .megafoot h2 { cursor: pointer; margin-top: 0.625em; } }
@media (max-width: 768px) { .big-foot-head .caret { cursor: pointer; margin-top: 0.625em; display: inline-block; }
  .megafoot .row .space-bot-md { border-bottom: 1px solid #383d3e; } }
@media print { .megafoot > .row div:not(.megafoot-border) { display: none; }
  .megafoot ul.social-media li a { font-size: 1em; }
  .ui-tabs-nav { display: none; }
  .ui-tabs-nav .ui-tabs-hide { display: block !important; }
  .view-footer-contact .social-links .field { width: 100% !important; margin-bottom: 0.5em; }
  #block-views-footer-contact-block .social-links a[href]:after { display: block; float: right; min-width: 96%; font-size: 0.9em; }
  #block-views-footer-contact-block, #block-mega-footer-mega-footer { clear: left; width: unset; }
  #top-content #tabs .nav.nav-pills, .region-closure, #innovation-bar, #ASUNavMenu.sticky-menu { display: none !important; }
  .pane-bundle-hero .hero-wrapper, .pane-bundle-jumbohero .hero-wrapper, .pane-bundle-banner .hero-wrapper { height: unset; } }
