.field-name-field-asu-maps-enhanced-items .row {
    padding: 0px 10px 0px 10px;
}

#map_button {
    float: right;
    margin-bottom: 10px;
}

.field-name-field-asu-maps-enhanced-items {
    margin-bottom: 24px;
    background-color: #fbfbfb;
    border: 1px solid #d7d7d7;
    border-radius: 4px;

}

.enhanced-map-nav {
    background: #444;
    position: relative;
    color: #fff;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.enhanced-map-nav ul {
    list-style-type: none;
    margin: 6px 0 6px 0;
    padding: 0 15px;
}

.nav-left {
    display: inline-block;
}

.enhanced-map-nav ul li {
    cursor: pointer;
    padding: 6px 10px;
    display: inline;
    white-space: nowrap;
    margin-right: -3px;
}

.cHover {
    background: #8C1D40;
}

#map-height-field .valid-style {
    margin-left: 10px;
    color: green;
}

#map-height-field .invalid-style {
    margin-left: 10px;
    color: red;
}