/* ADDS SPACING FOR LOGIN & JOIN BUTTONS FOR ON MEMBERSHIP RENEW PAGE (AND PROBABLY GLOBALLY) */
#page-content .content {
    margin-bottom: 10px;
}
#page-content a.button {
    margin: 10px;
}
.alert.alert-unavailable {
    margin-top: 0;
}
.alert-unavailable > h3.header-unavailable {
    margin: 0;
}
.alert-unavailable .item-list .unavailable-items {
    padding: 1em 2em 0;
}

/* Simple GMAP fix */
.pane-node-field-meeting-subtitle .field-name-field-meeting-subtitle {
    font-size: 1.75em;
}
.pane-node-field-task-force-meeting-date .field-name-field-task-force-meeting-date .date-display-single {
    display: inline;
    font-style: italic;
    font-weight: bold;
}
.pane-node-field-task-force-meeting-date .field-name-field-task-force-meeting-date .date-display-range {
    display: inline;
    font-weight: normal;
}
.pane-node-field-task-force-meeting-date .field-name-field-task-force-meeting-date {
    margin-bottom: 1em;
}
.pane-node-field-meeting-location .field-name-field-location-name {
    margin-bottom: -1em;
}
.pane-node-field-meeting-location .simple-gmap-address {
    margin-top: 0px;
}
.pane-node-field-meeting-location .simple-gmap-address + iframe {
    display: none;
}