/* ADDS SPACING FOR LOGIN & JOIN BUTTONS FOR ON MEMBERSHIP RENEW PAGE (AND PROBABLY GLOBALLY) */
#page-content .content {
	margin-bottom: 10px;
}
#page-content a.button {
	margin: 10px;
}
.alert.alert-unavailable {
	margin-top: 0;
}
.alert-unavailable > h3.header-unavailable {
	margin: 0;
}
.alert-unavailable .item-list .unavailable-items {
	padding: 1em 2em 0;
}