/*
* Megafooter - WS2.0 styling
* Requires El Puente SASS files (for variables and mixins) to build the CSS
*/

@import "../../../../themes/college/sass/variables";
@import "../../../../themes/college/sass/mixins/global";

.megafoot {
  padding-top: 0;
  .space-bot-md {
    margin-bottom: 0;
    padding-bottom: 0;
  }
  .row {
    a {
      border-bottom: 0;
      color: $ws2-gray-lighter;
      display: inline-block;
      font-family: $font-family-base;
      font-size: 1rem;
      opacity: 1;
      text-align: left;
      text-decoration: underline;
      transition: none;
    }
    // Megafooter Logo & Social Media
    &.megafoot-logo-social {
      border-bottom: 1px solid #333;
      #mega-footer-logo-wrapper {
        padding: 1.5rem 0;
        display: inline-block;
        a {
          border-bottom: 0;
        }
        img {
          height: auto;
          max-height: 112px;
          padding: .5rem 0;
        }
      }
      // Megafooter Social Media
      #mega-footer-social-media {
        float: right;
        padding-left: 0;
        padding-right: 0;
        .dgtl-mkting-101 {
          float: right;
          margin-bottom: 0;
          padding: 2rem 0;
          -webkit-box-pack: end;
          -ms-flex-pack: end;
          -webkit-justify-content: flex-end;
          -moz-box-pack: end;
          justify-content: flex-end;
          ul {
            li {
              display: inline-block;
              vertical-align: middle;
              font-size: 2rem;
              color: #bfbfbf;
              line-height: 1;
              padding-top: 7px;
            }
          }
        }
      }
    }
    // Megafooter Menu Items
    &.mega-footer-menu-links {
      padding-bottom: 3rem;
      padding-top: 2.0625rem;
      .mega-dept-title {
        color: #fff;
        font-family: $font-family-base;
        font-size: 1rem;
        font-weight: bold;
        letter-spacing: 0;
        opacity: 1;
        text-align: left;
      }
      // Megafooter Contact Us
      .contact-link {
        border-bottom: 0;
        color: $ws2-gray-lighter;
        display: inline-block;
        text-align: left;
        text-decoration: underline;
        font-family: $font-family-base;
        font-size: 1rem;
        opacity: 1;
        transition: none;
      }
      // Megafooter menu link columns
      nav {
        h2 {
          color: #fff;
          font-size: 1rem;
          font-weight: bold;
          letter-spacing: 0;
          margin-bottom: 0.9rem;
          opacity: 1;
          text-align: left;
        }
        .big-foot-nav {
          & > li {
            & > a {
              border-bottom: 0;
              color: $ws2-gray-lighter;
              display: block;
              font-size: 1rem;
              font-family: $font-family-base;
              letter-spacing: 0;
              opacity: 1;
              text-align: left;
              &:hover {
                border-bottom: 0;
                color: $ws2-gold;
                display: block;
                font-size: 1rem;
                text-decoration: underline;
                text-align: left;
                letter-spacing: 0;
              }
            }
          }
        }
      }
    }
    // Buttons
    // Megafooter Contribute button
    a.btn {
      padding: 1rem 2rem;
      text-underline: none;
      transition: 30ms ease-in-out;
      &.btn-gold {
        &#contribute-button {
          color: $ws2-gray-darkest;
          background-color: $ws2-gold;
          border-color: $ws2-gold;
          text-decoration: none;
        }
        &:hover {
          color: #212529;
          background-color: $ws2-gold;
          border-color: $ws2-gold;
        }
      }
      &:hover#contribute-button {
        transform: scale(1.1);
      }
    }
    .fa.icon-rotates,
    svg.icon-rotates {
      display: none;
    }
  }
}

/* MEDIA RULES
----------------------------------------------- */

// On screens that are 991px or less
@media screen and (max-width: 991px) {
  .megafoot {
    padding-left: 2.25rem;
    padding-right: 2.25rem;
    .dgtl-mkting-101 {
      float: left;
      padding: 0 0 1rem 0;
    }
    h2 {
      font-size: 1.125rem;
      margin-bottom: 1.25rem;
      margin-top: 1.25rem;
    }
    .row {
      .space-bot-md {
        border-bottom: 1px solid #383d3e;
        padding-left: 0;
        padding-right: 0;
      }
      &.megafoot-logo-social #mega-footer-social-media {
        float: left;
        .dgtl-mkting-101 {
          float: left;
          padding:0 0 1rem 0;
        }
      }
      .fa.icon-rotates,
      svg.icon-rotates { // niner9 update
        display: block;
        transition-duration: 0.4s;
        float: right;
      }
    }
    .big-foot-head {
      .fa,
      svg {
        cursor: pointer;
        float: right;
        margin-right: 0;
        margin-top: .225em;
      }
      &.collapsed {
        .icon-rotates {
          -moz-transform: rotate(180deg);
          -webkit-transform: rotate(180deg);
          -ms-transform: rotate(180deg);
          transition: rotate(180deg);
          transition-duration: 0.4s;
          float: right;
        }
      }
    }
    .big-foot-nav {
      & > li {
        margin-left: 22px;
      }
    }
    .col-sm-3 {
      width: 100%;
    }
    .col-sm-2 {
      width: 100%;
    }
    .mega-dept-title {
      margin-top: 0;
    }
  }
}

// On screens that are 768px or less
@media screen and (max-width: 768px) {
  .megafoot {
    .row {
      .space-bot-md {
        border-bottom: 0 solid #383d3e;
      }
      &.mega-footer-menu-links {
        .space-bot-md {
          border-bottom: 1px solid #383d3e;
        }
      }
    }
  }
  .icon-rotates {
    display: inline-block;
  }
  svg.icon-rotates {
    display: inline-block;
  }
  #mega-footer-logo-wrapper {
    display: block;
  }
}
