@import "compass/css3";
@import "base";

#block-mega-footer-mega-footer {
  background-color: #1e1e1e;
}

.megafoot-description {
  font-size: 1em;
  color: #fff;
  margin-bottom: 1em;
}

.mega-dept-title {
  margin-bottom: 1em;
  line-height: 1.2;
  color: #fff;
  font-weight: normal;
  margin-top: 1.25em;
}

.megafoot {
  padding-top: 1.25em;
  .row {
    max-width: 1170px;
    margin: auto;
  }
  .space-bot-md { // from webspark_panels_styles
    padding-bottom: 1.25em;
  }
  h2 {
    margin-bottom: 0.75em;
    font-size: 1.3125em;
    font-weight: normal;
    color: #fff;
  }
  #mega-footer-logo-wrapper a {
    border-bottom: none;
  }
  address {
    color: #fff;
    margin-bottom: 0;
    font-weight: 200;
    font-style: normal;
    line-height: 1.44;
  }
  .phone-link {
    color: $link-color-hover;
    border-bottom: 0;
    font-weight: normal;
  }
  .big-foot-nav > li {
    margin-bottom: 0.75em;
    & > a {
      color: $link-color;
      text-decoration: none;
      border-bottom: 1px dotted #ccc;
      &:hover, &:focus {
        color: $link-color-hover;
        border-bottom: 1px dotted $link-color-hover;
      }
    }
  }
  ul, ol {
    margin: 0;
    padding: 0;
    list-style: none;
  }
  ul {
    &:before, &:after {
      content: " ";
      display: table;
    }
  }
  ol {
    &:before, &:after {
      content: " ";
      display: table;
    }
  }
  ul > li,
  ol > li {
    position: relative;
    display: block;
  }
  ul:after, ol:after {
    clear: both;
  }
  .contact-link, .row a {
    color: $link-color;
    border-bottom: 1px dotted $link-color;
    &:hover {
      color: $link-color-hover;
      border-bottom-color: $link-color-hover;
    }
  }
  .btn {
    margin-bottom: 1.75em;
  }
  .dgtl-mkting-101 {
    margin-bottom: 1.75em;
    & > li {
      float: left;
      & > a {
        margin-right: 0.625em;
        font-size: 2.375em;
        color: $link-color;
        border-bottom: 0;
        line-height: 1rem;
        // Custom SVGs
        svg {
          fill: #cccccc;
          width: 33px;
          &:hover {
            fill: #ffffff;
          }
        }
      }
    }
  }
  ul > li > a, ol > li > a {
    position: relative;
    text-decoration: none;
  }

  .fa:hover {
    color: $link-color-hover;
  }
  .little-foot {
    padding-top: 2.5em;
    padding-bottom: 2.5em;
    background-color: #e5e5e5;
    width: 100%;
  }
  #mega-footer-org-logo {
    max-width: 330px; /* 33% of 992px */
    margin-top: 1em; /* based on 17px margin-top of menu col <h2>s */
  }
}

.little-foot-nav > li > a {
  margin-right: 1.75em;
  font-size: 1em;
  font-weight: 400;
  color: #333;
  border-bottom: 0;
  float: left;
  &:hover, &:focus {
    color: #595959;
  }
}

.collapse.in {
  display: block;
}

.big-foot-head .caret {
  float: right;
  margin-right: 1.75em;
  margin-top: 0.9375em;
  display: none;
}

#block-mega-footer-mega-footer .content,
#block-asu-brand-asu-brand-footer .content {
  padding: 0 !important;
}

// [KM 12-5-16] Added stronger focus styles for keyboard accessibility
.big-foot-nav > li > a:focus,
.little-foot-nav > li > a:focus {
  @include a11y-strong-focus($ws2-gray-light);
}
// Applied previous styles to outline and removed border properties
.megafoot {
  a:focus,
  .ui-widget-content a:focus,
  input:focus,
  a.btn:focus,
  .btn a:focus,
  #skip_to_content:focus,
  #top-content #tabs .nav-pills > li.active > a:focus,
  h4.ui-accordion-header.ui-state-hover,
  h4.ui-accordion-header:focus {
    @include a11y-strong-focus($ws2-gray-light);
  }
}

/** Media rules
---------------------------------------------------- */
@media (max-width: 991px) {
  .megafoot h2 {
    cursor: pointer;
    margin-top: 0.625em;
  }
}

@media (max-width: 768px) {
  .big-foot-head .caret {
    cursor: pointer;
    margin-top: 0.625em;
    display: inline-block;
  }
  .megafoot .row .space-bot-md {
    border-bottom: 1px solid #383d3e;
  }
}

// @media print rules for Innovation theme

@media print {
  .megafoot {
    & > .row div:not(.megafoot-border) {
      display: none;
    }
    ul.social-media li a {
      font-size: 1em;
    }
  }
  .ui-tabs-nav {
    display: none;
    .ui-tabs-hide {
      display: block !important;
    }
  }
  .view-footer-contact .social-links .field {
    width: 100% !important;
    margin-bottom: 0.5em;
  }
  #block-views-footer-contact-block .social-links a[href]:after {
    display: block;
    float: right;
    min-width: 96%;
    font-size: 0.9em;
  }
  #block-views-footer-contact-block, #block-mega-footer-mega-footer {
    clear:left;
    width: unset;
  }
  #top-content #tabs .nav.nav-pills,
  .region-closure,
  #innovation-bar,
  #ASUNavMenu.sticky-menu {
    display: none !important;
  }
  .pane-bundle-hero .hero-wrapper,
  .pane-bundle-jumbohero .hero-wrapper,
  .pane-bundle-banner .hero-wrapper {
    height: unset;
  }
}
