/**
 * CSS file for Webspark banner module.
 */

/* Make banner background image responsive */
.pane-bundle-banner {
  background-size: cover;
  width: 100%;
  margin-top: -1px;
  h1,
  h2 {
    color: white;
    font-size: 3.75rem;
    font-weight: 700;
    line-height: 1;
    margin: 0 0 0.5625em 0;
    text-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
  }
  .pane-content {
    padding-top: 6.625em;
    padding-bottom: 1.875em;
  }
}
