/** New WS2.0 - Dividers and Backgrounds IS_SCSS */
/* Bootstrap variables list (defaults copied from bootstrap-sass version 3.1.0.2): Override Bootstrap variables below. */
/*== Colors --- WS2 DONE
-----------------------------------------------------*/
hr.body-gold { height: 0.5rem; background-color: #ffc627; max-width: 16rem; margin: 2em 0; }

/* HR separator - custom */
hr.ws2-element-gold { border-color: #ffc627; border-width: 8px; margin-left: 0; max-width: 256px; }

.asu-divider { background-position: top center; background-repeat: no-repeat; }
.asu-divider.divider-morse-white { background-image: url("/profiles/openasu/themes/elpuente/images/morse_white.png"); background-color: #fff; }
.asu-divider.divider-morse-gray { background-image: url("/profiles/openasu/themes/elpuente/images/morse_gray.png"); background-color: #bfbfbf; }
.asu-divider.divider-morse-black { background-image: url("/profiles/openasu/themes/elpuente/images/morse_black.png"); background-color: #191919; }
.asu-divider.divider-topo-white { background-image: url("/profiles/openasu/themes/elpuente/images/topo_white.png"); background-color: #fff; }
.asu-divider.divider-topo-gray { background-image: url("/profiles/openasu/themes/elpuente/images/topo_gray.png"); background-color: #bfbfbf; }
.asu-divider.divider-topo-black { background-image: url("/profiles/openasu/themes/elpuente/images/topo_black.png"); background-color: #191919; }
.asu-divider.divider-net-white { background-image: url("/profiles/openasu/themes/elpuente/images/network_white.png"); background-color: #fff; }
.asu-divider.divider-net-black { background-image: url("/profiles/openasu/themes/elpuente/images/network_black.png"); background-color: #191919; }
.asu-divider[class*=divider-net] { background-position: top left; background-repeat: repeat-x; }
