@charset "UTF-8";
/** Initially ported over from Innovationn (innovation-main.css source) */
/* Bootstrap variables list (defaults copied from bootstrap-sass version 3.1.0.2): Override Bootstrap variables below. */
/*== Colors --- WS2 DONE
-----------------------------------------------------*/
/* Global mixin library for multiple or all elements */
/* Custom Web standard styles */
/* =BOOTSTRAP, PANOPOLY & WEBSPARK OVERRIDES
-------------------------------------------------------------- */
#asu_footer ul { max-width: 1170px; margin: 0 auto; padding-left: 0; }

#main-wrapper { margin-bottom: 0; margin-top: 0; }

#tabs { margin-bottom: 0; }

div.error { background-repeat: no-repeat; text-align: left; font: normal 12px/16px "FontAwesome"; letter-spacing: 0; color: #B72A2A; opacity: 1; }
div.error label { padding-left: 2em; }

/* =GLOBALS
-------------------------------------------------------------- */
html { font-size: 100%; }

body { font-size: 1rem; min-width: 20em; font-family: Arial, Helvetica, "Nimbus Sans L", "Liberation Sans", FreeSans, sans-serif; color: #191919; background-color: #fff; }
body #page .region-content { padding: 0; }

p { margin: 1em 0; }

.pane-node-body { margin-top: 2.85em; margin-bottom: 3em; }

.page-teaser { margin-top: 3em; margin-bottom: 3em; }

div.pane-system-main-menu, div.pane-menu-tree { margin-top: 3em; }

#skip_to_content { position: absolute; left: -9999px; }
#skip_to_content:focus { position: relative; left: 0; }

/* =LINKS --- WS2.0 DONE =BUTTONS --- WS2.0 DONE
-------------------------------------------------------------- */
/* =BUTTONS --- WS2.0 DONE
-------------------------------------------------------------- */
#tabs .nav.nav-pills > li > a { padding-top: 0.5rem; padding-bottom: 0.5rem; }

#tb-megamenu-main-menu > button.btn-navbar.tb-megamenu-button { display: none; }

.btn, .pane-menu-tree .menu-block-wrapper ul.menu li a.btn-pane-menu-tree { /* Button CSS for menu links added */ -moz-user-select: none; background-image: none; border: 1px solid transparent; border-radius: 32px; cursor: pointer; display: inline-block; font-size: 1em; font-weight: bold; line-height: 1em; margin-bottom: 0; max-width: 17.5rem; min-width: 5rem; padding: 8px 8px; text-align: center; vertical-align: middle; white-space: nowrap; }
.btn.active, .btn:focus, .btn:active, .btn:active:focus, .btn.active:focus, .pane-menu-tree .menu-block-wrapper ul.menu li a.btn-pane-menu-tree.active, .pane-menu-tree .menu-block-wrapper ul.menu li a.btn-pane-menu-tree:focus, .pane-menu-tree .menu-block-wrapper ul.menu li a.btn-pane-menu-tree:active, .pane-menu-tree .menu-block-wrapper ul.menu li a.btn-pane-menu-tree:active:focus, .pane-menu-tree .menu-block-wrapper ul.menu li a.btn-pane-menu-tree.active:focus { background-image: none; outline: 0 none; }
.btn:hover, .btn:focus, .pane-menu-tree .menu-block-wrapper ul.menu li a.btn-pane-menu-tree:hover, .pane-menu-tree .menu-block-wrapper ul.menu li a.btn-pane-menu-tree:focus { border: 1px solid transparent; text-decoration: none; transform: scale(1.1); }
.btn.disabled, .btn[disabled], .btn fieldset[disabled] .btn, .pane-menu-tree .menu-block-wrapper ul.menu li a.btn-pane-menu-tree.disabled, .pane-menu-tree .menu-block-wrapper ul.menu li a.btn-pane-menu-tree[disabled], .pane-menu-tree .menu-block-wrapper ul.menu li a.btn-pane-menu-tree fieldset[disabled] .btn { box-shadow: none; cursor: not-allowed; opacity: 0.5; pointer-events: none; }

.btn-primary, .btn-default, .pane-menu-tree .menu-block-wrapper ul.menu li a.btn-pane-menu-tree.btn-primary, .pane-menu-tree .menu-block-wrapper ul.menu li a.btn-pane-menu-tree.btn-default { color: #ffffff; background-color: #8c1d40; }
.btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-default:hover, .btn-default:focus, .btn-default:active, .pane-menu-tree .menu-block-wrapper ul.menu li a.btn-pane-menu-tree.btn-primary:hover, .pane-menu-tree .menu-block-wrapper ul.menu li a.btn-pane-menu-tree.btn-primary:focus, .pane-menu-tree .menu-block-wrapper ul.menu li a.btn-pane-menu-tree.btn-primary:active, .pane-menu-tree .menu-block-wrapper ul.menu li a.btn-pane-menu-tree.btn-default:hover, .pane-menu-tree .menu-block-wrapper ul.menu li a.btn-pane-menu-tree.btn-default:focus, .pane-menu-tree .menu-block-wrapper ul.menu li a.btn-pane-menu-tree.btn-default:active { transform: scale(1.1); }
.btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active, .btn-default:hover, .btn-default:focus, .btn-default:active, .btn-default.active, .pane-menu-tree .menu-block-wrapper ul.menu li a.btn-pane-menu-tree.btn-primary:hover, .pane-menu-tree .menu-block-wrapper ul.menu li a.btn-pane-menu-tree.btn-primary:focus, .pane-menu-tree .menu-block-wrapper ul.menu li a.btn-pane-menu-tree.btn-primary:active, .pane-menu-tree .menu-block-wrapper ul.menu li a.btn-pane-menu-tree.btn-primary.active, .pane-menu-tree .menu-block-wrapper ul.menu li a.btn-pane-menu-tree.btn-default:hover, .pane-menu-tree .menu-block-wrapper ul.menu li a.btn-pane-menu-tree.btn-default:focus, .pane-menu-tree .menu-block-wrapper ul.menu li a.btn-pane-menu-tree.btn-default:active, .pane-menu-tree .menu-block-wrapper ul.menu li a.btn-pane-menu-tree.btn-default.active { color: #fafafa; }
.btn-primary:active, .btn-primary.active, .btn-default:active, .btn-default.active, .pane-menu-tree .menu-block-wrapper ul.menu li a.btn-pane-menu-tree.btn-primary:active, .pane-menu-tree .menu-block-wrapper ul.menu li a.btn-pane-menu-tree.btn-primary.active, .pane-menu-tree .menu-block-wrapper ul.menu li a.btn-pane-menu-tree.btn-default:active, .pane-menu-tree .menu-block-wrapper ul.menu li a.btn-pane-menu-tree.btn-default.active { background-image: none; }
.btn-primary.disabled, .btn-primary.disabled:hover, .btn-primary.disabled:focus, .btn-primary.disabled:active, .btn-primary.disabled.active, .btn-primary[disabled], .btn-primary[disabled]:hover, .btn-primary[disabled]:focus, .btn-primary[disabled]:active, .btn-primary.active[disabled], .btn-default.disabled, .btn-default.disabled:hover, .btn-default.disabled:focus, .btn-default.disabled:active, .btn-default.disabled.active, .btn-default[disabled], .btn-default[disabled]:hover, .btn-default[disabled]:focus, .btn-default[disabled]:active, .btn-default.active[disabled], .pane-menu-tree .menu-block-wrapper ul.menu li a.btn-pane-menu-tree.btn-primary.disabled, .pane-menu-tree .menu-block-wrapper ul.menu li a.btn-pane-menu-tree.btn-primary.disabled:hover, .pane-menu-tree .menu-block-wrapper ul.menu li a.btn-pane-menu-tree.btn-primary.disabled:focus, .pane-menu-tree .menu-block-wrapper ul.menu li a.btn-pane-menu-tree.btn-primary.disabled:active, .pane-menu-tree .menu-block-wrapper ul.menu li a.btn-pane-menu-tree.btn-primary.disabled.active, .pane-menu-tree .menu-block-wrapper ul.menu li a.btn-pane-menu-tree.btn-primary[disabled], .pane-menu-tree .menu-block-wrapper ul.menu li a.btn-pane-menu-tree.btn-primary[disabled]:hover, .pane-menu-tree .menu-block-wrapper ul.menu li a.btn-pane-menu-tree.btn-primary[disabled]:focus, .pane-menu-tree .menu-block-wrapper ul.menu li a.btn-pane-menu-tree.btn-primary[disabled]:active, .pane-menu-tree .menu-block-wrapper ul.menu li a.btn-pane-menu-tree.btn-primary.active[disabled], .pane-menu-tree .menu-block-wrapper ul.menu li a.btn-pane-menu-tree.btn-default.disabled, .pane-menu-tree .menu-block-wrapper ul.menu li a.btn-pane-menu-tree.btn-default.disabled:hover, .pane-menu-tree .menu-block-wrapper ul.menu li a.btn-pane-menu-tree.btn-default.disabled:focus, .pane-menu-tree .menu-block-wrapper ul.menu li a.btn-pane-menu-tree.btn-default.disabled:active, .pane-menu-tree .menu-block-wrapper ul.menu li a.btn-pane-menu-tree.btn-default.disabled.active, .pane-menu-tree .menu-block-wrapper ul.menu li a.btn-pane-menu-tree.btn-default[disabled], .pane-menu-tree .menu-block-wrapper ul.menu li a.btn-pane-menu-tree.btn-default[disabled]:hover, .pane-menu-tree .menu-block-wrapper ul.menu li a.btn-pane-menu-tree.btn-default[disabled]:focus, .pane-menu-tree .menu-block-wrapper ul.menu li a.btn-pane-menu-tree.btn-default[disabled]:active, .pane-menu-tree .menu-block-wrapper ul.menu li a.btn-pane-menu-tree.btn-default.active[disabled] { opacity: 0.5; }
.btn-primary .badge, .btn-default .badge, .pane-menu-tree .menu-block-wrapper ul.menu li a.btn-pane-menu-tree.btn-primary .badge, .pane-menu-tree .menu-block-wrapper ul.menu li a.btn-pane-menu-tree.btn-default .badge { color: #fff; }

.open > .btn-primary.dropdown-toggle, .open > .btn-default.dropdown-toggle { color: #fafafa; background-color: #8c1d40; background-image: none; }

fieldset[disabled] .btn-primary, fieldset[disabled] .btn-default { opacity: 0.5; }
fieldset[disabled] .btn-primary:hover, fieldset[disabled] .btn-primary:focus, fieldset[disabled] .btn-primary:active, fieldset[disabled] .btn-primary.active, fieldset[disabled] .btn-default:hover, fieldset[disabled] .btn-default:focus, fieldset[disabled] .btn-default:active, fieldset[disabled] .btn-default.active { opacity: 0.5; }

.btn-secondary, .btn-blue, .pane-menu-tree .menu-block-wrapper ul.menu li a.btn-pane-menu-tree.btn-secondary, .pane-menu-tree .menu-block-wrapper ul.menu li a.btn-pane-menu-tree.btn-blue { color: #191919; background-color: #bfbfbf; }
.btn-secondary:hover, .btn-secondary:focus, .btn-secondary:active, .btn-blue:hover, .btn-blue:focus, .btn-blue:active, .pane-menu-tree .menu-block-wrapper ul.menu li a.btn-pane-menu-tree.btn-secondary:hover, .pane-menu-tree .menu-block-wrapper ul.menu li a.btn-pane-menu-tree.btn-secondary:focus, .pane-menu-tree .menu-block-wrapper ul.menu li a.btn-pane-menu-tree.btn-secondary:active, .pane-menu-tree .menu-block-wrapper ul.menu li a.btn-pane-menu-tree.btn-blue:hover, .pane-menu-tree .menu-block-wrapper ul.menu li a.btn-pane-menu-tree.btn-blue:focus, .pane-menu-tree .menu-block-wrapper ul.menu li a.btn-pane-menu-tree.btn-blue:active { transform: scale(1.1); }
.btn-secondary:active, .btn-secondary.active, .btn-blue:active, .btn-blue.active, .pane-menu-tree .menu-block-wrapper ul.menu li a.btn-pane-menu-tree.btn-secondary:active, .pane-menu-tree .menu-block-wrapper ul.menu li a.btn-pane-menu-tree.btn-secondary.active, .pane-menu-tree .menu-block-wrapper ul.menu li a.btn-pane-menu-tree.btn-blue:active, .pane-menu-tree .menu-block-wrapper ul.menu li a.btn-pane-menu-tree.btn-blue.active { background-image: none; }
.btn-secondary.disabled, .btn-secondary.disabled:hover, .btn-secondary.disabled:focus, .btn-secondary.disabled:active, .btn-secondary.disabled.active, .btn-secondary[disabled], .btn-secondary[disabled]:hover, .btn-secondary[disabled]:focus, .btn-secondary[disabled]:active, .btn-secondary.active[disabled], .btn-blue.disabled, .btn-blue.disabled:hover, .btn-blue.disabled:focus, .btn-blue.disabled:active, .btn-blue.disabled.active, .btn-blue[disabled], .btn-blue[disabled]:hover, .btn-blue[disabled]:focus, .btn-blue[disabled]:active, .btn-blue.active[disabled], .pane-menu-tree .menu-block-wrapper ul.menu li a.btn-pane-menu-tree.btn-secondary.disabled, .pane-menu-tree .menu-block-wrapper ul.menu li a.btn-pane-menu-tree.btn-secondary.disabled:hover, .pane-menu-tree .menu-block-wrapper ul.menu li a.btn-pane-menu-tree.btn-secondary.disabled:focus, .pane-menu-tree .menu-block-wrapper ul.menu li a.btn-pane-menu-tree.btn-secondary.disabled:active, .pane-menu-tree .menu-block-wrapper ul.menu li a.btn-pane-menu-tree.btn-secondary.disabled.active, .pane-menu-tree .menu-block-wrapper ul.menu li a.btn-pane-menu-tree.btn-secondary[disabled], .pane-menu-tree .menu-block-wrapper ul.menu li a.btn-pane-menu-tree.btn-secondary[disabled]:hover, .pane-menu-tree .menu-block-wrapper ul.menu li a.btn-pane-menu-tree.btn-secondary[disabled]:focus, .pane-menu-tree .menu-block-wrapper ul.menu li a.btn-pane-menu-tree.btn-secondary[disabled]:active, .pane-menu-tree .menu-block-wrapper ul.menu li a.btn-pane-menu-tree.btn-secondary.active[disabled], .pane-menu-tree .menu-block-wrapper ul.menu li a.btn-pane-menu-tree.btn-blue.disabled, .pane-menu-tree .menu-block-wrapper ul.menu li a.btn-pane-menu-tree.btn-blue.disabled:hover, .pane-menu-tree .menu-block-wrapper ul.menu li a.btn-pane-menu-tree.btn-blue.disabled:focus, .pane-menu-tree .menu-block-wrapper ul.menu li a.btn-pane-menu-tree.btn-blue.disabled:active, .pane-menu-tree .menu-block-wrapper ul.menu li a.btn-pane-menu-tree.btn-blue.disabled.active, .pane-menu-tree .menu-block-wrapper ul.menu li a.btn-pane-menu-tree.btn-blue[disabled], .pane-menu-tree .menu-block-wrapper ul.menu li a.btn-pane-menu-tree.btn-blue[disabled]:hover, .pane-menu-tree .menu-block-wrapper ul.menu li a.btn-pane-menu-tree.btn-blue[disabled]:focus, .pane-menu-tree .menu-block-wrapper ul.menu li a.btn-pane-menu-tree.btn-blue[disabled]:active, .pane-menu-tree .menu-block-wrapper ul.menu li a.btn-pane-menu-tree.btn-blue.active[disabled] { opacity: 0.5; }
.btn-secondary .badge, .btn-blue .badge, .pane-menu-tree .menu-block-wrapper ul.menu li a.btn-pane-menu-tree.btn-secondary .badge, .pane-menu-tree .menu-block-wrapper ul.menu li a.btn-pane-menu-tree.btn-blue .badge { color: #191919; }

.open > .btn-secondary.dropdown-toggle, .open > .btn-blue.dropdown-toggle { color: #191919; background-color: #bfbfbf; background-image: none; }

fieldset[disabled] .btn-secondary, fieldset[disabled] .btn-blue { opacity: 0.5; }
fieldset[disabled] .btn-secondary:hover, fieldset[disabled] .btn-secondary:focus, fieldset[disabled] .btn-secondary:active, fieldset[disabled] .btn-secondary.active, fieldset[disabled] .btn-blue:hover, fieldset[disabled] .btn-blue:focus, fieldset[disabled] .btn-blue:active, fieldset[disabled] .btn-blue.active { opacity: 0.5; }

.btn-gold, .pane-menu-tree .menu-block-wrapper ul.menu li a.btn-pane-menu-tree.btn-gold { color: #191919; background-color: #ffc627; }
.btn-gold:hover, .btn-gold:focus, .btn-gold:active, .pane-menu-tree .menu-block-wrapper ul.menu li a.btn-pane-menu-tree.btn-gold:hover, .pane-menu-tree .menu-block-wrapper ul.menu li a.btn-pane-menu-tree.btn-gold:focus, .pane-menu-tree .menu-block-wrapper ul.menu li a.btn-pane-menu-tree.btn-gold:active { transform: scale(1.1); }
.btn-gold:active, .btn-gold.active, .pane-menu-tree .menu-block-wrapper ul.menu li a.btn-pane-menu-tree.btn-gold:active, .pane-menu-tree .menu-block-wrapper ul.menu li a.btn-pane-menu-tree.btn-gold.active { background-image: none; }
.btn-gold.disabled, .btn-gold.disabled:hover, .btn-gold.disabled:focus, .btn-gold.disabled:active, .btn-gold.disabled.active, .btn-gold[disabled], .btn-gold[disabled]:hover, .btn-gold[disabled]:focus, .btn-gold[disabled]:active, .btn-gold.active[disabled], .pane-menu-tree .menu-block-wrapper ul.menu li a.btn-pane-menu-tree.btn-gold.disabled, .pane-menu-tree .menu-block-wrapper ul.menu li a.btn-pane-menu-tree.btn-gold.disabled:hover, .pane-menu-tree .menu-block-wrapper ul.menu li a.btn-pane-menu-tree.btn-gold.disabled:focus, .pane-menu-tree .menu-block-wrapper ul.menu li a.btn-pane-menu-tree.btn-gold.disabled:active, .pane-menu-tree .menu-block-wrapper ul.menu li a.btn-pane-menu-tree.btn-gold.disabled.active, .pane-menu-tree .menu-block-wrapper ul.menu li a.btn-pane-menu-tree.btn-gold[disabled], .pane-menu-tree .menu-block-wrapper ul.menu li a.btn-pane-menu-tree.btn-gold[disabled]:hover, .pane-menu-tree .menu-block-wrapper ul.menu li a.btn-pane-menu-tree.btn-gold[disabled]:focus, .pane-menu-tree .menu-block-wrapper ul.menu li a.btn-pane-menu-tree.btn-gold[disabled]:active, .pane-menu-tree .menu-block-wrapper ul.menu li a.btn-pane-menu-tree.btn-gold.active[disabled] { opacity: 0.5; }
.btn-gold .badge, .pane-menu-tree .menu-block-wrapper ul.menu li a.btn-pane-menu-tree.btn-gold .badge { color: #ffc627; }

.open > .btn-gold.dropdown-toggle { color: #191919; background-color: #ffc627; background-image: none; }

fieldset[disabled] .btn-gold { opacity: 0.5; }
fieldset[disabled] .btn-gold:hover, fieldset[disabled] .btn-gold:focus, fieldset[disabled] .btn-gold:active, fieldset[disabled] .btn-gold.active { opacity: 0.5; }

.btn-black, .pane-menu-tree .menu-block-wrapper ul.menu li a.btn-pane-menu-tree.btn-black { color: #fafafa; background-color: #191919; }
.btn-black:hover, .btn-black:focus, .btn-black:active, .pane-menu-tree .menu-block-wrapper ul.menu li a.btn-pane-menu-tree.btn-black:hover, .pane-menu-tree .menu-block-wrapper ul.menu li a.btn-pane-menu-tree.btn-black:focus, .pane-menu-tree .menu-block-wrapper ul.menu li a.btn-pane-menu-tree.btn-black:active { transform: scale(1.1); }
.btn-black:active, .btn-black.active, .pane-menu-tree .menu-block-wrapper ul.menu li a.btn-pane-menu-tree.btn-black:active, .pane-menu-tree .menu-block-wrapper ul.menu li a.btn-pane-menu-tree.btn-black.active { background-image: none; }
.btn-black.disabled, .btn-black.disabled:hover, .btn-black.disabled:focus, .btn-black.disabled:active, .btn-black.disabled.active, .btn-black[disabled], .btn-black[disabled]:hover, .btn-black[disabled]:focus, .btn-black[disabled]:active, .btn-black.active[disabled], .pane-menu-tree .menu-block-wrapper ul.menu li a.btn-pane-menu-tree.btn-black.disabled, .pane-menu-tree .menu-block-wrapper ul.menu li a.btn-pane-menu-tree.btn-black.disabled:hover, .pane-menu-tree .menu-block-wrapper ul.menu li a.btn-pane-menu-tree.btn-black.disabled:focus, .pane-menu-tree .menu-block-wrapper ul.menu li a.btn-pane-menu-tree.btn-black.disabled:active, .pane-menu-tree .menu-block-wrapper ul.menu li a.btn-pane-menu-tree.btn-black.disabled.active, .pane-menu-tree .menu-block-wrapper ul.menu li a.btn-pane-menu-tree.btn-black[disabled], .pane-menu-tree .menu-block-wrapper ul.menu li a.btn-pane-menu-tree.btn-black[disabled]:hover, .pane-menu-tree .menu-block-wrapper ul.menu li a.btn-pane-menu-tree.btn-black[disabled]:focus, .pane-menu-tree .menu-block-wrapper ul.menu li a.btn-pane-menu-tree.btn-black[disabled]:active, .pane-menu-tree .menu-block-wrapper ul.menu li a.btn-pane-menu-tree.btn-black.active[disabled] { opacity: 0.5; }
.btn-black .badge, .pane-menu-tree .menu-block-wrapper ul.menu li a.btn-pane-menu-tree.btn-black .badge { color: #fafafa; }

.open > .btn-black.dropdown-toggle { color: #fafafa; background-color: #191919; background-image: none; }

fieldset[disabled] .btn-black { opacity: 0.5; }
fieldset[disabled] .btn-black:hover, fieldset[disabled] .btn-black:focus, fieldset[disabled] .btn-black:active, fieldset[disabled] .btn-black.active { opacity: 0.5; }

/* NOT ASU Web standards 2.0 colors - Bootstrap and/or alert color classes */
.btn-success { background-color: #78be20; color: #fff; }

.btn-success:hover, .btn-success:focus, .btn-success:active, .btn-success.active, .open > .btn-success.dropdown-toggle { transform: scale(1.1); }

.btn-success:active, .btn-success.active, .open > .btn-success.dropdown-toggle { background-image: none; }

.btn-success.disabled, .btn-success.disabled:hover, .btn-success.disabled:focus, .btn-success.disabled:active, .btn-success.disabled.active, .btn-success[disabled], .btn-success[disabled]:hover, .btn-success[disabled]:focus, .btn-success[disabled]:active, .btn-success.active[disabled], fieldset[disabled] .btn-success, fieldset[disabled] .btn-success:hover, fieldset[disabled] .btn-success:focus, fieldset[disabled] .btn-success:active, fieldset[disabled] .btn-success.active { opacity: 0.5; }

.btn-success .badge { background-color: #fff; color: #78be20; }

.btn-info { background-color: #00a3e0; border-color: #00a3e0; color: #fff; }

.btn-info:hover, .btn-info:focus, .btn-info:active, .btn-info.active, .open > .btn-info.dropdown-toggle { transform: scale(1.1); }

.btn-info:active, .btn-info.active, .open > .btn-info.dropdown-toggle { background-image: none; }

.btn-info.disabled, .btn-info.disabled:hover, .btn-info.disabled:focus, .btn-info.disabled:active, .btn-info.disabled.active, .btn-info[disabled], .btn-info[disabled]:hover, .btn-info[disabled]:focus, .btn-info[disabled]:active, .btn-info.active[disabled], fieldset[disabled] .btn-info, fieldset[disabled] .btn-info:hover, fieldset[disabled] .btn-info:focus, fieldset[disabled] .btn-info:active, fieldset[disabled] .btn-info.active { opacity: 0.5; }

.btn-info .badge { background-color: #fff; color: #00a3e0; }

.btn-warning { background-color: #ff7f32; border-color: #ff7f32; color: #191919; }

.btn-warning:hover, .btn-warning:focus, .btn-warning:active, .btn-warning.active, .open > .btn-warning.dropdown-toggle { transform: scale(1.1); }

.btn-warning:active, .btn-warning.active, .open > .btn-warning.dropdown-toggle { background-image: none; }

.btn-warning.disabled, .btn-warning.disabled:hover, .btn-warning.disabled:focus, .btn-warning.disabled:active, .btn-warning.disabled.active, .btn-warning[disabled], .btn-warning[disabled]:hover, .btn-warning[disabled]:focus, .btn-warning[disabled]:active, .btn-warning.active[disabled], fieldset[disabled] .btn-warning, fieldset[disabled] .btn-warning:hover, fieldset[disabled] .btn-warning:focus, fieldset[disabled] .btn-warning:active, fieldset[disabled] .btn-warning.active { opacity: 0.5; }

.btn-warning .badge { background-color: #191919; color: #ffc627; }

.btn-danger { background-color: #ec5937; border-color: #ad2e10; color: #fff; }

.btn-danger:hover, .btn-danger:focus, .btn-danger:active, .btn-danger.active, .open > .btn-danger.dropdown-toggle { transform: scale(1.1); }

.btn-danger:active, .btn-danger.active, .open > .btn-danger.dropdown-toggle { background-image: none; }

.btn-danger.disabled, .btn-danger.disabled:hover, .btn-danger.disabled:focus, .btn-danger.disabled:active, .btn-danger.disabled.active, .btn-danger[disabled], .btn-danger[disabled]:hover, .btn-danger[disabled]:focus, .btn-danger[disabled]:active, .btn-danger.active[disabled], fieldset[disabled] .btn-danger, fieldset[disabled] .btn-danger:hover, fieldset[disabled] .btn-danger:focus, fieldset[disabled] .btn-danger:active, fieldset[disabled] .btn-danger.active { opacity: 0.5; }

.btn-danger .badge { background-color: #fff; color: #ec5937; }

.btn-link { border-radius: 0; color: #8c1d40; cursor: pointer; font-weight: normal; }

.btn-link, .btn-link:active, .btn-link[disabled], fieldset[disabled] .btn-link { background-color: transparent; box-shadow: none; }

.btn-link, .btn-link:hover, .btn-link:focus, .btn-link:active { border-color: transparent; }

.btn-link:hover, .btn-link:focus { background-color: transparent; color: #8c1d40; text-decoration: underline; }

.btn-link[disabled]:hover, .btn-link[disabled]:focus, fieldset[disabled] .btn-link:hover, fieldset[disabled] .btn-link:focus { opacity: 0.5; }

.btn-lg, .btn-group-lg > .btn { border-radius: 32px; font-size: 1em; padding: 1em 1.5em; min-width: 7rem; }

.btn-sm, .btn-group-sm > .btn { border-radius: 32px; font-size: 0.875em; padding: 8px 16px; min-width: 4rem; }

.btn-xs, .btn-group-xs > .btn, .btn-tag { border-radius: 32px; font-size: 0.75em; padding: 4px 12px; min-width: 4rem; }

.btn-tag { background-color: #e8e8e8; border-color: #e8e8e8; font-weight: normal; }

.btn-block { display: block; width: 100%; }

.btn-block + .btn-block { margin-top: 15px; }

.button.browse { background: -moz-linear-gradient(center bottom, #e9eaec 0%, #fafafa 100%) repeat scroll 0 0 #fafafa; border: 1px solid #d0d0d0; border-radius: 3px; box-shadow: 0 3px 3px 0 #d0d0d0; color: #747474; cursor: pointer; font: bold 12px/32px "Open Sans","Lucida Sans","Lucida Grande",verdana sans-serif; height: 33px; margin: 0 18px 0 0; outline: medium none; padding: 8px 13px; text-decoration: none; }

.button.browse:hover { background: -moz-linear-gradient(center bottom, #c5c5c5 0%, #fafafa 100%) repeat scroll 0 0 #e6e6e6; }

/* Buttons placed in the LH (secondary) menu */
.pane-menu-tree .menu-block-wrapper nav[aria-label="Secondary"] ul.menu li:not(.btn-container) + li.btn-container { border-top: 1px solid #d0d0d0; }
.pane-menu-tree .menu-block-wrapper nav[aria-label="Secondary"] ul.menu li.btn-container + li:not(.btn-container) { margin-top: 0.9375em; }
.pane-menu-tree .menu-block-wrapper nav[aria-label="Secondary"] > ul.menu > li.btn-container.first > a { margin-top: 0; }
.pane-menu-tree .menu-block-wrapper nav[aria-label="Secondary"] > ul.menu li.btn-container ul.menu { margin-top: 0.9375em; }
.pane-menu-tree .menu-block-wrapper nav[aria-label="Secondary"] > ul.menu ul.menu li.btn-container { margin-left: 1.375em; margin-bottom: 0.9375em; }
.pane-menu-tree .menu-block-wrapper nav[aria-label="Secondary"] > ul.menu ul.menu li.btn-container + li:not(.btn-container) { margin-left: 1.375em; }
.pane-menu-tree .menu-block-wrapper nav[aria-label="Secondary"] > ul.menu ul.menu li.btn-container + li:not(.btn-container) > a { margin-left: 0; padding-left: 1.375em; }

a, .ui-widget-content a { border-bottom: 1px solid #8c1d40; text-decoration: none; color: #8c1d40; }
a:hover, .ui-widget-content a:hover { color: #8c1d40; text-decoration: none; border-bottom: none; }

#header a, #asu_footer a { border-bottom: transparent; }

button, .button, .btn, a.btn, .btn a { transition: all 0.5s cubic-bezier(0.19, 1, 0.19, 1) 0s; word-wrap: break-word; }

a.btn, .btn { margin-top: 0.9375em; }
a.btn.btn-lg, .btn.btn-lg { margin-top: 1.5em; }
a.btn:hover, .btn:hover { border-bottom: transparent; }

a.btn-default, .btn-default a, a.btn-primary, .btn-primary a { color: #fff; border-bottom-color: #8c1d40; }
a.btn-default:hover, .btn-default a:hover, a.btn-primary:hover, .btn-primary a:hover { color: #fff; border-bottom-color: #8c1d40; }

a.btn-secondary, .btn-secondary a, a.btn-blue, .btn-blue a { color: #191919; border-bottom-color: transparent; border-bottom: none; }
a.btn-secondary:hover, .btn-secondary a:hover, a.btn-blue:hover, .btn-blue a:hover { color: #191919; border-bottom-color: transparent; border-bottom: none; }

a.btn-gold, .btn-gold a { color: #fff; border-bottom-color: #8c1d40; }
a.btn-gold:hover, .btn-gold a:hover { color: #fff; border-bottom-color: #8c1d40; }

/* =TYPOGRAPHY --- WS2.0 DONE
-------------------------------------------------------------- */
h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 { margin-bottom: 1.5rem; color: inherit; font-family: Arial, Helvetica, "Nimbus Sans L", "Liberation Sans", FreeSans, sans-serif; font-weight: 700; line-height: calc(100% + 4px); display: block; /* Highlighting style augmentations for headers, titles, etc. */ }
h1.ws2-element-style, h2.ws2-element-style, h3.ws2-element-style, h4.ws2-element-style, h5.ws2-element-style, h6.ws2-element-style, .h1.ws2-element-style, .h2.ws2-element-style, .h3.ws2-element-style, .h4.ws2-element-style, .h5.ws2-element-style, .h6.ws2-element-style { line-height: calc(100% + 8px); padding: 4px 8px; display: table; }
h1.ws2-element-style.ws2-element-gold, h2.ws2-element-style.ws2-element-gold, h3.ws2-element-style.ws2-element-gold, h4.ws2-element-style.ws2-element-gold, h5.ws2-element-style.ws2-element-gold, h6.ws2-element-style.ws2-element-gold, .h1.ws2-element-style.ws2-element-gold, .h2.ws2-element-style.ws2-element-gold, .h3.ws2-element-style.ws2-element-gold, .h4.ws2-element-style.ws2-element-gold, .h5.ws2-element-style.ws2-element-gold, .h6.ws2-element-style.ws2-element-gold { background-color: #ffc627; }
h1.ws2-element-style.ws2-element-gray, h2.ws2-element-style.ws2-element-gray, h3.ws2-element-style.ws2-element-gray, h4.ws2-element-style.ws2-element-gray, h5.ws2-element-style.ws2-element-gray, h6.ws2-element-style.ws2-element-gray, .h1.ws2-element-style.ws2-element-gray, .h2.ws2-element-style.ws2-element-gray, .h3.ws2-element-style.ws2-element-gray, .h4.ws2-element-style.ws2-element-gray, .h5.ws2-element-style.ws2-element-gray, .h6.ws2-element-style.ws2-element-gray { color: #fafafa; background-color: #191919; }

h1, .h1 { font-size: 64px; }
h1.ws2-element-style, .h1.ws2-element-style { font-size: 74.624px; padding: 4px 12px; }
h1.ws2-element-style.ws2-too-long, .h1.ws2-element-style.ws2-too-long { font-size: 58px; }

h2, .h2 { font-size: 40px; }
h2.ws2-element-style, .h2.ws2-element-style { font-size: 48px; }

h3, .h3 { font-size: 24px; }
h3.ws2-element-style, .h3.ws2-element-style { font-size: 32px; }

h4, .h4 { font-size: 20px; }
h4.ws2-element-style, .h4.ws2-element-style { font-size: 28px; }

h5, .h5, h6, .h6 { font-size: 16px; }

h6, .h6 { font-weight: normal; }

/* HR separator - custom */
hr.ws2-element-gold { border-color: #ffc627; border-width: 8px; margin-left: 0; max-width: 256px; }

/* Blockquotes - Includes quotes/image styles, and testimonials Along with signature styling at the bottom */
/* Blockquotes */
/* blockquotes-output - Return base64-encoded string for rendering open quote. @param (str) $color - (optional) defaults to dark gray. Alt options (gold, maroon, white) */
/* blockquotes-quotes - Returns background-image CSS rule @param (str) $color - desired colors (gold, maroon, white) */
/* Blockquote SASS
----------------------------------------------*/
blockquote { border-left: none; font-weight: bold; padding-left: 6rem; max-width: 75ch; /* Signatures (beneath content) */ /* Content customizations */ }
blockquote.ws2-element-alt { padding: 24px 24px 24px 6rem; }
blockquote:before { background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAzMDIuODcgMjQ1LjgyIj48ZGVmcz48c3R5bGU+LmNscy0xe2ZpbGw6IzE5MTkxOTt9PC9zdHlsZT48L2RlZnM+PGcgaWQ9IkxheWVyXzIiIGRhdGEtbmFtZT0iTGF5ZXIgMiI+PGcgaWQ9IkxheWVyXzEtMiIgZGF0YS1uYW1lPSJMYXllciAxIj48cGF0aCBjbGFzcz0iY2xzLTEiIGQ9Ik0xMTMuNjEsMjQ1LjgySDBWMTY0LjU2cTAtNDkuMzQsOC42OS03Ny44M1Q0MC44NCwzNS41OFE2NC4yOSwxMi45NSwxMDAuNjcsMGwyMi4yNCw0Ni45cS0zNCwxMS4zMy00OC43MiwzMS41NFQ1OC42MywxMzIuMjFoNTVabTE4MCwwSDE4MFYxNjQuNTZxMC00OS43NCw4LjctNzhUMjIxLDM1LjU4UTI0NC42NSwxMi45NSwyODAuNjMsMGwyMi4yNCw0Ni45cS0zNCwxMS4zMy00OC43MiwzMS41NHQtMTUuNTcsNTMuNzdoNTVaIi8+PC9nPjwvZz48L3N2Zz4K); margin-top: 1.5rem; background-repeat: no-repeat; content: ''; min-height: 3rem; min-width: 2.375rem; float: left; margin-left: -4rem; color: #d0d0d0; }
blockquote > p:not([class*=sig-]):after { content: '"'; }
blockquote.ws2-element-maroon:before { background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAzMDIuODcgMjQ1LjgyIj48ZGVmcz48c3R5bGU+LmNscy0xe2ZpbGw6IzhjMWQ0MDt9PC9zdHlsZT48L2RlZnM+PGcgaWQ9IkxheWVyXzIiIGRhdGEtbmFtZT0iTGF5ZXIgMiI+PGcgaWQ9IkxheWVyXzEtMiIgZGF0YS1uYW1lPSJMYXllciAxIj48cGF0aCBjbGFzcz0iY2xzLTEiIGQ9Ik0xMTMuNjEsMjQ1LjgySDBWMTY0LjU2cTAtNDkuMzQsOC42OS03Ny44M1Q0MC44NCwzNS41OFE2NC4yOSwxMi45NSwxMDAuNjcsMGwyMi4yNCw0Ni45cS0zNCwxMS4zMy00OC43MiwzMS41NFQ1OC42MywxMzIuMjFoNTVabTE4MCwwSDE4MFYxNjQuNTZxMC00OS43NCw4LjctNzhUMjIxLDM1LjU4UTI0NC42NSwxMi45NSwyODAuNjMsMGwyMi4yNCw0Ni45cS0zNCwxMS4zMy00OC43MiwzMS41NHQtMTUuNTcsNTMuNzdoNTVaIi8+PC9nPjwvZz48L3N2Zz4K); margin-top: 1.5rem; }
blockquote.ws2-element-gold:before { background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAzMDIuODcgMjQ1LjgyIj48ZGVmcz48c3R5bGU+LmNscy0xe2ZpbGw6I2ZmYzYyNzt9PC9zdHlsZT48L2RlZnM+PGcgaWQ9IkxheWVyXzIiIGRhdGEtbmFtZT0iTGF5ZXIgMiI+PGcgaWQ9IkxheWVyXzEtMiIgZGF0YS1uYW1lPSJMYXllciAxIj48cGF0aCBjbGFzcz0iY2xzLTEiIGQ9Ik0xMTMuNjEsMjQ1LjgySDBWMTY0LjU2cTAtNDkuMzQsOC42OS03Ny44M1Q0MC44NCwzNS41OFE2NC4yOSwxMi45NSwxMDAuNjcsMGwyMi4yNCw0Ni45cS0zNCwxMS4zMy00OC43MiwzMS41NFQ1OC42MywxMzIuMjFoNTVabTE4MCwwSDE4MFYxNjQuNTZxMC00OS43NCw4LjctNzhUMjIxLDM1LjU4UTI0NC42NSwxMi45NSwyODAuNjMsMGwyMi4yNCw0Ni45cS0zNCwxMS4zMy00OC43MiwzMS41NHQtMTUuNTcsNTMuNzdoNTVaIi8+PC9nPjwvZz48L3N2Zz4K); margin-top: 1.5rem; }
blockquote.ws2-element-white:before { background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAzMDIuODcgMjQ1LjgyIj48ZGVmcz48c3R5bGU+LmNscy0xe2ZpbGw6I2ZmZmZmZjt9PC9zdHlsZT48L2RlZnM+PGcgaWQ9IkxheWVyXzIiIGRhdGEtbmFtZT0iTGF5ZXIgMiI+PGcgaWQ9IkxheWVyXzEtMiIgZGF0YS1uYW1lPSJMYXllciAxIj48cGF0aCBjbGFzcz0iY2xzLTEiIGQ9Ik0xMTMuNjEsMjQ1LjgySDBWMTY0LjU2cTAtNDkuMzQsOC42OS03Ny44M1Q0MC44NCwzNS41OFE2NC4yOSwxMi45NSwxMDAuNjcsMGwyMi4yNCw0Ni45cS0zNCwxMS4zMy00OC43MiwzMS41NFQ1OC42MywxMzIuMjFoNTVabTE4MCwwSDE4MFYxNjQuNTZxMC00OS43NCw4LjctNzhUMjIxLDM1LjU4UTI0NC42NSwxMi45NSwyODAuNjMsMGwyMi4yNCw0Ni45cS0zNCwxMS4zMy00OC43MiwzMS41NHQtMTUuNTcsNTMuNzdoNTVaIi8+PC9nPjwvZz48L3N2Zz4K); margin-top: 1.5rem; }
blockquote.ws2-bq-image { overflow: auto; padding-left: 14.3625rem; }
blockquote.ws2-bq-image img:first-of-type { clip-path: circle(90px); float: left; position: absolute; margin-left: -14.375rem; }
blockquote.ws2-bq-image:before { font-family: Arial, Helvetica, "Nimbus Sans L", "Liberation Sans", FreeSans, sans-serif; font-size: initial; content: initial; margin-left: -14.3625rem; color: #d0d0d0; }
blockquote .ws2-sig-title, blockquote .ws2-sig-byline { font-size: 16px; font-style: inherit; }
blockquote .ws2-sig-title:before { padding-right: 0.5em; content: "\2014"; }
blockquote .ws2-sig-byline { clear: left; display: block; font-weight: normal; padding-left: 1.5em; }
blockquote.ws2-element-black a { color: #ffc627; }

/* WYSIWYG style -- Lead Paragraph --*/
.lead-paragraph { font-family: inherit; font-size: 1.25rem; line-height: 2em; color: #191919; }

.explore-programs h3 { font-size: 1.625rem; }

/* =HEADER --- IN PROGRESS
-------------------------------------------------------------- */
.header__sitename { color: #191919; font-weight: bold; font-size: 1.5em; line-height: 1; letter-spacing: -0.5px; margin-top: 0; margin-bottom: 0; padding: 0 0 0.75rem 0.75rem; white-space: nowrap; overflow: hidden; transition: all 0.5s cubic-bezier(0.19, 1, 0.19, 1) 0s; }

.header__sitename.element-invisible { white-space: inherit; }

.header__sitename a { color: #191919; }

#asu_hdr #asu_universal_nav_new .icn { box-sizing: content-box; }

/* =STICKY NAV BAR --- WS2.0 DONE
-------------------------------------------------------------- */
#ASUNavMenu.affix { position: fixed; top: 0; width: 100%; }

.sticky-menu { position: sticky; position: -webkit-sticky; top: 0; }

/* =IMAGES --- IN PROGRESS
-------------------------------------------------------------- */
img { max-width: 100%; height: auto; vertical-align: bottom; }

/* WYSIWYG image spacing */
img.media-element.pull-right { margin-left: 20px; }

img.media-element.pull-left { margin-right: 20px; }

.img-circle, p.img-circle img { border-radius: 32px; }

.img-rounded, p.img-rounded img { border-radius: 4px; }

.img-thumbnail, p.img-thumbnail img { background-color: #fff; border: 1px solid #ddd; border-radius: 4px; display: inline-block; height: auto; line-height: 1.44; max-width: 100%; padding: 4px; transition: all 0.2s ease-in-out 0s; }

img.ws2-drop-shadow { box-shadow: 0 0.625em 1.25em rgba(0, 0, 41, 0.25); }

div.caption-inner { padding: 0; background: transparent; border: none; }
div.caption-inner > img { margin-bottom: 0; }
div.caption-inner p.caption-text, div.caption-inner .caption-text { padding: 1rem; font-size: 0.75rem; text-align: left; margin: 0; border: 1px solid #d0d0d0; border-top: none; }

/* =LISTS, ordered + unordered #WS2.0
-------------------------------------------------------------- */
.region-content #page-page *:not(div.pane-menu-tree) ul, .region-content #page-page *:not(div.pane-menu-tree) ol { padding-left: 0; list-style-type: none; }
.region-content #page-page *:not(div.pane-menu-tree) ul li:before, .region-content #page-page *:not(div.pane-menu-tree) ol li:before { font-weight: bolder; vertical-align: middle; }
.region-content #page-page *:not(div.pane-menu-tree) ul li:last-child, .region-content #page-page *:not(div.pane-menu-tree) ol li:last-child { padding-bottom: 0; }
.region-content #page-page *:not(div.pane-menu-tree) ul.ws2-element-maroon li:before, .region-content #page-page *:not(div.pane-menu-tree) ol.ws2-element-maroon li:before { color: #8c1d40; }
.region-content #page-page *:not(div.pane-menu-tree) ul.ws2-element-gray li:before, .region-content #page-page *:not(div.pane-menu-tree) ol.ws2-element-gray li:before { color: #191919; }
.region-content #page-page *:not(div.pane-menu-tree) ul > ul, .region-content #page-page *:not(div.pane-menu-tree) ul > ol, .region-content #page-page *:not(div.pane-menu-tree) ol > ul, .region-content #page-page *:not(div.pane-menu-tree) ol > ol { padding-left: 2em; }
.region-content #page-page *:not(div.pane-menu-tree) ul li:before { padding: 0 2.75em 0 0; margin: 0 -2em 0 0; content: "•"; font-size: 2em; }
.region-content #page-page *:not(div.pane-menu-tree) ul ul > li:before { content: "◦"; }
.region-content #page-page *:not(div.pane-menu-tree) ul ul ul > li:before { content: "•"; }
.region-content #page-page *:not(div.pane-menu-tree) ul ul ul ul > li:before { content: "◦"; }
.region-content #page-page *:not(div.pane-menu-tree) ul ul ul ul ul > li:before { content: "•"; }
.region-content #page-page *:not(div.pane-menu-tree) ol > li { padding-bottom: 1em; counter-increment: customlist; }
.region-content #page-page *:not(div.pane-menu-tree) ol > li:before { content: counter(customlist) " "; float: left; width: 2em; }
.region-content #page-page *:not(div.pane-menu-tree) ol > li:first-child { counter-reset: customlist; }
.region-content #page-page *:not(div.pane-menu-tree) ol.ws2-list-stepped > li { line-height: 2em; border-bottom: 1px solid #bfbfbf; padding-bottom: 2em; padding-top: 2em; }
.region-content #page-page *:not(div.pane-menu-tree) ol.ws2-list-stepped > li:before { font-weight: bold; font-size: 1.3125em; width: 5em; clip-path: circle(1rem); text-align: center; margin-left: -1.75em; }
.region-content #page-page *:not(div.pane-menu-tree) ol.ws2-list-stepped > li:last-child { border-bottom: transparent; }
.region-content #page-page *:not(div.pane-menu-tree) ol.ws2-list-stepped > li:before, .region-content #page-page *:not(div.pane-menu-tree) ol.ws2-list-stepped.ws2-element-maroon > li:before { background-color: #8c1d40; color: #fff; }
.region-content #page-page *:not(div.pane-menu-tree) ol.ws2-list-stepped.ws2-element-gray > li:before { background-color: #191919; color: #fff; }
.region-content #page-page *:not(div.pane-menu-tree) ol.ws2-list-stepped.ws2-element-gold > li:before { background-color: #ffc627; color: #191919; }

/* =TABLES --- IN PROGRESS
-------------------------------------------------------------- */
/* Default table styles */
table { background-color: #fff; margin-bottom: 1.5em; max-width: 100%; width: 100%; border: 1px solid #e8e8e8; }

table > tbody { border-top: none; }

table > thead > tr > th, table > thead > tr > td, table > tbody > tr > th, table > tbody > tr > td, table > tfoot > tr > th, table > tfoot > tr > td { border-top: 1px solid #bfbfbf; line-height: 1.44; padding: 8px 8px; vertical-align: top; }

table > thead > tr > th, table > thead > tr > td { border-bottom: 2px solid #bfbfbf; vertical-align: bottom; font-weight: bold; }

body:not(.page-admin) table > tbody > tr:nth-child(2n+1) { background-color: #fafafa; }

table > caption + thead > tr:first-child > th, table > caption + thead > tr:first-child > td, table > colgroup + thead > tr:first-child > th, table > colgroup + thead > tr:first-child > td, table > thead:first-child > tr:first-child > th, table > thead:first-child > tr:first-child > td { border-top: 0 none; }

table > tbody + tbody { border-top: 2px solid #bfbfbf; }

/* WYSIWYG Bordered table */
table.bordered { border-bottom: 1px solid #bfbfbf; border-left: 1px solid #bfbfbf; }

table.bordered > thead > tr > th, table.bordered > thead > tr > td, table.bordered > tbody > tr > th, table.bordered > tbody > tr > td, table.bordered > tfoot > tr > th, table.bordered > tfoot > tr > td { border-right: 1px solid #bfbfbf; }

table.bordered > tbody > tr:nth-child(2n+1) { background-color: #fff; }

table.bordered > caption + thead > tr:first-child > th, table.bordered > caption + thead > tr:first-child > td, table.bordered > colgroup + thead > tr:first-child > th, table.bordered > colgroup + thead > tr:first-child > td, table.bordered > thead:first-child > tr:first-child > th, table.bordered > thead:first-child > tr:first-child > td { border-top: 1px solid #bfbfbf; }

/* =CONTENT CALLOUTS --- NOT DONE
-------------------------------------------------------------- */
.node-content-callout { padding: 80px 0; }

.node-content-callout .col-md-12 .content-wrapper { max-width: 800px; margin-right: auto; margin-left: auto; text-align: center; }

.node-content-callout h2 { margin-bottom: 34px; font-size: 40px; }

.node-content-callout .btn { margin-top: 18px; }

.node-content-callout .col-md-6 img, .node-content-callout .col-md-6 .embedded-video { margin-top: 22px; }

/* =PANELS --- WS2.0 DONE
-------------------------------------------------------------- */
.panel { background-color: #fafafa; border: 1px solid #d0d0d0; }

.js-darkgraybg .panel, .js-lightgraybg .panel { background-color: #fff; }

/* =VIDEO --- WS2.0 DONE
-------------------------------------------------------------- */
/* Generic video */
.embedded-video, .media-youtube-video, .media-vimeo-video { position: relative; padding-bottom: 56.25%; padding-top: 0; height: 0; overflow: hidden; }

.embedded-video iframe, .embedded-video object, .embedded-video embed, .media-youtube-video iframe, .media-youtube-video object, .media-youtube-video embed, .media-vimeo-video iframe, .media-vimeo-video object, .media-vimeo-video embed { position: absolute !important; margin-top: 0 !important; margin-bottom: 0 !important; top: 0; left: 0; width: 100% !important; height: 100% !important; }

/* =BREADCRUMBS --- WS2.0 DONE
-------------------------------------------------------------- */
/** Breadcrumbs */
.easy-breadcrumb { background-color: transparent; margin: 2em 0; padding: 0; color: #484848; font-size: 0.875em; }

.easy-breadcrumb .easy-breadcrumb_segment-separator { padding: 0 0.3125rem; }

.easy-breadcrumb a { border-bottom: 0 none; }

/* =FLEXSLIDER SLIDESHOWS --- WS2.0 DONE
-------------------------------------------------------------- */
.flexslider { border: none; border-radius: 0; box-shadow: none; margin: 0 0 2.75rem; }

/* =ACCORDIONS --- NOT DONE (reorg'd)
-------------------------------------------------------------- */
.ui-accordion { margin: 3rem 0; color: #191919; font-family: Arial, Helvetica, "Nimbus Sans L", "Liberation Sans", FreeSans, sans-serif; font-size: 1rem; font-weight: 200; line-height: 1.44; }
.ui-accordion .ui-accordion-header { margin-top: 0; }
.ui-accordion .ui-accordion-header .ui-icon { left: auto; right: 0.5em; }
.ui-accordion h3.ui-accordion-header, .ui-accordion h4.ui-accordion-header { padding: 0.625rem 1.25rem; text-transform: uppercase; font-size: 1rem; }
.ui-accordion h3.ui-accordion-header.ui-corner-all, .ui-accordion h3.ui-accordion-header.ui-corner-top, .ui-accordion h4.ui-accordion-header.ui-corner-all, .ui-accordion h4.ui-accordion-header.ui-corner-top { border-top-right-radius: 0; border-top-left-radius: 0; }
.ui-accordion h3.ui-accordion-header.ui-state-default, .ui-accordion h4.ui-accordion-header.ui-state-default { background-color: #fff; border-top: 1px solid #e6e6e6; border-right: 1px solid #e6e6e6; border-bottom: 1px solid #fff; border-left: 1px solid #e6e6e6; color: #767676; }
.ui-accordion h3.ui-accordion-header.ui-state-default a, .ui-accordion h3.ui-accordion-header.ui-state-default a:link, .ui-accordion h3.ui-accordion-header.ui-state-default a:visited, .ui-accordion h4.ui-accordion-header.ui-state-default a, .ui-accordion h4.ui-accordion-header.ui-state-default a:link, .ui-accordion h4.ui-accordion-header.ui-state-default a:visited { color: #767676; }
.ui-accordion h3.ui-accordion-header.ui-state-default:last-of-type, .ui-accordion h4.ui-accordion-header.ui-state-default:last-of-type { border-top: 1px solid #e6e6e6; border-right: 1px solid #e6e6e6; border-bottom: 1px solid #e6e6e6; border-left: 1px solid #e6e6e6; }
.ui-accordion h3.ui-accordion-header.ui-state-active, .ui-accordion h4.ui-accordion-header.ui-state-active { border-top: 1px solid #e6e6e6; border-right: 1px solid #e6e6e6; border-bottom: 3px solid #191919; border-left: 1px solid #e6e6e6; color: #191919; }
.ui-accordion h3.ui-accordion-header.ui-state-active a, .ui-accordion h3.ui-accordion-header.ui-state-active a:link, .ui-accordion h3.ui-accordion-header.ui-state-active a:visited, .ui-accordion h4.ui-accordion-header.ui-state-active a, .ui-accordion h4.ui-accordion-header.ui-state-active a:link, .ui-accordion h4.ui-accordion-header.ui-state-active a:visited { color: #191919; }
.ui-accordion h3.ui-accordion-header .ui-state-hover a, .ui-accordion h3.ui-accordion-header .ui-state-hover a:focus, .ui-accordion h3.ui-accordion-header .ui-state-default a:focus, .ui-accordion h3.ui-accordion-header:focus, .ui-accordion h3.ui-accordion-header.ui-state-hover, .ui-accordion h4.ui-accordion-header .ui-state-hover a, .ui-accordion h4.ui-accordion-header .ui-state-hover a:focus, .ui-accordion h4.ui-accordion-header .ui-state-default a:focus, .ui-accordion h4.ui-accordion-header:focus, .ui-accordion h4.ui-accordion-header.ui-state-hover { color: #191919; }
.ui-accordion .ui-accordion-content { top: 0; border-top: 1px solid #e6e6e6; border-right: 1px solid #e6e6e6; border-bottom: 0 none; border-left: 1px solid #e6e6e6; margin-bottom: 0; margin-top: 0; padding: 20px; }
.ui-accordion .ui-accordion-content:last-of-type { border-bottom: 1px solid #e6e6e6; }
.ui-accordion .accordion-content { color: #191919; font-family: Arial, Helvetica, "Nimbus Sans L", "Liberation Sans", FreeSans, sans-serif; font-size: 1rem; font-weight: 200; line-height: 1.44; }
.ui-accordion .ui-icon { height: 13px; width: 13px; }
.ui-accordion .ui-accordion-header .ui-icon, .ui-accordion .ui-state-active .ui-icon, .ui-accordion .ui-state-default .ui-icon, .ui-accordion .ui-accordion .ui-state-active .ui-icon { background-image: url("/profiles/openasu/themes/innovation/images/accordion-arrows.png"); }
.ui-accordion .ui-icon-triangle-1-e { background-position: 0 0; }
.ui-accordion .ui-state-hover .ui-icon-triangle-1-e, .ui-accordion .ui-icon-triangle-1-s { background-position: 0 -13px; }

/** UI Tabs --- WS2.0 DONE
------------------------------------------------------------------------ */
/* fixes for stacked tabs */
body #content .ui-tabs .ui-tabs-nav li.ui-state-focus { margin-bottom: 0; }
body #content .ui-tabs .ui-tabs-nav li.ui-state-focus a { border-top: none; }
body #content .ui-tabs .ui-tabs-nav li a { margin-left: 0; border-bottom: transparent; clear: both; }

/* Devel debugging ------------------------------------------------------ */
.logged-in .alert > ul > li > [class^=krumo] { all: initial; }

.logged-in .alert .krumo-root .krumo-element:not(a) { color: #78be20; }

/* =ALERTS -------------------------------------------------------------- */
/** Alerts */
.alert { color: #191919; font-weight: 400; border-bottom-color: #191919; position: relative; margin: 16px 0; padding: 24px 24px; }
.alert a { color: #191919; border-bottom-color: #191919; }
.alert a.close { background-color: #fff; color: #191919; font-size: 1.25em; font-weight: bold; opacity: 0.8; border: 1px solid #d0d0d0; padding: 0.25rem 0.5rem 0.25rem 0.58rem; margin: 0 0 16px 16px; border-radius: 1rem; height: 2rem; width: 2rem; }
.alert a.close:hover { opacity: 1.0; color: #191919; border-bottom-color: #d0d0d0; cursor: pointer; }
.alert a.close + p:empty { margin-top: -1rem; padding-top: 0; background-color: red !important; }
.alert a:hover { color: #8c1d40; border-bottom-color: #8c1d40; cursor: pointer; }

.alert-success, .alert-info, .alert-danger, .alert-warning { padding-left: 6em; }
.alert-success:before, .alert-info:before, .alert-danger:before, .alert-warning:before { font-family: FontAwesome, sans-serif; font-size: 2rem; position: absolute; left: 0; top: 1.5rem; padding: 0 1.5rem; }

.alert-success { background-color: #e9f5db; border-color: #78be20; }
.alert-success:before { content: "\f058"; }

.alert-info { background-color: #d6f0fa; border-color: #00a3e0; }
.alert-info:before { content: "\f05a"; }

.alert-danger { background-color: #f7dddd; /* 20% opacity of official maroon */ border-color: #8c1d40; }
.alert-danger:before { content: "\f071"; }

.alert-warning { background-color: #ffeade; /* 33% opacity of official maroon */ border-color: #ff7f32; }
.alert-warning:before { content: "\f0f3"; }

.alert:not([class*="alert-"]), div[class='alert alert-block'] { /* Catch-all for default alert class */ background-color: #fafafa; border-color: #d0d0d0; }

/* Banners (FPPs) ------------------------------------------------------- */
/* Banners */
.pane-bundle-banners-ws2 { margin: 1rem 0; }
.pane-bundle-banners-ws2 > .pane-content { padding: 2rem 0; }
.pane-bundle-banners-ws2 > .pane-content .field-name-field-banner-title-int { font-weight: normal; font-size: 24px; margin: 0.5rem 0; padding: 0; }
.pane-bundle-banners-ws2.ws2-banner-success { background-color: #78be20; }
.pane-bundle-banners-ws2.ws2-banner-success a:not(.btn) { color: #191919; border-bottom-color: #191919; }
.pane-bundle-banners-ws2.ws2-banner-warning { background-color: #ff7f32; }
.pane-bundle-banners-ws2.ws2-banner-warning a:not(.btn) { color: #191919; border-bottom-color: #191919; }
.pane-bundle-banners-ws2.ws2-banner-info { background-color: #00a3e0; }
.pane-bundle-banners-ws2.ws2-banner-info a:not(.btn) { color: #191919; border-bottom-color: #191919; }
.pane-bundle-banners-ws2 .field-name-field-banner-color { display: none; }
.pane-bundle-banners-ws2 .pane-content { position: relative; }
.pane-bundle-banners-ws2 .pane-content .row > div:first-child { padding-left: 6rem; }
.pane-bundle-banners-ws2 .pane-content .row > div:first-child:before { font-family: FontAwesome, sans-serif; font-size: 2rem; position: absolute; left: 0; top: 0; padding: 0 1.5rem; content: "\f0f3"; }
.pane-bundle-banners-ws2 .pane-content .btn { padding-right: 1rem; padding-left: 1rem; }
.pane-bundle-banners-ws2 .pane-content .banner-close a.close.close { background-color: #fff; color: #191919; font-size: 1.25em; font-weight: bold; opacity: 0.8; border: 1px solid #d0d0d0; padding: 0.25rem 0.5rem 0.25rem 0.58rem; margin: 0 0 16px 16px; border-radius: 1rem; height: 2rem; width: 2rem; }
.pane-bundle-banners-ws2 .pane-content .banner-close a.close.close:hover { opacity: 1.0; color: #191919; border-bottom-color: #d0d0d0; cursor: pointer; }
.pane-bundle-banners-ws2 .pane-content .banner-close a.close.close + p:empty { margin-top: -1rem; padding-top: 0; background-color: red !important; }

/* =Alternate Element styles for 1) gray, 2) black, and 3) white --- IN PROGRESS
------------------------------------------------------------------------- */
/* =Alternate Element styles for 1) gray, 2) black, and 3) white
-------------------------------------------------------------- */
.region-content #page-page .ws2-element-alt { padding: 24px 24px; border-style: solid; border-width: 1px; /* #1 - Gray ---------------*/ /* #2 - Black ---------------*/ /* White */ }
.region-content #page-page .ws2-element-alt > *:first-child { padding-top: 0; margin-top: 0; }
.region-content #page-page .ws2-element-alt > *:last-child { padding-bottom: 0; margin-bottom: 0; }
.region-content #page-page .ws2-element-alt.ws2-element-alt-gray { color: #191919; background-color: #e8e8e8; border-color: #e8e8e8; }
.region-content #page-page .ws2-element-alt.ws2-element-alt-gray .ws2-element-style.btn-tag { background-color: #bfbfbf !important; }
.region-content #page-page .ws2-element-alt.ws2-element-alt-black { color: #fafafa; background-color: #191919; border-color: #191919; }
.region-content #page-page .ws2-element-alt.ws2-element-alt-black a { color: #ffc627; border-bottom-color: #ffc627; }
.region-content #page-page .ws2-element-alt.ws2-element-alt-black a:hover, .region-content #page-page .ws2-element-alt.ws2-element-alt-black a:focus { border-bottom-color: transparent; }
.region-content #page-page .ws2-element-alt.ws2-element-alt-black ul li:before, .region-content #page-page .ws2-element-alt.ws2-element-alt-black ol li:before { color: #fafafa; }
.region-content #page-page .ws2-element-alt.ws2-element-alt-black ul.ws2-element-style.ws2-element-gold li:before, .region-content #page-page .ws2-element-alt.ws2-element-alt-black ol.ws2-element-style.ws2-element-gold li:before { color: #ffc627; }
.region-content #page-page .ws2-element-alt.ws2-element-alt-black .ws2-element-style.btn-tag { background-color: #747474; border-color: #747474; color: #fff; }
.region-content #page-page .ws2-element-alt.ws2-element-alt-black .btn.btn-black { color: #191919; background-color: #ffc627; }
.region-content #page-page .ws2-element-alt.ws2-element-alt-white { border-color: #d0d0d0; }
.region-content #page-page .ws2-element-alt.ws2-element-alt-white .ws2-element-style.btn-tag { background-color: #e8e8e8; }

/* =ADMIN UI --- WS2.0 DONE (admin only)
------------------------------------------------------------------------- */
#top-content #tabs .nav-pills { padding: 0.5rem; background-color: #e8e8e8; /* dropdown items from nav pills */ }
#top-content #tabs .nav-pills li { padding-right: 0.5rem; }
#top-content #tabs .nav-pills li a { transition: all 0.5s cubic-bezier(0.19, 1, 0.19, 1) 0s; background-color: #fafafa; }
#top-content #tabs .nav-pills li a:hover { transform: scale(1.1); }
#top-content #tabs .nav-pills li a.active:hover { color: #fafafa; }
#top-content #tabs .nav-pills > li.active > a, #top-content #tabs .nav-pills > li.active > a:hover, #top-content #tabs .nav-pills > li.active > a:focus { background-color: #8c1d40; }
#top-content #tabs .nav-pills li.dropdown > ul.dropdown-menu a { background-color: transparent; border-bottom: transparent; }
#top-content #tabs .nav-pills li.dropdown > ul.dropdown-menu a:hover { background-color: #e8e8e8; color: #000; }

/* IPE */
#panels-ipe-control-container a { border-bottom: transparent; }

/* Ctools Modals */
.ctools-modal-content .btn { margin-top: 0.25em; padding: 4px 0.625em; font-size: 0.6925em; }

#modalContent .form-submit.btn { margin-bottom: 1em; padding: 6px 20px; font-size: 1.125em; }

.ctools-modal-content #edit-settings-spacing { -webkit-column-count: 3; -moz-column-count: 3; column-count: 3; -webkit-column-width: 15em; -moz-column-width: 15em; column-width: 15em; }

.panels-section-column-categories .panels-categories-box { margin-bottom: 0.5em; }

h2.widget-list { font-size: 0.9em; line-height: 1.4; margin: 0 0 0 0.625em; }

/* LH side categories */
#modalContent .panels-section-column-categories .content-type-button { top: 0.5em; line-height: 1.1em; font-size: 0.75em; }

#modalContent .panels-section-column-categories .content-type-button div, #modalContent .panels-section-column-categories .content-type-button span { left: 3em; position: absolute; top: 0.25em; width: 80%; }

#modalContent .panels-section-column-categories .content-type-button > a:hover > img, #modalContent .panels-section-column-categories .content-type-button > a > img:hover { border: 2px solid #fff; }

/* Main body of columns with content */
#modalContent .panels-section-columns > .panels-section-column .content-type-button { font: normal 0.9rem/1.5em Arial, Helvetica, "Nimbus Sans L", "Liberation Sans", FreeSans, sans-serif; top: 0; }

#modalContent .panels-section-columns > .panels-section-column .content-type-button div, #modalContent .panels-section-columns > .panels-section-column .content-type-button span { position: relative; top: 0; left: 0; }

#modal-content .form-tablefield input.form-submit.btn, #modalContent .form-tablefield input.form-submit.btn { background-color: #8c1d40 !important; }

ul.help-text { background-color: #fafafa; padding: 0.5em 1em; }

ul.help-text li { list-style: none; padding: 0.125em 0; line-height: 1.25; }

ul.help-text li.help-title { font-size: 0.875em; font-weight: bold; }

/* =FORMS --- WS2.0 DONE ------------------------------------------- */
.marker, .form-required { color: #b72a2a; }

/* =100% width fix for Bootstrap limitation --- SKIPPED (NEEDS REVIEW)
----------------------------------------------------- */
#header .container { padding-left: 0; padding-right: 0; }

#header > .container .row .col-md-12 { padding-right: 0; padding-left: 0; }

.section > .container, #footer > .container, #page-footer > .container { width: 100%; padding-left: 0; padding-right: 0; }

.section > .container .row, #footer > .container .row, #page-footer > .container .row { max-width: 1170px; margin: 0 auto; }

.section > .container .row-full, #footer > .container .row-full, #page-footer > .container .row-full { width: 100% !important; max-width: none; }

.section > .container .row-full .col-md-12, #footer > .container .row-full .col-md-12, #page-footer > .container .row-full .col-md-12 { padding-left: 0; padding-right: 0; }

.section > .container .row-full [class^="pane-"], #footer > .container .row-full .content, #page-footer > .container .row-full .region > div:not(.block-asu-brand) .content { max-width: 1170px; margin: 0 auto; padding-left: 15px; padding-right: 15px; }

#page-footer #innovation-top { padding-left: 15px; padding-right: 15px; }

/* WEBSPARK-1561 - footer positioning issues */
/* @TODO - remove these overrides when added to ASU global header/footer CSS */
#innovation-footer { position: relative; }
#innovation-footer .footer-menu ul { padding: 1em; }
#innovation-footer .footer-menu ul li { padding-bottom: 0; }

/* 100% width issue - override for flexslider; asuflex.css carries the rest after this rule
----------------------------------------------------- */
.section > .container .row-full .pane-bundle-asu-spotlight [class^="pane-"] { width: 100% !important; padding-left: 0; padding-right: 0; margin-left: 0; margin-right: 0; max-width: none !important; }

.row { padding: 0; margin: 0; }

#page-footer { background-color: #191919; }
#page-footer #block-asu-brand-asu-brand-footer { background-color: #e8e8e8; }

/** Token browsing modal --- SKIPPED (Admin only)
----------------------------------------------------- */
.ui-widget-content.ui-dialog.token-browser-container { background-color: #fff; padding: 0.5em; border: 1px solid #ddd; -webkit-border-radius: 0; -moz-border-radius: 0; border-radius: 0; }

.token-browser-container .ui-dialog-titlebar { background-color: #eaeaec; -webkit-border-radius: 0; -moz-border-radius: 0; border-radius: 0; }
.token-browser-container .ui-dialog-title { color: #333; padding-left: 1em; }
.token-browser-container table.treeTable > tbody > tr > td:not(first-child) { padding-top: 0.25em; padding-bottom: 0.25em; }

/** Accessibility --- WS2.0 DONE
----------------------------------------------------- */
a:focus, .ui-widget-content a:focus, input:focus, a.btn:focus, .btn a:focus, #skip_to_content:focus, #top-content #tabs .nav-pills > li.active > a:focus, h4.ui-accordion-header.ui-state-hover, h4.ui-accordion-header:focus { outline: 2px solid #191919; }

#innovation-footer .footer-menu ul li a:hover { color: #8c1d40; border-bottom: 1px dotted #8c1d40; }

/* CARDS -- WILL GO IN OWN SCSS FILE AFTER DEVELOPMENT */
