.asu-news-full-block {
    min-height: 440px;
}

.pane-asu-news-block {
    margin-top: 40px;

    .pane-title {
        .front & {
            clear: both;
        }

        @include respond-to-max(small) {
            padding-left: 15px !important;
            padding-right: 15px !important;
        }


        padding: 0 0 20px !important;
        border-bottom: 1px solid $white-two;
    }

    .pane-content {
        padding-top: 35px;
    }
}

.asu-block {
    &-left {
        margin-bottom: 20px;
        padding-left: 0;
        padding-right: 0;

        @include respond-to-min(large) {
            margin: 0;
        }


        .news-featured-teaser {
            @include respond-to-min(large) {
                display: flex;
                flex-direction: row;
            }


            .featured {
                &-left {
                    flex-shrink: 0;
                }

                &-right {
                    padding: 0;
                    position: relative;

                    p {
                        width: 100%;
                        word-break: break-word;
                    }

                    @include respond-to-min(large) {
                        padding: 50px 15px 0;
                    }


                    a {
                        border-color: transparent;
                        color: #2a2a2a;

                        &:hover {
                            color: #8C1D40;
                            border-color: #8C1D40;
                        }
                    }

                    .featured-saf {
                        background: $black-two;
                        color: white;
                        height: 45px;
                        display: flex;
                        align-items: center;
                        justify-content: center;

                        @include respond-to-min(large) {
                            align-items: center;
                            padding-left: 14px;
                            position: absolute;
                            left: 0;
                            top: 0;
                            width: 288px;
                            justify-content: flex-start;
                        }
                    }
                }
            }
        }
    }

    &-right {
        @include respond-to-min(large) {
            display: flex;
            flex-direction: column;
            height: 367px;
            justify-content: center;
        }


        article {
            flex: auto 0 0;
            display: flex;
            align-items: center;

            @include respond-to-min(large) {
                margin: 0 auto 20px;
            }


            &:last-child {
                margin-left: 0;
            }

            &:not(:last-child) {
                border-bottom: 1px solid $white-two;
                padding-bottom: 20px;

                @include respond-to-max(medium) {
                    padding-top: 20px;
                }
            }

            h3 {
                margin-top: 0;
                line-height: 1;

                @include fontSize(18px);

                margin: 0;

                a {
                    @extend %medium;

                    border-bottom: 1px dotted transparent !important;
                    line-height: 1.4;

                    &:hover {
                        color: #a30046;
                        border-color: #a30046 !important;
                    }
                }
            }

            img.asu-news-thumbnail {
                width: 163px;
                height: 92px;
                object-fit: cover;

                .front & {
                    width: 147px;
                    height: 147px;
                    object-fit: contain;
                }
            }

            .content {
                flex-shrink: 0;
                margin-right: 20px;

                @include respond-to-max(large) {
                    &:not(.front) & {
                        margin-bottom: 20px;
                    }
                }
            }
        }
    }
}

span[property*="dc:date"] {
    @include fontSize(15px);

    font-weight: 500;
}

.asu-news-highlighted-block {
    @include respond-to-min(large) {
        display: flex;
        align-items: flex-start;
        flex-direction: column;
        flex-wrap: wrap;

        .front & {
            flex-direction: row;
        }
    }


    article {
        flex: auto 0 0;
        margin: 0;
        width: auto;

        @include respond-to-min(medium) {
            width: 100%;

            @at-root .front .asu-news-highlighted-block article {
                width: 358px;
            }
        }


        .front & {
            margin: 0 auto;

            img {
                @include respond-to-max(medium) {
                    display: block;
                    margin: 0 auto;
                }
            }

            .featured-saf {
                display: flex;
                height: 45px;
                color: white;
                justify-content: center;
                align-items: center;
                text-transform: capitalize;
                background: $black-two;
                position: relative;
                top: -45px;
                margin-bottom: -45px;
            }
        }

        &:nth-child(2) {
            @include respond-to-min(large) {
                margin: 0 29px 0 0;

                .front & {
                    margin: 0 29px;
                }
            }
        }

        h3 {
            @include fontSize(21px);

            a {
                color: $black-two;
                border: none;

                &:hover {
                    color: #8C1D40;
                    border-bottom: 1px dotted #8C1D40;
                }
            }
        }
    }
}

@at-root .page-asu-news-listing .pane-content .asu-news-highlighted-block article > .content {
    flex-shrink: 1;
    width: 100%;
}

@at-root .page-asu-news-listing .pane-content .asu-news-highlighted-block article {
    @include respond-to-min(large) {
        margin-bottom: 20px;
    }
}

.page-news {
    p {
        @include fontSize(16px);

        width: 100%;
    }

    .section .pane-bundle-image {
        > h2.pane-title {
            @extend %bold;

            position: relative;
            color: white;

            @include fontSize(60px);

            @include respond-to-min(medium) {
                top: 25px;
            }


            @include respond-to-min(large) {
                top: 40px;
            }


            @include respond-to-min(xlarge) {
                top: 80px;
            }
        }

        .pane-content {
            margin-top: -85px;
            max-width: 100%;
            padding-left: 0;
            padding-right: 0;
        }
    }

    .pane-asu-news-asu-news-listing {
        margin-top: 100px;
    }

    .pane-content {
        article {
            border-bottom: 1px solid $white-two;
            margin-top: 30px;

            @at-root .page-asu-news-listing .asu-news-highlighted-block article {
                border: none;
                margin-top: 0;
            }

            &:first-child {
                margin-top: 40px;
            }

            &.featured {
                display: block;

                > div {
                    display: flex;

                    > div {
                        flex: 1 0 0;
                    }

                    .content {
                        margin-right: 27px;

                        > a {
                            border: none;
                        }

                        img {
                            width: 552px;
                            height: 311px;
                            object-fit: contain;
                        }
                    }
                }
            }

            @include respond-to-max(small) {
                padding-bottom: 25px;
            }


            @include respond-to-min(medium) {
                display: flex;
                padding-bottom: 40px;
                margin-bottom: 40px;
                padding-top: 0;

                @at-root .page-asu-news-listing .pane-content .featured {
                    display: block;

                    h3 {
                        @include fontSize(36px);
                    }

                    > div {
                        display: flex;

                        .content {
                            flex-shrink: 0;
                            margin-right: 28px;
                        }
                    }
                }

                @at-root .page-asu-news-listing .pane-content .asu-news-highlighted-block article {
                    flex-wrap: wrap;
                    padding-bottom: 20px;
                    margin-bottom: 0;
                }
            }


            > .content {
                margin-right: 28px;
                padding-bottom: 30px;
                flex-shrink: 0;

                @include respond-to-max(small) {
                    margin-right: 0;
                }


                > a {
                    border: none;
                }

                @at-root .page-asu-news-listing .asu-news-listing-wrapper article > .content {
                    flex-shrink: 1;
                }
            }

            img {
                width: 260px;
                height: 146px;
                object-fit: cover;

                @at-root .page-asu-news-listing .pane-content .featured img {
                    @include respond-to-min(medium) {
                        width: 552px;
                        height: 311px;
                        object-fit: cover;
                    }
                }

                @include respond-to-max(large) {
                    display: block;
                    margin: 0 auto 10px;
                }
            }

            h3 {
                margin-top: 0;
                margin-bottom: 10px;

                @at-root .page-asu-news-listing .pane-content .asu-news-highlighted-block article h3 {
                    margin-top: 10px;
                    margin-bottom: 4px;
                }

                a {
                    color: black;
                    border: none;

                    @at-root .page-news .pane-content article.featured h3 a {
                        @include fontSize(36px);
                    }

                    &:hover {
                        color: #8C1D40;
                        border-bottom: 1px dotted #8C1D40;
                    }
                }
            }
        }
    }
}

img.panopoly-image-full {
    @include respond-to-max(small) {
        object-fit: cover;
        min-height: 100px;
    }
}

.read-more-wrapper {
    a {
        font-weight: 400;
    }

    i {
        padding-left: 4px;
        color: #8C1D40;

        @include fontSize(10px);
    }
}

.node-type-asu-news {
    p {
        @include fontSize(18px);
    }

    [id="page-title"] {
        font-weight: 900;

        @include fontSize(60px);

        margin-top: 80px;
        word-break: break-word;
    }
}

.node-asu-news {
    .author-bio {
        .field-item {
            @include fontSize(18px);
        }

        h5 {
            margin: 0 0 5px;
        }
    }

    [id="author-info"] {
        img {
            border-radius: 50%;
            width: 84px;
            height: 84px;
            object-fit: cover;

            @include respond-to-min(large) {
                margin-right: 24px;
            }
        }

        @include respond-to-min(large) {
            display: flex;
            align-items: center;
        }
    }

    .asu-news {
        &-date-wrapper {
            font-weight: 500;

            @include fontSize(15px);

            margin-top: 20px;
            display: inline-block;
        }

        &-sub-title {
            @include fontSize(23px);

            font-weight: 500;
            margin-bottom: 20px;
        }

        &-boilerplate {
            font-style: italic;
            font-weight: 400;
            color: $black-three;
            margin-bottom: 20px;
        }
    }

    [class*="affiliation"],
    [class*="phone"],
    [class*="email"] {
        display: inline;
        color: #828282;

        > div {
            display: inline;
        }

        .field-item {
            font-weight: 400;

            @include fontSize(13px);

            display: inline;
        }
    }

    [class*="email"] {
        color: #a30046;
        font-weight: 400;
    }

    .caption {
        position: relative;
        &.caption-left {
            @include respond-to-min(small) {
                margin: 0 50px 20px 0;
            }
        }

        &.caption-left {
            @include respond-to-min(small) {
                &:after {
                    content: "";
                    background: $white-two;
                    width: 1px;
                    height: 100%;
                    position: absolute;
                    right: -25px;
                    top: 0;
                }
            }
        }

        &-inner {
            border: none;
            background: none;
            padding: 0;

            @include respond-to-min(small) {
                width: 358px;
            }


            [class*="image-quote"] {
                @include fontSize(16px);
            }

            img {
                @include respond-to-min(small) {
                    width: 358px;
                    height: auto;
                    object-fit: cover;
                }
            }
        }
    }
}

[id="page-footer"] {
    .front & {
        margin-top: 100px;
    }
}

.asu-news-load-more-btn {
    display: block;
    line-height: 52px;
    text-align: center;
    color: white;
    width: 346px;
    background: #a30046;

    @include fontSize(20px);

    border-radius: 4px;
    margin: 100px auto;

    &:hover, &:focus {
        color: white;
        background: #d23153;
    }

    @include respond-to-max(xsmall) {
        max-width: 100%;
    }
}

.section-bottom {
    hr {
        border: none;
    }
}

.asu-news-share {
    [id="asu-social-share-gigya-share"] {
        border-bottom: 2px solid $white-two;
        padding-bottom: 20px;
        margin-bottom: 15px;

        .asu-social-share-title {
            display: none;
        }

        a {
            color: black;
            border: none;

            @include fontSize(22px);

            padding-right: 26px;
        }
    }
}

#selectionSharerPopover-inner {
    width: 135px;

    ul {
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 0;

        li {
            flex: 1 0 0;
            display: flex;

            a {
                margin: 5px auto;

                &:hover {
                    color: #ffe397;
                }
            }
        }
    }
}

.selectionSharer a {
    &.action.copy {
        text-indent: 0;

        @include fontSize(13px);

        color: white;
        position: relative;

        &:before {
            content: " | ";
            color: transparentize(white, 0.6);
            position: absolute;
            left: -22px;
            top: 0;
        }
    }
}

.page-news .pane-content article.news-list-page-compact-teaser > .content {
    flex-shrink: 1;
}

.front .news-medium-teaser img {
    width: 358px;
    height: 201px;
    object-fit: cover;
}